{% for x in recs %}
<li class="list-group-item">
    <a href="/{{ kwd['router'] }}/{{ x.uid }}" title="{{ _(x.title) }}">
        {% if 'glyph' in kwd and kwd['glyph'] != '' %}
        <span class="{{ kwd['glyph'] }}"></span>
        {% else %}
        <span class="glyphicon glyphicon-list-alt"></span>
        {% end %}
        {{ _(x.title) }}
        {% if x.uid[0] == 'v' %}<span class="badge" style="color:yellow">v</span>{% end %}
    </a>
    {% if kwd['with_tag'] == True %}
    <span class="post_label">{% module app_tags(x.uid) %}</span>
    {% end %}
</li>
{% end %}
