{% for rec in recs %}
<li class="list-group-item">
    <a href="/{{kwd['router']}}/{{ rec.post_id }}">
        {% if 'glyph' in kwd and kwd['glyph'] != '' %}
        <span class="{{ kwd['glyph'] }}"></span>
        {% else %}
        <span class="glyphicon glyphicon-list-alt"></span>
        {% end %}
        {{ _(rec.post_title) }}
        {% if rec.post_id[0] == 'v' %}<span class="badge" style="color:yellow">v</span>{% end %}
    </a>
    <span style="font-size: small; color: #5e5e5e"> ({{ rec.count }})</span>
    {% if kwd['with_tag'] == True %}
    <span class="post_cat"> {% module app_tags(rec.post_id) %}</span>
    {% end %}
</li>
{% end %}

