{% extends 'iga_base.html' %}

{% block head %}
    <title>{{ cat_name }} List</title>
    <style>
        #map {
            width: 100%;
            height: 420px;
            border: 1px solid black;
            text-align: center;
            align-self: center;
            z-index: 1;
        }
    </style>
{% endblock %}
{% block mainbody %}
    <div class="row">
        <div class="col-sm-10">
            <div class="card-header">
                <h3>学科组名称: {{ cat_name }}</h3>
                <hr/>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">所属楼</th>
                        <th scope="col">所在楼层</th>
                        <th scope="col">房间号</th>

                        <th scope="col">用途</th>
                        <th scope="col">面积</th>
                        <th scope="col">备注</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for dat in data %}

                        <tr>
                            <td>{{ dat.building }}楼</td>
                            <td>
                                {{ dat.floor }}楼
                            </td>
                            <td>{{ dat.num }}</td>


                            <td>{{ dat.get_title_display }}</td>

                            <td>{{ dat.areafloat }}</td>

                            <td>{{ dat.staff }}</td>


                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="map" id="map"></div>
            </div>
        </div>

        <div class="col-sm-2">


            <div class="card card-body">
                <div class="card-title">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        学科组
                    </a>
                </div>
                <div class="collapse" id="collapseExample">
                    {% for cat in Category %}
                        {% if cat.group_type == '1' %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'iga_group:igagroup_datalist' cat.id %}" class="btn btn-success">
                                        {{ cat.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="card-title">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                       aria-expanded="false" aria-controls="collapseExample1">
                        管理支撑部门
                    </a>
                </div>
                <div class="collapse" id="collapseExample1">
                    {% for cat in Category %}
                        {% if cat.group_type == '2' %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'iga_group:igagroup_datalist' cat.id %}" class="btn btn-success">
                                        {{ cat.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="card-title">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button"
                       aria-expanded="false" aria-controls="collapseExample2">
                        野外台站
                    </a>
                </div>
                <div class="collapse" id="collapseExample2">
                    {% for cat in Category %}
                        {% if cat.group_type == '3' %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'iga_group:igagroup_datalist' cat.id %}" class="btn btn-success">
                                        {{ cat.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <SCRIPT>
        $(document).ready(function () {
            var data = JSON.stringify("{{ data_json|escapejs }}");
            var array = JSON.parse(data).replace('[', '').replace(']', '').replaceAll('\'', '').replace(/\s/g, "").split(',');
            console.log(data);
            console.log(array);
            console.log(typeof (array));


            var popup = L.popup();

            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("Location:" + e.latlng.toString())
                    .openOn(map);
            }

            var osm = L.tileLayer.chinaProvider('TianDiTu.Normal.Map', {
                id: "mapbox.streets"
            });

            var map = L.map('map', {
                center: [43.9985, 125.3964],
                zoom: 16,
                maxZoom: 22,
                minZoom: 1,
            });

            osm.addTo(map)
            map.on('click', onMapClick)
            var geojsonStyle = {
                color: '#222',
                weight: 1,
                opacity: 0.9,
                fillColor: '#fd8788',
                fillOpacity: 0.8
            };
            var highlightStyle = {
                weight: 1,
                color: '#666',
                dashArray: '',
                fillColor: 'red',
                fillOpacity: 0.7
            };
            fetch('https://martin.igadc.cn/')
                .then(response => response.json())
                .then(data => {
                    var geojsonLayer = L.geoJson(data, {
                        style: function () {
                            return geojsonStyle;
                        },
                        onEachFeature: function (feature, layer) {
                            if (array.includes(feature.properties.label)) {
                                layer.setStyle(highlightStyle);
                            }
                            layer.bindTooltip('<div><b>Name:' + feature.properties.name + '</b></div>' +
                                '<div><b>所属楼:' + feature.properties.floor + '楼</b></div>' +
                                '<div><b>房间号:' + feature.properties.roomid + '</b></div>', {
                                permanent: false,
                            });
                            layer.on('mouseover', function (e) {
                                e.target.setStyle({
                                    fillColor: '#0e8abd',
                                    fillOpacity: 0.6
                                });
                            });
                            layer.on('mouseout', function (e) {
                                if (array.includes(e.target.feature.properties.label)) {
                                    e.target.setStyle(highlightStyle);
                                } else {
                                    e.target.setStyle({
                                        fillColor: '#fd8788',
                                        fillOpacity: 0.8,
                                    });
                                }
                            });
                        }
                    }).addTo(map);
                })
                .catch(error => {
                    console.error('Error fetching GeoJSON:', error);
                });


        })


    </script>
{% endblock %}