{% extends 'iga_base.html' %}

{% block head %}
    <title>{{ cat_name }} List</title>
    <style>
        #map {
            width: 100%;
            height: 620px;
            border: 1px solid black;
            text-align: center;
            align-self: center;
            z-index: 1;
        }

        .btn-xs {
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            margin: 5px 3px;
        }
    </style>
{% endblock %}
{% block mainbody %}
    <div class="row">
        <div class="map" id="map"></div>
    </div>
    <div class="row">
        <div class="card-header" style="padding: 10px">

            <span style="float: right;margin-top: 1rem"> <a href="/iga_group/igaindex/">首页</a></span>
            <h3>学科组列表</h3>

            <hr/>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example"
             style="flex-wrap: wrap; gap: 0.5rem;display: block ">
            {% for cat in Category %}
                {#                <a class="btn btn-success btn-xs" href="{% url 'iga_group:igagroup_datalist' cat.id %}">#}
                <a class="btn btn-success btn-xs" onclick="update_info({{ cat.id }})">
                    {{ cat.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div id='content'>
            <div class="card-header">
                <h3>学科组名称: {{ cat_name }}</h3>
                <hr/>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">所属楼</th>
                        <th scope="col">所在楼层</th>
                        <th scope="col">房间号</th>

                        <th scope="col">用途</th>
                        <th scope="col">面积</th>
                        <th scope="col">备注</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for dat in data %}
                        <tr>
                            <td>{{ dat.building }}楼</td>
                            <td>
                                {{ dat.floor }}楼
                            </td>
                            <td>{{ dat.num }}</td>


                            <td>{{ dat.get_title_display }}</td>

                            <td>{{ dat.areafloat }}</td>

                            <td>{{ dat.staff }}</td>


                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <SCRIPT>
        var map;
        var geojsonLayer
        var geojsonStyle = {
            color: '#222',
            weight: 1,
            opacity: 0.9,
            fillColor: '#fd8788',
            fillOpacity: 0.8
        };
        var highlightStyle = {
            weight: 1,
            color: '#666',
            dashArray: '',
            fillColor: '#2b35fb',
            fillOpacity: 0.7
        };
        var zoulangStyle = {
            color: '#222',
            weight: 1,
            opacity: 0.9,
            fillColor: '#b9fce2',
            fillOpacity: 0.8
        }
        $(document).ready(function () {
            var data = JSON.stringify("{{ data_json|escapejs }}");
            var array = JSON.parse(data).replace('[', '').replace(']', '').replaceAll('\'', '').replace(/\s/g, "").split(',');


            var popup = L.popup();

            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("Location:" + e.latlng.toString())
                    .openOn(map);
            }

            var osm = L.tileLayer.chinaProvider('TianDiTu.Normal.Map', {
                id: "mapbox.streets",
                title: '天地图网格图',
                maxZoom: 22,
                minZoom: 1,
            });

            map = L.map('map', {
                center: [43.998615, 125.394398],
                zoom: 18,
                maxZoom: 22,
                minZoom: 1,
            });

            osm.addTo(map)

            fetch('https://martin.igadc.cn/')
                .then(response => response.json())
                .then(data => {
                    geojsonLayer = L.geoJson(data, {
                        style: function (feature) {
                            switch (feature.properties.name) {
                                case '走廊':
                                    return zoulangStyle;
                                case '大厅':
                                    return zoulangStyle;
                                default:
                                    return geojsonStyle; // 默认颜色
                            }
                        },
                        onEachFeature: function (feature, layer) {
                            if (array.includes(feature.properties.label)) {
                                console.log('dfd')
                                layer.setStyle(highlightStyle);
                            }
                            layer.bindTooltip('<div><b>Name:' + feature.properties.name + '</b></div>' +
                                '<div><b>所属楼:' + feature.properties.floor + '楼</b></div>' +
                                '<div><b>房间号:' + feature.properties.roomid + '</b></div>', {
                                permanent: false,
                            });
                            layer.on('mouseover', function (e) {
                                e.target.setStyle({
                                    fillColor: '#0e8abd',
                                    fillOpacity: 0.6
                                });
                            });
                            layer.on('mouseout', function (e) {
                                if (array.includes(e.target.feature.properties.label)) {
                                    e.target.setStyle(highlightStyle);
                                } else  if (e.target.feature.properties.name === '走廊' || e.target.feature.properties.name === '大厅') {
                                    e.target.setStyle(zoulangStyle);
                                } else {
                                    e.target.setStyle(geojsonStyle);
                                }
                            });
                        }
                    }).addTo(map);
                })
                .catch(error => {
                    console.error('Error fetching GeoJSON:', error);
                });


        })

        function update_info(groupid) {
            $.ajax({
                url: '/iga_group/ajax/update_info/',
                data: {
                    'groupid': groupid
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log('data')
                    console.log(map)

                    var title_html = `<div class="card-header"><h3>学科组名称:` + data.title + `</h3><hr/></div>`
                    var html = '';
                    $.each(data.data_list, function (item) {
                        html += `<tr><td>` + data.data_list[item]['building'] + `楼</td>` +
                            `<td>` + data.data_list[item]['floor'] + `楼</td>` +
                            `<td>` + data.data_list[item]['num'] + `</td>` +
                            `<td>` + data.data_list[item]['title'] + `</td>` +
                            `<td>` + data.data_list[item]['areafloat'] + `</td>` +
                            `<td>` + data.data_list[item]['staff'] + `</td></tr>`
                    });
                    var body_html = ` <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">所属楼</th>
                        <th scope="col">所在楼层</th>
                        <th scope="col">房间号</th>
                        <th scope="col">用途</th>
                        <th scope="col">面积</th>
                        <th scope="col">备注</th>
                    </tr>
                    </thead>
                    <tbody>`;
                    var end_html = `</tbody></table></div>`;
                    var res_html = title_html + body_html + html + end_html;
                    $('#content').html(res_html);
                    update_map(data.data_json)
                },
                error: function () {
                    console.log('Error occurred');
                }

            });
        }

        function update_map(array) {
            map.removeLayer(geojsonLayer)
            fetch('https://martin.igadc.cn/')
                .then(response => response.json())
                .then(data => {
                    geojsonLayer = L.geoJson(data, {
                        style: function (feature) {
                            switch (feature.properties.name) {
                                case '走廊':
                                    return zoulangStyle;
                                 case '大厅':
                                    return zoulangStyle;
                                default:
                                    return geojsonStyle; // 默认颜色
                            }
                        },
                        onEachFeature: function (feature, layer) {
                            if (array.includes(feature.properties.label)) {
                                layer.setStyle(highlightStyle);
                            }
                            layer.bindTooltip('<div><b>Name:' + feature.properties.name + '</b></div>' +
                                '<div><b>所属楼:' + feature.properties.floor + '楼</b></div>' +
                                '<div><b>房间号:' + feature.properties.roomid + '</b></div>', {
                                permanent: false,
                            });
                            layer.on('mouseover', function (e) {
                                e.target.setStyle({
                                    fillColor: '#0e8abd',
                                    fillOpacity: 0.6
                                });
                            });
                            layer.on('mouseout', function (e) {
                                if (array.includes(e.target.feature.properties.label)) {
                                    e.target.setStyle(highlightStyle);
                                } else if (e.target.feature.properties.name === '走廊' || e.target.feature.properties.name === '大厅') {
                                    e.target.setStyle(zoulangStyle);
                                } else {
                                    e.target.setStyle(geojsonStyle);
                                }
                            });
                        }
                    }).addTo(map);
                })
                .catch(error => {
                    console.error('Error fetching GeoJSON:', error);
                });
        }


    </script>
{% endblock %}