{% extends 'iga_base.html' %}

{% block head %}
    <title>{{ cat_name }} List</title>
    <style>
        #map {
            width: 100%;
            height: 420px;
            border: 1px solid black;
            text-align: center;
            align-self: center;
            z-index: 1;
        }
    </style>
{% endblock %}
{% block mainbody %}
    <div class="row">
        <div class="col-sm-10">
            <div class="card-header">
                <h3>学科组名称: {{ cat_name }}</h3>
                <hr/>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">所属楼</th>
                        <th scope="col">所在楼层</th>
                        <th scope="col">房间号</th>

                        <th scope="col">用途</th>
                        <th scope="col">面积</th>
                        <th scope="col">备注</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for dat in data %}

                        <tr>
                            <td>{{ dat.building }}楼</td>
                            <td>
                                {{ dat.floor }}楼
                            </td>
                            <td>{{ dat.num }}</td>


                            <td>{{ dat.get_title_display }}</td>

                            <td>{{ dat.areafloat }}</td>

                            <td>{{ dat.staff }}</td>


                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="map" id="map"></div>
            </div>
        </div>

        <div class="col-sm-2">


            <div class="card card-body">
                <div class="card-title">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        学科组
                    </a>
                </div>
                <div class="collapse" id="collapseExample">
                    {% for cat in Category %}
                        {% if cat.group_type == '1' %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'iga_group:igagroup_datalist' cat.id %}" class="btn btn-success">
                                        {{ cat.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="card-title">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                       aria-expanded="false" aria-controls="collapseExample1">
                        管理支撑部门
                    </a>
                </div>
                <div class="collapse" id="collapseExample1">
                    {% for cat in Category %}
                        {% if cat.group_type == '2' %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'iga_group:igagroup_datalist' cat.id %}" class="btn btn-success">
                                        {{ cat.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="card-title">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button"
                       aria-expanded="false" aria-controls="collapseExample2">
                        野外台站
                    </a>
                </div>
                <div class="collapse" id="collapseExample2">
                    {% for cat in Category %}
                        {% if cat.group_type == '3' %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'iga_group:igagroup_datalist' cat.id %}" class="btn btn-success">
                                        {{ cat.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <SCRIPT>
        $(document).ready(function () {
            var popup = L.popup();

            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("Location:" + e.latlng.toString())
                    .openOn(map);
            }

            var osm = L.tileLayer.chinaProvider('TianDiTu.Normal.Map', {
                id: "mapbox.streets"
            });

            var map = L.map('map', {
                center: [43.9985, 125.3964],
                zoom: 16,
                maxZoom: 22,
                minZoom: 1,
            });


            var gl = L.maplibreGL({
                style: 'https://demotiles.maplibre.org/style.json',
                interactive: true
            }).addTo(map);


            var maplibreMap = gl.getMaplibreMap();

            var paint = {

                'fill-extrusion-color': '#fd8788',
                "fill-extrusion-height": ["get", "height"],
                "fill-extrusion-base": ["get", "height"],
                "fill-extrusion-opacity": 1,
                // "fill-extrusion-ambient-occlusion-ground-attenuation": 0.6,

            }
            maplibreMap.on('load', () => {
                maplibreMap.addSource('tdt', {
                    type: 'raster',
                    tiles: ['http://t4.tianditu.gov.cn/DataServer?T=img_w&X={x}&Y={y}&L={z}&tk=57f1b8146ef867f14189f3f4bb1adc1c',
                        // 'http://t4.tianditu.gov.cn/DataServer?T=cia_w&X={x}&Y={y}&L={z}&tk=57f1b8146ef867f14189f3f4bb1adc1c',
                    ],
                    tileSize: 256
                });
                maplibreMap.addLayer({
                    id: 'tdt-layer',
                    type: 'raster',
                    source: 'tdt',
                    minzoom: 0,
                });
                maplibreMap.addLayer({
                    id: 'pp_cga1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga1'
                    },
                    'source-layer': 'pp_cga1',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_cga2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga2'
                    },
                    'source-layer': 'pp_cga2',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_cga3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga3'
                    },
                    'source-layer': 'pp_cga3',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_cga4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga4'
                    },
                    'source-layer': 'pp_cga4',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_cga5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga5'
                    },
                    'source-layer': 'pp_cga5',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_hja1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja1'
                    },
                    'source-layer': 'pp_hja1',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_hja2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja2'
                    },
                    'source-layer': 'pp_hja2',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_hja3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja3'
                    },
                    'source-layer': 'pp_hja3',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_hja4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja4'
                    },
                    'source-layer': 'pp_hja4',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_hja5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja5'
                    },
                    'source-layer': 'pp_hja5',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_nya1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya1'
                    },
                    'source-layer': 'pp_nya1',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_nya2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya2'
                    },
                    'source-layer': 'pp_nya2',
                    paint: paint,
                });

                maplibreMap.addLayer({
                    id: 'pp_nya3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya3'
                    },
                    'source-layer': 'pp_nya3',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_nya4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya4'
                    },
                    'source-layer': 'pp_nya4',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_nya5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya5'
                    },
                    'source-layer': 'pp_nya5',
                    paint: paint,
                });

                maplibreMap.addLayer({
                    id: 'pp_zha1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha1'
                    },
                    'source-layer': 'pp_zha1',
                    paint: paint,
                });

                maplibreMap.addLayer({
                    id: 'pp_zha2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha2'
                    },
                    'source-layer': 'pp_zha2',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_zha3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha3'
                    },
                    'source-layer': 'pp_zha3',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_zha4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha4'
                    },
                    'source-layer': 'pp_zha4',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_zha5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha5'
                    },
                    'source-layer': 'pp_zha5',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_sda1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda1'
                    },
                    'source-layer': 'pp_sda1',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_sda2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda2'
                    },
                    'source-layer': 'pp_sda2',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_sda3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda3'
                    },
                    'source-layer': 'pp_sda3',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_sda4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda4'
                    },
                    'source-layer': 'pp_sda4',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    id: 'pp_sda5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda5'
                    },
                    'source-layer': 'pp_sda5',
                    paint: paint,
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_cga1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga1'
                    },
                    'source-layer': 'pp_cga1',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_cga2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga2'
                    },
                    'source-layer': 'pp_cga2',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_cga3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga3'
                    },
                    'source-layer': 'pp_cga3',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_cga4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga4'
                    },
                    'source-layer': 'pp_cga4',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_cga5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_cga5'
                    },
                    'source-layer': 'pp_cga5',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_hja1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja1'
                    },
                    'source-layer': 'pp_hja1',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_hja2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja2'
                    },
                    'source-layer': 'pp_hja2',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_hja3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja3'
                    },
                    'source-layer': 'pp_hja3',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_hja4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja4'
                    },
                    'source-layer': 'pp_hja4',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_hja5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_hja5'
                    },
                    'source-layer': 'pp_hja5',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_nya1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya1'
                    },
                    'source-layer': 'pp_nya1',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_nya2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya2'
                    },
                    'source-layer': 'pp_nya2',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_nya3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya3'
                    },
                    'source-layer': 'pp_nya3',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_nya4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya4'
                    },
                    'source-layer': 'pp_nya4',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_nya5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_nya5'
                    },
                    'source-layer': 'pp_nya5',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_sda1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda1'
                    },
                    'source-layer': 'pp_sda1',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_sda2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda2'
                    },
                    'source-layer': 'pp_sda2',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_sda3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda3'
                    },
                    'source-layer': 'pp_sda3',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_sda4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda4'
                    },
                    'source-layer': 'pp_sda4',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_sda5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_sda5'
                    },
                    'source-layer': 'pp_sda5',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_zha1',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha1'
                    },
                    'source-layer': 'pp_zha1',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_zha2',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha2'
                    },
                    'source-layer': 'pp_zha2',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_zha3',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha3'
                    },
                    'source-layer': 'pp_zha3',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_zha4',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha4'
                    },
                    'source-layer': 'pp_zha4',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                maplibreMap.addLayer({
                    // id: 'MULTIPOLYGON',
                    id: 'multipolygon-hightlightpp_zha5',
                    type: 'fill-extrusion',
                    source: {
                        type: 'vector',
                        url: 'http://39.100.72.56:6799/pp_zha5'
                    },
                    'source-layer': 'pp_zha5',
                    paint: {
                        'fill-extrusion-color': '#0e8abd',

                    },
                    filter: ["in", "name", ["get", "name"]],
                });
                {#for(var i = 0;i < "{{ data }}".length; i++){#}
                {#    var dat = "{{ data }}"[i]#}
                {#    console.log('dat')#}
                {#    console.log(dat)#}

                  maplibreMap.setFilter("multipolygon-hightlightpp_zha1", ["in", "name", '监控室']);
            });
            maplibreMap.on('click', (e) => {
                const {point} = e;
                console.log(e)
                const clickedFeatures = maplibreMap.queryRenderedFeatures(point); // 查询点击处的要素
                var filter = clickedFeatures[0].properties.name;
                console.log(clickedFeatures[0])
                console.log(filter)
            })


        })


    </script>
{% endblock %}