{% extends "tmplinfo.html" %}
{% block typebody %}
<ol class="breadcrumb">
    <li>Current location：<a href="/">Home</a></li>


    <li class="active"> Modify</li>
</ol>
<div class="panel panel-black" id="guarantee">
    <div class="panel-heading">
        Modify-{{ postinfo.title }}
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="form_add_info" name="form_add_info" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label "></label>

                <div class="col-sm-10"><b> {{ _('Basic data information') }} : {{ kwd['parentname'] }} > {{
                    kwd['catname'] }}</b></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    Title：
                </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title"
                           value="{{ postinfo.title }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="gcat0">
                    <span class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></span>
                    Catagory：
                </label>

                <div class="col-sm-10">
                    <select class="form-control" name="gcat0" id="gcat0">
                        {% for taginfo in cat_enum %}
                        {% if not taginfo.uid.endswith('00') %}
                        <option value="{{ taginfo.uid }}" {% if taginfo.uid== postinfo.extinfo[
                        'gcat0'] %}
                        selected="selected"
                        {% end %} >{{taginfo.uid[:2]}}_{{ taginfo.name }}</option>
                        {% end %}
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    Label ：
                </label>

                <div class="col-sm-10">
                    <input type="text" id="tags" name="tags" value="{% for x in app2label_info %}
                {{ x.tag_name}},
                {% end  %}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">Picture</label>

                <div class="col-sm-10">
                    <input id="logo" name="logo" type="text" value="{{ postinfo.logo }}" class="form-control" readonly/>
                    <br>
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Upload picture</a>
                </div>
            </div>
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">File</label>

                <div class="col-sm-10">
                    <input id="ext_file" name="ext_file" type="text" value="{{ postinfo.extinfo.get('ext_file','')}}"
                           class="form-control" readonly/>
                    <br>
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal_file">Upload File</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    Content（Markdown） ：
                </label>

                <div class="col-sm-10">
                    <textarea class="form-control" rows=26 id="cnt_md" name="cnt_md">
                        {{ postinfo.cnt_md }}
                    </textarea>
                </div>
            </div>
            <hr/>
            {% block extrainfo %}{% end %}
            <hr/>
            <div class="form-group">
                <label class="col-sm-2 control-label "> </label>

                <div class="col-sm-10">
                    <input type="submit" name="post_submit" value="Submit" id="Button1"
                           class="btn btn-primary" role="button"/>
                </div>
            </div>
        </form>
         {% module upload_pic() %}
        {% module upload_file() %}
    </div>
</div>
{% end %}