{% set ii = 1 %}

<div class="panel-group" id="accordion">
    {% for x in recs %}
    {% if x.uid.endswith('00') %}
    <div class="panel panel-black">
        <div class="panel-heading">
            <h3 class="panel-title">
                <center>
                    <a href="/list/{{ x.slug }}" title="{{ _(x.name) }}" class="flbt">
                        {{ _(x.name) }}
                    </a>
                </center>

            </h3>
        </div>
    </div>

    <div class="panel panel-info">
        {% else %}
        <div class="panel-heading">
            <h5 class="panel-title">
                <span class="glyphicon glyphicon-book"></span>
                 <span class="fr"><a class="btn btn-primary btn-xs" href="/list/{{ x.slug }}"> {{ _('More') }}</a></span>

                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapse{{ii}}">
                    {{ _(x.name) }}
                </a>
            </h5>
        </div>

        <div id="collapse{{ii}}" class="panel-collapse collapse {% if catid == x.uid %} in {% end %}">
            <ul class="list-group">
                {% module post_cat_recent(x.uid, num = 40, with_date = False, with_catalog= False, order = True,post_uid= post_uid ) %}

            </ul>
        </div>

        {% set ii = ii + 1 %}
        {% end %}
        {% end %}

    </div>
</div>
