@charset "UTF-8";
body {
    margin: 0;
    background: #fff;
}
/* line 2, ../sass/_tags.sass */
.post_cat, .post_label {
  font-size: 0.8em;
  padding: 0px;
  display: inline;
}

/* line 25, ../sass/inc/_tags.sass */
/* line 9, ../sass/_tags.sass */
.post_cat a, .post_label a {
  color: #fff;
  text-decoration: none;
  margin: 1px 3px;
  padding: 2px 5px;
  border-radius: 2px;
  display: -moz-inline-box;
  display: inline-block;
}
/* line 17, ../sass/_tags.sass */
.post_cat a:hover, .post_cat a:focus, .post_label a:hover, .post_label a:focus {
  color: #fff;
  opacity: 0.8;
}

/* line 23, ../sass/_tags.sass */
.post_label a.tag1 {
  background-color: #88b9b9;
}
/* line 25, ../sass/_tags.sass */
.post_label a.tag2 {
  background-color: #de958f;
}
/* line 27, ../sass/_tags.sass */
.post_label a.tag3 {
  background-color: #a9c365;
}
/* line 29, ../sass/_tags.sass */
.post_label a.tag4 {
  background-color: #99b3dd;
}
/* line 31, ../sass/_tags.sass */
.post_label a.tag5 {
  background-color: #f9b593;
}

/* line 47, ../sass/inc/_tags.sass */
/* line 37, ../sass/_tags.sass */
.post_cat a.tag1 {
  background-color: #00adef;
}
/* line 39, ../sass/_tags.sass */
.post_cat a.tag2 {
  background-color: #e85461;
}
/* line 41, ../sass/_tags.sass */
.post_cat a.tag3 {
  background-color: #469c69;
}
/* line 43, ../sass/_tags.sass */
.post_cat a.tag4 {
  background-color: #c7e63f;
}
/* line 45, ../sass/_tags.sass */
.post_cat a.tag5 {
  background-color: #fc8e2c;
}

/* line 49, ../sass/_tags.sass */
.list-font li a, .list-font li a.btn {
  display: -moz-inline-box;
  display: inline-block;
  text-align: left;
}
/* line 54, ../sass/_tags.sass */
.list-font li a.btn-primary {
  color: #fff;
}
/* line 57, ../sass/_tags.sass */
.list-font li a.btn-default {
  color: #333333;
}

/* line 61, ../sass/_tags.sass */
.infoselect {
  font-size: 0.9em;
}
/* line 63, ../sass/_tags.sass */
.infoselect span {
  font-size: 0.9em;
  font-weight: normal;
  display: -moz-inline-box;
  display: inline-block;
  margin-bottom: 5px;
}
/* line 69, ../sass/_tags.sass */
.infoselect span:hover {
  cursor: pointer;
}

/* line 1, ../sass/_mainbody.sass */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

/* line 5, ../sass/_mainbody.sass */
a {
  color: #555;
}

/* line 8, ../sass/_mainbody.sass */
a:hover {
  text-decoration: none;
  color: #0e3f9b;
}

/* line 12, ../sass/_mainbody.sass */
.entry {
  margin-top: 20px;
  font-size: 13px;
  overflow: hidden;
}
/* line 17, ../sass/_mainbody.sass */
.entry h2 {
  padding: 0;
  text-align: left;
  color: #222222;
  border: none;
}
/* line 23, ../sass/_mainbody.sass */
.entry p {
  margin-bottom: 15px;
  text-indent: 24px;
}
/* line 27, ../sass/_mainbody.sass */
.entry .summary {
  padding: 8px 5px 6px 10px;
  font-size: 13px;
  background-color: #f5f5f5;
  border: 1px solid #dfdfdf;
}
/* line 33, ../sass/_mainbody.sass */
.entry img {
  margin-bottom: 10px;
  max-width: 620px;
}
/* line 37, ../sass/_mainbody.sass */
.entry ul, .entry ol {
  margin: 10px 20px;
  margin-left: 40px;
  list-style: disc;
}
/* line 42, ../sass/_mainbody.sass */
.entry ul li {
  list-style: disc;
}
/* line 45, ../sass/_mainbody.sass */
.entry ol li {
  list-style: decimal;
}
/* line 48, ../sass/_mainbody.sass */
.entry a {
  color: #006699;
  text-decoration: none;
}
/* line 52, ../sass/_mainbody.sass */
.entry a:hover {
  color: #3399cc;
  text-decoration: underline;
}

/* line 55, ../sass/_mainbody.sass */
.carousel .item {
  height: 400px;
  background-color: #777;
}

/* line 59, ../sass/_mainbody.sass */
.carousel-inner > .item > img {
  position: absolute;
  left: 0;
  min-width: 100%;
  height: 400px;
}


/* line 69, ../sass/_mainbody.sass */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  display: block;
}

/* line 74, ../sass/_mainbody.sass */
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 88, ../sass/_mainbody.sass */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #333;
}

/* line 96, ../sass/_mainbody.sass */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:disabled {
  color: #fff;
  background: #e2570b;
}

/* line 105, ../sass/_mainbody.sass */
.navbar-default {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  background: #f05c0a;
}
/* line 111, ../sass/_mainbody.sass */
.navbar-default .navbar-brand {
  color: #fff;
}
/* line 114, ../sass/_mainbody.sass */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: #e2570b;
}
/* line 119, ../sass/_mainbody.sass */
.navbar-default .navbar-brand .active > a {
  color: #000;
}
/* line 121, ../sass/_mainbody.sass */
.navbar-default .navbar-brand .active > a:hover, .navbar-default .navbar-brand .active > a:focus {
  color: #000;
}
/* line 123, ../sass/_mainbody.sass */
.navbar-default .navbar-brand .disabled > a {
  color: #4f3f26;
  background-color: transparent;
}
/* line 126, ../sass/_mainbody.sass */
.navbar-default .navbar-brand .disabled > a:hover, .navbar-default .navbar-brand .disabled > a:focus {
  color: #4f3f26;
  background-color: transparent;
}
/* line 129, ../sass/_mainbody.sass */
.navbar-default .navbar-toggle {
  border-color: #31708f;
}
/* line 131, ../sass/_mainbody.sass */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle .icon-bar .navbar-collapse, .navbar-default .navbar-toggle .navbar-form .navbar-nav .open a {
  color: #4f3f26;
  background-color: #4F3F26;
}
/* line 134, ../sass/_mainbody.sass */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #4f3f26;
  background-color: #4F3F26;
}
/* line 137, ../sass/_mainbody.sass */
.navbar-default .navbar-link {
  color: #07262e;
}
/* line 139, ../sass/_mainbody.sass */
.navbar-default .navbar-link:hover {
  color: #fff;
  background-color: #4F3F26;
}

/* line 144, ../sass/_mainbody.sass */
.floatR {
  color: #1d75b3;
}

/* line 148, ../sass/_mainbody.sass */
.panel-default .panel-heading {
  background: #fefded;
  border-bottom: 2px solid #ff4400;
  color: #333;
}

/* line 152, ../sass/_mainbody.sass */
.big {
  cursor: pointer;
  transition: all 0.6s;
}

/* line 156, ../sass/_mainbody.sass */
.big:hover {
  transform: scale(1.1);
}

/* line 159, ../sass/_mainbody.sass */
.bor_bottom {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 164, ../sass/_mainbody.sass */
.list-title {
  border-bottom: 2px solid #2782af;
  padding-bottom: 10px;
  color: #2782af;
  font-weight: bold;
}

/* line 170, ../sass/_mainbody.sass */
.formland {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 176, ../sass/_mainbody.sass */
.category_title {
  border-bottom: 1px solid #2782af;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: #1f8dd6;
}

/* line 182, ../sass/_mainbody.sass */
.entrycontent {
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
}

/* line 189, ../sass/_mainbody.sass */
.list-font li a, .list-font li a.btn {
  display: -moz-inline-box;
  display: inline-block;
  text-align: left;
}

/* line 194, ../sass/_mainbody.sass */
.red {
  color: #ff0000;
}

/* line 197, ../sass/_mainbody.sass */
.test {
  position: fixed;
  float: right;
  z-index: 99999;
  margin: 90px auto;
}

/* line 203, ../sass/_mainbody.sass */
.panel-black {
  border-color: #ddd;
  border-radius: 0;
}
/* line 206, ../sass/_mainbody.sass */
.panel-black .panel-heading {
  color: #333;
  background-color: #f9f9f9;
  border-color: #ddd;
  border-top: 2px solid #315c8c;
  border-radius: 0;
}
/* line 214, ../sass/_mainbody.sass */
.panel-black .panel-heading a {
  color: #333;
}
/* line 217, ../sass/_mainbody.sass */
.panel-black .active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 221, ../sass/_mainbody.sass */
.panel-black .active a {
  color: #fff;
}
/* line 223, ../sass/_mainbody.sass */
.panel-black .active:hover {
  background: #666;
}
/* line 226, ../sass/_mainbody.sass */
.panel-black .tab-content .active {
  color: #716b7a;
  background-color: #fff;
  border-color: #fff;
}
/* line 230, ../sass/_mainbody.sass */
.panel-black .tab-content a {
  color: #666;
}
/* line 232, ../sass/_mainbody.sass */
.panel-black .tab-content:hover {
  color: #006699;
}
/* line 235, ../sass/_mainbody.sass */
.panel-black .tab-content .post_cat a {
  color: #fff;
}

/* line 238, ../sass/_mainbody.sass */
.panel-osgeo-map {
  border-color: #666;
}
/* line 241, ../sass/_mainbody.sass */
.panel-osgeo-map .panel-heading {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 245, ../sass/_mainbody.sass */
.panel-osgeo-map .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #666;
}
/* line 247, ../sass/_mainbody.sass */
.panel-osgeo-map .panel-heading .panel-footer + .panel-collapse > .panel-body {
  border-color: #337ab7;
}
/* line 249, ../sass/_mainbody.sass */
.panel-osgeo-map .panel-heading a {
  color: #fff;
}
/* line 252, ../sass/_mainbody.sass */
.panel-osgeo-map .active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 256, ../sass/_mainbody.sass */
.panel-osgeo-map .active a {
  color: #fff;
}
/* line 258, ../sass/_mainbody.sass */
.panel-osgeo-map .active:hover {
  background: #666;
}

/* line 261, ../sass/_mainbody.sass */
.panel-blue {
  border-color: #bfd1e8;
}
/* line 264, ../sass/_mainbody.sass */
.panel-blue .panel-heading {
  color: #555;
  background-color: #abe2f7;
  border-color: #bfd1e8;
}
/* line 269, ../sass/_mainbody.sass */
.panel-blue .panel-heading a {
  color: #fff;
}
/* line 272, ../sass/_mainbody.sass */
.panel-blue .active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 276, ../sass/_mainbody.sass */
.panel-blue .active a {
  color: #fff;
}
/* line 278, ../sass/_mainbody.sass */
.panel-blue .active:hover {
  background: #666;
}
/* line 281, ../sass/_mainbody.sass */
.panel-blue .tab-content .active {
  color: #716b7a;
  background-color: #fff;
  border-color: #fff;
}
/* line 285, ../sass/_mainbody.sass */
.panel-blue .tab-content a {
  color: #006699;
}
/* line 287, ../sass/_mainbody.sass */
.panel-blue .tab-content:hover {
  background: #006699;
}
/* line 290, ../sass/_mainbody.sass */
.panel-blue .tab-content .post_cat a {
  color: #fff;
}

/* line 293, ../sass/_mainbody.sass */
.fr {
  float: right;
}

/* line 296, ../sass/_mainbody.sass */
.copyright {
  font-size: 15px;
  color: #fff;
}

/* line 300, ../sass/_mainbody.sass */
.label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  min-height: 20px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/* line 312, ../sass/_mainbody.sass */
.label-default {
  background-color: #777;
}

/* line 315, ../sass/_mainbody.sass */
.label-default[href]:hover, .label-default[href]:focus {
  background-color: #5e5e5e;
}

/* line 318, ../sass/_mainbody.sass */
.btn-primary a {
  color: #fff;
}

/* line 321, ../sass/_mainbody.sass */
.date {
  float: right;
}

/* line 324, ../sass/_mainbody.sass */
.footer {
  background: #fefded;
  border-top: 2px solid #ff4400;
  color: #fff;
}
/* line 328, ../sass/_mainbody.sass */
.footer a {
  color: #555;
}
/* line 330, ../sass/_mainbody.sass */
.footer a:hover {
  color: #00adef;
}

/* line 333, ../sass/_mainbody.sass */
.list-post {
  padding: 5px 10px;
}

/* line 336, ../sass/_mainbody.sass */
.list-post.active,
.list-post.active:hover,
.list-post.active:focus {
  text-shadow: 0 -1px 0 #286090;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #2b669a;
}

/* line 348, ../sass/_mainbody.sass */
.list-post.active .badge,
.list-post.active:hover .badge,
.list-post.active:focus .badge {
  text-shadow: none;
}

/* line 359, ../sass/_mainbody.sass */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #31708f;
  color: #fff;
}

/* line 363, ../sass/_mainbody.sass */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #31708f;
  color: #fff;
}

/* line 368, ../sass/_mainbody.sass */
.pantit {
  border: 1px solid #2782af;
  width: 35%;
  padding: 5px 5px;
  margin-bottom: -2px;
  background: #2782af;
  color: #fff;
  line-height: 20px;
  font-size: 18px;
  text-indent: 12px;
}

/* line 379, ../sass/_mainbody.sass */
.sltit {
  border: 1px solid #2782af;
  margin: 5px;
  font-size: 16px;
}

/* line 383, ../sass/_mainbody.sass */
.pantita {
  border: 1px solid #2782af;
  width: 12%;
  padding: 5px 5px;
  display: block;
  background: #2782af;
  color: #fff;
  line-height: 20px;
  font-size: 18px;
  text-indent: 12px;
}

/* line 394, ../sass/_mainbody.sass */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

/* line 405, ../sass/_mainbody.sass */
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #878787;
  border: 1px solid #878787;
  border-radius: 0px;
}

/* line 416, ../sass/_mainbody.sass */
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fd8d0b;
  border: 1px solid #fd8d0b;
}

/* line 422, ../sass/_mainbody.sass */
.panel-head {
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: 3px solid #315c8c;
  padding: 10px 15px;
  margin-bottom: 5px;
}

/* line 429, ../sass/_mainbody.sass */
.listinfo_content, .listinfo_title {
  word-wrap: break-word;
}
/* line 432, ../sass/_mainbody.sass */
.listinfo_content img, .listinfo_title img {
  width: 100%;
  font-weight: bold;
}
/* line 436, ../sass/_mainbody.sass */
.listinfo_content em, .listinfo_content i, .listinfo_title em, .listinfo_title i {
  font-style: italic;
}
/* line 438, ../sass/_mainbody.sass */
.listinfo_content li, .listinfo_title li {
  list-style-type: disc;
}
/* line 440, ../sass/_mainbody.sass */
.listinfo_content a, .listinfo_title a {
  color: #006892;
}
/* line 443, ../sass/_mainbody.sass */
.listinfo_content p a, .listinfo_title p a {
  color: #006892;
}

/* line 445, ../sass/_mainbody.sass */
.bor {
  border-bottom: 1px dashed #ddd;
  margin: 15px 0;
}

/* line 448, ../sass/_mainbody.sass */
.spacer-100 {
  height: 50px;
  clear: both;
  width: 100%;
}

/* line 452, ../sass/_mainbody.sass */
.border-heading {
  border-top: 1px solid #1a495f;
  font-size: 30px;
  text-align: center;
}

/* line 457, ../sass/_mainbody.sass */
.border-heading span {
  background: #fff;
  padding: 20px 30px;
  display: inline-block;
  top: -45px;
  margin-bottom: -45px;
  position: relative;
}

/* line 2, ../sass/_codemirror.sass */
.CodeMirror {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

/* line 6, ../sass/_codemirror.sass */
.cm-s-default .cm-trailing-space-a:before,
.cm-s-default .cm-trailing-space-b:before {
  position: absolute;
  content: "·";
  color: #777;
}

/* line 12, ../sass/_codemirror.sass */
.cm-s-default .cm-trailing-space-new-line:before {
  position: absolute;
  content: "↵";
  color: #777;
}

/* line 17, ../sass/_codemirror.sass */
table.diff {
  font-family: Courier;
  font-size: x-small;
  border: medium;
  width: 99%;
}

/* line 22, ../sass/_codemirror.sass */
.diff_header {
  background-color: #e0e0e0;
}

/* line 24, ../sass/_codemirror.sass */
td.diff_header {
  text-align: right;
}

/* line 26, ../sass/_codemirror.sass */
.diff_next {
  background-color: #c0c0c0;
}

/* line 28, ../sass/_codemirror.sass */
.diff_add {
  background-color: #aaffaa;
}

/* line 30, ../sass/_codemirror.sass */
.diff_chg {
  background-color: #ffff77;
}

/* line 32, ../sass/_codemirror.sass */
.diff_sub {
  background-color: #ffaaaa;
}

/* line 2, ../sass/_map.sass */
#map {
  margin: auto;
  text-align: center;
  align-self: center;
  width: 99%;
  height: 640px;
  border: 1px black solid;
}

/* line 10, ../sass/_map.sass */
a.skiplink {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 19, ../sass/_map.sass */
a.skiplink:focus {
  clip: auto;
  height: auto;
  width: auto;
  background-color: #ffffff;
  padding: 0.3em;
}

/* line 26, ../sass/_map.sass */
#mapdiv {
  margin: 0 auto;
  width: 100%;
  height: 200px;
  border: 1px solid #dddddd;
}
.hden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}
.catago {
    border-bottom: 3px solid #ff4400;
    margin-bottom: 10px;
}
.block0 a {
    margin: 5px;
    color: #555
}

.block0 a:hover {
    color: #111
}
.block0 h4 {
    background-color: #fefded;
    border-bottom: 1px solid #ff4400;
    text-indent: 12px;
    font-size: 15px;
    height: 40px;
    line-height: 40px
}
.panel-info {
    border-color: #ddd
}

.panel-info .panel-heading {
    background: #fefded;
    border-bottom: 2px solid #ff4400;
    color: #333;
}

.panel-info .panel-heading a {
    color: #333
}
.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default
}


.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed
}

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}
.pagination li:hover {
    cursor: pointer
}