@charset "UTF-8";
.CodeMirror {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.cm-s-default .cm-trailing-space-a:before,
.cm-s-default .cm-trailing-space-b:before {
  position: absolute;
  content: "·";
  color: #777;
}

.cm-s-default .cm-trailing-space-new-line:before {
  position: absolute;
  content: "↵";
  color: #777;
}

table.diff {
  font-family: Courier;
  font-size: x-small;
  border: medium;
  width: 99%;
}

.diff_header {
  background-color: #e0e0e0;
}

td.diff_header {
  text-align: right;
}

.diff_next {
  background-color: #c0c0c0;
}

.diff_add {
  background-color: #aaffaa;
}

.diff_chg {
  background-color: #ffff77;
}

.diff_sub {
  background-color: #ffaaaa;
}

.lead {
  color: #fff;
  font-size: 40px;
}

.price {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.btn a {
  color: #fff;
}

.date {
  float: right;
}

.data {
  float: right;
  margin-top: 12px;
}

.jlmain {
  margin-top: 100px;
}

.itme_list {
  height: 390px;
}

.borbtm {
  border: 1px dashed #ddd;
}

.post_cat, .post_label {
  font-size: 1em;
  padding: 0px;
  display: inline;
}

/* line 25, ../sass/inc/_tags.sass */
.post_cat a, .post_label a {
  border: 1px solid #fc4c02;
  border-radius: 10px;
  color: #fc4c02;
  text-decoration: none;
  margin: 1px 3px;
  padding: 1px 5px 1px;
  display: -moz-inline-box;
  display: inline-block;
}
.post_cat a:hover, .post_cat a:focus, .post_label a:hover, .post_label a:focus {
  color: #fc4c02;
  opacity: 0.8;
}

.post_label a {
  background: #fff;
}
.post_label a.tag1 {
  background-color: #fff;
}
.post_label a.tag2 {
  background-color: #fff;
}
.post_label a.tag3 {
  background-color: #fff;
}
.post_label a.tag4 {
  background-color: #fff;
}
.post_label a.tag5 {
  background-color: #fff;
}

/* line 47, ../sass/inc/_tags.sass */
.post_cat a {
  background: #03aeef;
}
.post_cat a.tag1 {
  background-color: #00adef;
}
.post_cat a.tag2 {
  background-color: #e85461;
}
.post_cat a.tag3 {
  background-color: #469c69;
}
.post_cat a.tag4 {
  background-color: #c7e63f;
}
.post_cat a.tag5 {
  background-color: #fc8e2c;
}

.infoselect {
  font-size: 0.9em;
}
.infoselect span {
  padding: 5px 5px 3px;
  font-size: 0.9em;
  font-weight: normal;
  display: -moz-inline-box;
  display: inline-block;
  margin-bottom: 5px;
}
.infoselect span:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/static/tass/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("/static/tass/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/static/tass/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("/static/tass/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("/static/tass/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}
/* GLOBAL STYLES
 *-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.padt10 {
  padding-top: 10px;
}

a:hover {
  cursor: pointer;
  color: #fc4c02;
}

/* 应用于一个具体类名为 .background-image 的元素 */
.background-image {
  background: url("/images/yaou_background.original.jpg");
  background-size: cover;
  /* 背景图片覆盖整个元素 */
  background-repeat: no-repeat;
  /* 背景图片不重复 */
  background-position: center;
  /* 背景图片居中 */
  width: 100%;
  /* 元素宽度 */
  height: 100%;
}

/* 元素高度 */
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Center align the text within the three columns below the carousel */
/* Featurettes
 *------------------------- */
.featurette-divider {
  margin: 80px 0;
}

/* Space out the Bootstrap <hr> more */
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
 *-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
  }
}
/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Nav: second level (shown on .active) */
/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed;
    /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute;
    /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* Widen the fixed sidebar */
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom, .bs-sidebar.affix {
    width: 263px;
  }
}
/* Docs sections
 *
 * Content blocks for each component or feature. */
/* Space things out */
.bs-docs-section + .bs-docs-section {
  padding-top: 40px;
}

/* Janky fix for preventing navbar from overlapping */
h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}

.footer {
  color: #999;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #eee;
  height: 200px;
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer li {
  list-style: none;
  font-size: 13px;
  color: #929191;
}
.footer li a {
  color: #929191;
}

.dropdown a {
  color: #262626;
}

.navbar-default .dropdown-menu > li > a {
  color: #262626;
}
.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca 0, #357ebd 100%);
  background-image: -moz-linear-gradient(top, #428bca 0, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-color: #357ebd;
}

.no-list-style {
  list-style: none;
}

.leaflet-control {
  font-size: 12px;
}

.card-header {
  width: 100%;
  border-bottom: 3px solid #fc4c02;
  background: #fff;
}
.card-header a {
  text-underline: none;
}
.card-header b {
  font-size: 13px;
}
.card-header b a {
  text-underline: none;
}
.card-header em {
  float: right;
  padding-right: 10px;
}
.card-header em a {
  font-size: 12px;
}
.card-header em a:hover {
  text-underline: none;
}

.card .card-header {
  width: 100%;
  background: #f5f7fa;
  color: #333;
}
.card .card-header a {
  text-underline: none;
}
.card .card-header b {
  font-size: 13px;
}
.card .card-header b a {
  text-underline: none;
}
.card .card-header em {
  float: right;
  padding-right: 10px;
}
.card .card-header em a {
  font-size: 12px;
}
.card .card-header em a:hover {
  text-underline: none;
}

.bor_bottom {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.listinfo_content, .listinfo_title, .entrycontent {
  word-wrap: break-word;
}
.listinfo_content img, .listinfo_title img, .entrycontent img {
  width: 100%;
}
.listinfo_content a, .listinfo_title a, .entrycontent a {
  font-weight: bold;
  text-underline: none;
}
.listinfo_content em, .listinfo_content i, .listinfo_title em, .listinfo_title i, .entrycontent em, .entrycontent i {
  font-style: italic;
}
.listinfo_content li, .listinfo_title li, .entrycontent li {
  list-style-type: disc;
}

.white {
  color: #303133;
  font-size: 16px;
}

.line {
  width: 80%;
  max-width: 50px;
  height: 1px;
  background: #fc4c02;
  margin-top: 5px;
}

.red {
  color: #f00;
}

.hden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

.title {
  font-size: 16px;
}

@media (min-width: 461px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-static-top {
    border-radius: 0;
  }

  .navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-header {
    float: left;
  }
}
.index_document h3 {
  border-bottom: 1px solid #31708f;
  padding-bottom: 10px;
}
.index_document img {
  float: right;
  width: 100px;
  margin: 10px;
}
.index_document p {
  margin-bottom: 20px;
}

.navbar-dark {
  background: #301333;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.navbar-dark .navbar-nav li a {
  color: #fff;
  font-size: 14px;

}
.navbar-dark .navbar-nav li a:hover {

  color: #fff;
}
.navbar-dark .navbar-nav li a.current {
  border-bottom: 3px solid #fff;
  color: #fff;
}
.navbar-dark .navbar-nav li a.ula {
  color: #fff;

}
.navbar-dark .navbar-nav li .dropdown-menu a {
  color: #333;
}
.navbar-dark .navbar-nav li .dropdown-menu a:hover {
  color: #fff;
}

.border-heading {
  font-size: 28px;
  font-weight: bold;
}

.border-heading span {
  padding: 20px 30px;
  display: inline-block;
  border-bottom: 2px solid #04182d;
  top: -45px;
  left: 20px;
  margin-bottom: -45px;
  position: relative;
}

.leaflet-control {
  font-size: 12px;
}
