#####################################
.idea/
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

## Configure for TorCMS/torlite

.DS_Store
xx*
# config.py
cfg.py
*.sqlite
*.pkl
*.db
*.rdb

database/whoosh
database/whoosh*

static/upload/
static/f2elib/
static/tass/.sass-cache/
static/tass/sass/partial
templates/pycate/autogen/
templates/autogen/

torcms_helper
api_doc
api_html

torcms_tester
flasky/static
templates/modules