.post_cat, .post_label
  font-size: 1em
  padding: 0px
  display: inline

/* line 25, ../sass/inc/_tags.sass

.post_cat a, .post_label a
  border: 1px solid #fc4c02
  border-radius: 10px
  color: #fc4c02
  text-decoration: none
  margin: 1px 3px
  padding: 1px 5px 1px
  display: -moz-inline-box
  display: inline-block
  &:hover, &:focus
    color: #fc4c02
    opacity: 0.8

.post_label a
  background: #fff
  &.tag1
    background-color: #fff
  &.tag2
    background-color: #fff
  &.tag3
    background-color: #fff
  &.tag4
    background-color: #fff
  &.tag5
    background-color: #fff
/* line 47, ../sass/inc/_tags.sass

.post_cat a
  background: #03aeef
  &.tag1
    background-color: #00adef
  &.tag2
    background-color: #e85461
  &.tag3
    background-color: #469c69
  &.tag4
    background-color: #c7e63f
  &.tag5
    background-color: #fc8e2c
.infoselect
  font-size: 0.9em
  span
    padding: 5px 5px 3px
    font-size: 0.9em
    font-weight: normal
    display: -moz-inline-box
    display: inline-block
    margin-bottom: 5px
  span:hover
    cursor: pointer
