{% extends "../../theme/bage.html" %}
{% block typebody %}
<ol class="breadcrumb">
    <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
    <li><a href="/user/info"> {{ _('User') }}</a></li>
    <li>{{ _('Recent use') }}</li>
</ol>
<div class="panel panel-black">
    <div class="panel-heading">
        {{ _('Recent use') }}
    </div>
    <div class="panel-body">
        <div class=" marketing">
            <div class="row-fluid home-tab-fluid">
                <div class="row-fluid tabbedmain hidden-phone" id="tabselector">


                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item  ">
                            {#                        <li class="span3 active main-selector main-tabs">#}
                            <a href="#tab1" data-toggle="tab" role="tab" class="home-tab-a">
                                <span class="tabfix">
                                    <h4>{{ _('Map') }}</h4>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            {#                        <li class="span3 main-selector main-tabs">#}
                            <a href="#tab2" data-toggle="tab" role="tab" class="home-tab-a">
                                <span class="tabfix">
                                    <h4>{{ _('Document') }}</h4>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="#indexcontent">
                <div class="tab-pane active fade in" role="tabpanel" aria-labelledby="" id="tab1">
                    <div class="row-fluid">
                        <ul class="list-group">
                            {% module app_recent_used(userinfo=userinfo,kind = 'm',num = 20,with_tag=True,glyph="glyphicon glyphicon-map-marker") %}
                        </ul>

                    </div>
                </div>
                <div class="tab-pane fade in" role="tabpanel" aria-labelledby="" id="tab2">
                    <div class="row-fluid">
                        <ul class="list-group">
                            {% module app_recent_used(userinfo = userinfo,kind = '1',num = 20,with_tag=True) %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                {{ _('Article link') }}： <a href="/user_list/user_recent" style="color:#069">{{ _('Recent use') }}</a>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <div class="widget_baidu_share">{% module baidu_share() %}</div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block right %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ _('Application classification') }}
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu(40) %}
        </ul>
    </div>
</div>
{% end %}
