{% extends "../../theme/bage.html" %}
{% block typebody %}
<ol class="breadcrumb">
    <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
    <li><a href="/user/info"> {{ _('User') }}</a></li>
    <li>{{ _('Recent use') }}</li>
</ol>
<div class="panel ">
    <div class="panel-heading bg-secondary text-white">
        {{ _('Recent use') }}
    </div>
    <div class="panel-body">
        <div class=" marketing">


            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">
                          <span class="tabfix">
                                    <h4>{{ _('Map') }}</h4>
                                </span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="false">
                                <span class="tabfix">
                                    <h4>{{ _('Document') }}</h4>
                                </span>
                    </a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list-group">
                        {% module app_recent_used(userinfo=userinfo,kind = 'm',num = 20,with_tag=True,glyph="glyphicon glyphicon-map-marker") %}
                    </ul>

                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list-group ">
                        {% module app_recent_used(userinfo = userinfo,kind = '1',num = 20,with_tag=True) %}
                    </ul>
                </div>
            </div>


        </div>
    </div>


    <script type="text/javascript">


        var triggerEl = document.querySelector('#myTab a[href="#tab1-tab"]')
        bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name

        var triggerFirstTabEl = document.querySelector('#myTab li:first-child a')
        bootstrap.Tab.getInstance(triggerFirstTabEl).show() // Select first tab
    </script>


    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                {{ _('Article link') }}： <a href="/user_list/user_recent"
                                            style="color:#069">{{ _('Recent use') }}</a>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <div class="widget_baidu_share">{% module baidu_share() %}</div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block right %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ _('Application classification') }}
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% module app_menu(40) %}
        </ul>
    </div>
</div>
{% end %}
