{% extends parent_template %}
{% block head %}
    <title>{{ _('Scientific - Model Catagories') }}</title>

{% endblock %}
{% block mainbody %}

    <div class="wrapper">
        <div class="row mt-3">

                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">
                        {{ _('Scientific - Models') }}
                    </li>
                </ul>

        </div>
        <div class="content">
            <div class="container-fluid">
                <h3>Scientific - Model </h3>
                <div class="row">
                    <div class="col-sm-3">
                        {% include "yj_catalog_of.html" with Category=Category %}
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}