{% extends "../torcms_maplet/map_full.html" %}
{% block head %}
<title>{{ postinfo.title }} | {{ _('Map drawing') }} | {{ _('online map') }} | {{ _('Maplet') }}</title>
<meta name="description" content="{{ postinfo.title }} | {{ _('Map drawing') }} | {{ _('online map') }} | {{ _('Maplet') }}">
<meta name="keywords" content="{{ postinfo.title }} | {{ _('Map drawing') }} | {{ _('online map') }} | {{ _('Maplet') }}">
<meta name="description" content="">
<style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100%;
    }
</style>


<link href="{{ static_url('maplet/dist_me/app.css') }}" rel="stylesheet">
<script>
    var site_url = "{% module site_url() %}"
</script>
{% block headinfo %}
{% end %}
{% end %}
{% block mainbody %}


<div id="q-app"
     data-map='{"i": "{{postinfo.uid}}",
            "x":{{ kwd['vlon'] if 'vlon' in kwd else postinfo.extinfo['ext_lon'] }},
"y": {{ kwd['vlat'] if 'vlat' in kwd else postinfo.extinfo['ext_lat'] }},
"v": {{ kwd['vzoom'] if 'vzoom' in kwd else postinfo.extinfo['ext_zoom_current'] }},
"m": {{ postinfo.extinfo['ext_zoom_max'] }},
"n" : {{ postinfo.extinfo['ext_zoom_min'] }},
"k": {{ kwd['marker']}},
"g": "{{ kwd['geojson'] }}",
"e": 1,
"login": {{ kwd['login'] }}
}'></div>



<script src="http://cdn.bootcss.com/vue/2.4.1/vue.min.js"></script>
<script src="http://cdn.bootcss.com/vuex/2.2.1/vuex.min.js"></script>



<script src=http://cdn.bootcss.com/paper.js/0.11.3/paper-core.min.js></script>

<script type=text/javascript src="{{ static_url('maplet/dist_me/js/manifest.js') }}"></script>
<script type=text/javascript src="{{ static_url('maplet/dist_me/js/vendor.js') }}"></script>
<script type=text/javascript src="{{ static_url('maplet/dist_me/js/app.js') }}"></script>


{% end %}


