{% extends "anso_base.html" %}

{% block head %}
<title>{{ cat_name }} List</title>
{% endblock %}
{% block mainbody %}
<div class="col-sm-9">
    <div class="card">
        <div class="card-header">
          <h3>  {{ cat_name }}</h3>
        </div>
        {% if data %}
        <div class="panel-body">
            <div class="row">
            {% for dat in data %}
            <li class="list-group-item">

                <div class="row ">

                    <div class="col-sm-12">
                        <div class="listinfo_title">
                            <a href="{% url 'qgismap:map_view' mapid=dat.id category='anso' %}" title="{{ dat.title }}"> {{ dat.title }} </a>
                        </div>
                       <br>
{#                                            <div class="padt10"><strong>{{ _('Label') }}：</strong>#}
{#                                                {% for label in dat.label.all %}#}
{#                                                    <a href="{% url 'qgis_label:qgis_label_datalist' label.id %}"#}
{#                                                       class="btn btn-xs btn-primary">#}
{#                                                        {{ label }}#}
{#                                                    </a> &nbsp;&nbsp;#}
{#                                                {% endfor %}#}
{#                                            </div>#}
{#                                            <br>#}

                        <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>
                        <br>
                        <div class="listinfo_content padt10"> {{ dat.cnt_md | truncatechars:130}}</div>
                    </div>

                </div>
            </li>

            {% endfor %}


            <br>
            <div class="row">
            <div class="col-sm-12">
                       {% include "page.html"  with  data=data %}
            </div>
            </div>
</div>
        </div>

        {% endif %}
    </div>
</div>
<div class="col-sm-3">
     <div class="card-header">
        地图分类
    </div>
    {% include "map_catalog_of.html" with Category=Category cat_name='anso' %}

</div>
{% endblock %}