{% extends "../templates/theme/bage.html" %}
{% block head %}
<title>下载数据 - 地球大数据分类与标签演示</title>
<meta name="description" content="下载数据,地球大数据分类与标签演示">
<meta name="keywords" content="下载数据,地球大数据分类与标签演示">
{% end %}
{% block typebody %}
<div class="container mainbh">
    <div class="panel panel-black">
        <div class="panel-heading"><h1 style="font-size: 22px">下载数据</h1></div>
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ out_docx }}">下载数据</a>

        </div>
    </div>
</div>
{% end %}