{% extends "../theme/map_calcubic_full.html" %}
{% block head %}
<title>{{ postinfo.title }}|Map drawing | online map|Maplet</title>
<meta name="keywords" content="{{ postinfo.keywords }},Online maps, Maplet, map sketchboards">
<script type="text/javascript" src="{{ static_url('jslib/dst/leafedit.js') }}"></script>
<meta name="description" content="">
<style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100%;
    }
</style>
<script>
    window.ondragstart = function() { return false; }
var map_uid = "{{ postinfo.uid[1:] }}";
var vlon = {{ kwd['vlon'] if 'vlon' in kwd else postinfo.extinfo['ext_lon'] }};
var vlat = {{ kwd['vlat'] if 'vlat' in kwd else postinfo.extinfo['ext_lat'] }};
var vzoom_current = {{ kwd['vzoom'] if 'vzoom' in kwd else postinfo.extinfo['ext_zoom_current'] }};
var vzoom_max = {{ postinfo.extinfo['ext_zoom_max'] }};
var vzoom_min = {{ postinfo.extinfo['ext_zoom_min'] }};
var vmarker = {{ kwd['marker']}};
var geojsonid = "{{ kwd['geojson'] }}";
    var login = {{ kwd['login'] }};
</script>

{% block headinfo %}
{% end %}
{% end %}
{% block zhuti %}
<span id="pycode"></span>
<div id="map" class="map" tabindex="0"></div>
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div>
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="http://www.maplet.org"><span class="glyphicon glyphicon-globe"></span>
                Maplet</a></li>
            <li><a href="/map/{{ postinfo.uid }}?gson={{ kwd['geojson'] }}">Close the full screen</a></li>

            <li></li>
            {% if kwd['geojson'] != '' %}
            <li><a href="/geojson/download/maplet_geojson_{{ kwd['geojson'] }}.json">Download data</a></li>
            {% end %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>{% if kwd['login'] != 1 %}<a style="color:#ff0">Save data after logging in！</a>{% end %}</li>
            <li><a id="infor"></a></li>
            <li>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Paste GeoJson Data" id="hdata">
                        <input type='button' value=' Add GeoJson' id='load_geojson' class="btn btn-primary btn-inverse">
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
<script src="{{ static_url('jslib/maplet/fullscreenm.js') }}"></script>
{% end %}


