{% extends "../theme/bage.html" %}
{% block head %}
{% block headinfo %}
{% end %}
{% end %}
{% block typebody %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <p class="lead">Cloud GIS application and map resource cloud online historical map and thematic map OSGeo China Center China Academy of Sciences northeast geographic Institute Changchun</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {#
                <div class="col-md-2">
                    <a href="/geojson/draw" class="btn btn-lg btn-primary" style="margin-top: 30px;margin-left:20px;"
                       target="_blank">Create a map</a>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <div>The map is a collection of Atlas Information System (AIS), which is supported by a multi - technical means.

It is an online version of the traditional Thematic Atlas, with technical means such as data visualization and data spatialization.

The design and establishment of a collection of data, software in one of the Web Thematic Atlas system.
                            <div>
                                {% if userinfo %}
                                <div class="bg-info text-info"> The user has logged in and can save the created map</div>
                                {% else %}
                                <div class="bg-warning text-warning"> Save the created map, please

<a href= "/user/login" class= "btn btn-warning btn-sm" > login </a>

Then use it.
                                </div>
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
                #}
                <div class="col-md-12">
                    <div class="well">
                        {% module show_page(page_id = 'volunteers') %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-black"> {% module app_catalog_of('m100', slug = True) %}</div>
                    <div class="panel panel-black">{% module app_catalog_of('mb00', slug = True ) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('m300', slug = True ) %}</div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-black"> {% module app_catalog_of('m500', slug = True) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('m700', slug = True ) %}</div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-black">{% module app_catalog_of('m900', slug = True ) %}</div>
                    <div class="panel panel-black"> {% module app_catalog_of('ma00', slug = True ) %}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-black">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Recently used
                    </h3>
                </div>
                <ul class="list-group">
                    {% if userinfo is None %}
                    {% module app_recent_used('m', 10) %}
                    {% else %}
                    {% module app_user_recent(userinfo.uid, 'm', 6) %}
                    {% end %}
                </ul>
            </div>
            <div class="panel panel-black">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Use most
                    </h3>
                </div>
                <ul class="list-group">
                    {% if userinfo is None %}
                    {% module app_most_used('m', 10) %}
                    {% else %}
                    {% module app_user_most(userinfo.uid, 'm', 6) %}
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}
