{% extends "../../ext_excel/tpl_viewssss.html" %}
    {% block header %}
    <h1>{{ header_text }}</h1>
    {% end %}

    {% block extrainfo %}

    <div id="iga_view_rec_box">
    <span class="label label-primary" style="margin-right:10px">{% if 'zt' in postinfo.extinfo and postinfo.extinfo["zt"][0] == "1" %}
         有花无果 {% end %}{% if 'zt' in postinfo.extinfo and postinfo.extinfo["zt"][0] == "2" %}
         无花有果 {% end %}</span>
    </div>

    {% end %}

    {% block footer %}
    <p>{{ footer_text }}</p>
    {% end %}