{% extends "../theme/bage.html" %}
{% block typebody %}
<div class="mtop">
    <ul class="breadcrumb">
        <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
        <li class="active">{{ postinfo.title }}</li>
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading"><b> {{ postinfo.title }} </b></div>
    <div class="panel-body"><p>
        <!--{{ datetime.datetime.fromtimestamp(postinfo.time_update).strftime('%Y-%m-%d') }}-->
        <!--<span class="split">|</span>-->
        <!--{{ _('author') }} : {{ _('admin') }}-->
        {% if userinfo and kwd.get('can_review',False) %}
        <!--<span class="split">|</span>-->

        <a href="/page/_edit/{{ postinfo.uid }}" class="btn btn-warning btn-xs">{{ _('Edit') }}</a>

        <span class="cmts"><a href="/page_man/view/{{ postinfo.uid  }}"
                              class="btn btn-xs btn-danger"> {{ _('Review') }}</a></span>
        {% end %}
    </p>
        <div id="wiki_cnt" class="listinfo_content">
            {% raw unescape(postinfo.cnt_html) %}
        </div>
    </div>
</div>
{% end %}



