{% extends "../theme/bage.html" %}
{% block typebody %}
{% module use_f2e('codemirror') %}
<div class="mtop">
    <ul class="breadcrumb">
       <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Add Page') }}</li>
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading"><b> {{ _('Add Page') }} </b></div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form">
            <input type=hidden name=slug value="{{ kwd['slug'] }}">
            <fieldset>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label"> {{ _('Title') }}</label>

                    <div class="col-sm-10">
                        <input type="text" id="title" name="title" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cnt_md" class="col-sm-2 control-label"> {{ _('Content') }}</label>

                    <div class="col-sm-10">
                        <textarea rows=16 id="cnt_md" name="cnt_md" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub1" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input id="sub1" type="submit" value=" {{ _('Submit') }}" class="btn btn-primary"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% end %}
