{% extends "../theme/bage.html" %}
{% block head %}

{% end %}
{% block headinfo %}
{% end %}
{% block typebody %}
<div class="mtop">
    <ul class="breadcrumb">
        <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
        <li><a href="/wiki/recent">Wiki</a></li>
        <li class="active">{{ postinfo.title }}</li>
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="listinfo_title">
            {{ postinfo.title }}
        </h3>

    </div>
    <div class="panel-body">
        {{ datetime.datetime.fromtimestamp(postinfo.time_update).strftime('%Y-%m-%d') }}
        <span class="split">|</span>
        {{ _('author') }} : {{ postinfo.user_name }}
        {% if userinfo and kwd.get('can_edit',False) %}
        <span class="cmts"><a href="/wiki/_edit/{{ postinfo.uid }}" class="btn btn-xs btn-warning">
            <span class="glyphicon glyphicon-pencil"></span>
            {{ _('Edit') }}</a></span>
        {% end %}
        {% if userinfo and kwd.get('can_review',False) %}
        <span class="cmts">
            <a href="/wiki_man/view/{{ postinfo.uid }}" class="btn btn-xs btn-danger"> {{ _('Review') }}</a>
        </span>
        {% end %}
        <div id="wiki_cnt" class="listinfo_content">
            {% raw unescape(postinfo.cnt_html ) %}
        </div>
    </div>
</div>
{% end %}


