{% extends "../../theme/overlay.html" %}
{% block headinfo %}
<style>
    #map {
        width: 100%;
        height: 640px;
    }
</style>
<SCRIPT>
    var vlon = {{ kwd['lon']}};
    var vlat = {{ kwd['lat']}};
    var vzoom_current = {{ kwd['zoom_current'] }};
    var vzoom_max = {{ kwd['zoom_max']}};
    var vzoom_min = {{ kwd['zoom_min']}};

</script>
{% end %}
{% block content %}
<span id="pycode"></span>
<div class="single">
    <input id="app_ctrl" value="{{ app_str }}" style="display: none;">

    <div class="entry">
        <div id="map" class="map" tabindex="0"></div>
    </div>
</div>
<br><br>
<div class="panel panel-black">
    <div class="panel-heading">
        Open separately：
    </div>
    <ul class="list-group">
        {% for x in app_arr %}
        <li class="list-group-item"><a href="/map/{{ x.uid }}">{{ x.uid}} | {{ x.title }}</a></li>
        {% end %}
    </ul>
</div>
<script src="{{ static_url('jslib/maplet/overlaym.js') }}"></script>
{% end %}
