<style>

    .reply_index {
        font-size: 13px;
        font-weight: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    .reply_index h1, h2, h3, h4, h5, h6 {
        font-size: 13px;
        font-weight: normal;


    }
</style>


{% for reply in replys %}


{#                <div class="reply_title">#}
{#                    <div style="width: 30px;height: 30px" class="pull-left">{% module user_profile_by_id(reply.user_id) %}</div>&nbsp;&nbsp;  {{ reply.user_name }}#}
{#                   <span class="pull-right"> <span class=" glyphicon glyphicon-time"></span>&nbsp;#}
{#        {{ str(reply.date).split('.')[0] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>#}
{#                </div>#}


<div class="reply_index">
    {% raw unescape(reply.cnt_html) %}

</div>


{% end %}
