{% extends "../theme/bage.html" %}
{% block head %}
<title>{{ _('Directory') }} </title>
<meta name="keywords" content="{{ _('Directory') }}">
<meta name="description" content="{{ _('Directory') }}">
<style type="text/css">
    #map_div {
        width: 100%;
        height: 430px;
        border: 1px solid black;
        text-align: center;
        align-self: center;
        z-index: 1;
    }
</style>
<script>
    $(document).ready(function () {


        $("#subit").click(function () {
            var keyw = $("#keyw9").val();
            var isweb = $('input:radio[name="isweb"]:checked').val();

            window.location = "/directory_search/search/" + keyw + "/" + isweb;
        });

        $("#keyw9").keydown(function (event) {
            var keyw = $("#keyw9").val();
            var isweb = $('input:radio[name="isweb"]:checked').val();
            if (event.keyCode == 13) {


                window.location = "/directory_search/search/" + keyw + "/" + isweb;
            }
        });
    });
</script>
{% end %}
{% block typebody %}
<div class="row">
    <div class="col-sm-12">
        <div id="map_div"></div>
        <Br>

    </div>
</div>
<div class="row" >


    <div class="col-sm-4">
        <div class="panel panel-black">
            {% module post_catalog_of('d100',kind='d') %}
        </div>
        <div class="panel panel-black">
            {% module post_catalog_of('d200',kind='d') %}
        </div>
        <div class="panel panel-black">
            {% module post_catalog_of('d300',kind='d') %}
        </div>

    </div>


    <div class="col-sm-4">
        <div class="panel panel-black">
            {% module post_catalog_of('d400',kind='d') %}
        </div>
        <div class="panel panel-black">
            {% module post_catalog_of('d500',kind='d') %}
        </div>
        <div class="panel panel-black">
            {% module post_catalog_of('d600',kind='d') %}
        </div>
        <div class="panel panel-black">
            {% module post_catalog_of('da00',kind='d') %}
        </div>
        <div class="panel panel-black">
            {% module post_catalog_of('db00',kind='d') %}

        </div>

    </div>
 <div class="col-sm-4">
            <div class="panel panel-black">

            <div class="panel-body">


                <form action="/directory_search/" class="form-horizontal mart15">

                    <legend>{{ _('searching in Directory') }}</legend>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" id="keyw9" placeholder="{{ _('Enter the key words') }}"
                                   class="form-control"
                                   onKeyDown="if(event.keyCode==13)return false;">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="radio" id="isweb" name="isweb" value="1" checked> {{ _('In Website') }}<br><br>
                            <input type="radio" id="isweb" name="isweb" value="2" > {{ _('Distributed') }}
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                              <a type="submit" class="btn btn-primary" id="subit">{{ _('Search') }}</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-body">
                <p><a href="/directory_search/"> Advanced search</a></p>
                <h3>Introduction</h3>
                <p>
                    In order to exchange and interoperate metadata with other data centers,
                    DRRKS deploys pycsw tool to publish metadata.
                </p>
                <p>Pycsw is the Python language implementation of OGC CSW server,
                    and is also the CSW tool recommended by OGC.
                    Because pycsw uses many open source geospatial libraries,
                    it is easier to install under the Linux operating system.
                    In practical use, Debian Linux is deployed with Python 3.5 runtime environment.
                </p>
                <p>
                    Unlike other CSW servers,
                    pycsw has the ability to implement distributed search on its own.
                    When pycsw is enabled,
                    pycsw searches all specified directories and returns a unified set of search results to the client.
                    pycsw deployment has three configurations (CSW-1, CSW-2, CSW-3),
                    and also provides three endpoints.
                    Each endpoint is based on an opaque metadata repository (subject/location/discipline, etc.).
                    The goal is to perform one-to-one searches for all endpoints.
                    pycsw has the ability to perform server-side repository or database filtering
                    to cover all CSW requests.
                    The purpose of pycsw is to query a specific subset of metadata repository
                    and return specific query results.
                </p>
            </div>

        </div>
</div>
</div>


<br>
<script src="{{ static_url('jslib/dst/lazyload.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {


        var popup = L.popup();
        var geojson_mar_opt_2 = {
            radius: 4,
            fillColor: "#f3a5a5",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        var geojson_mar_opt_4 = {
            radius: 4.5,
            fillColor: "#f34747",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var geojson_mar_opt_5 = {
            radius: 5,
            fillColor: "#cb0a0a",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var geojson_mar_opt_7 = {
            radius: 5.5,
            fillColor: "#8c0808",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var geojson_mar_opt_8 = {
            radius: 6,
            fillColor: "#5f0505",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("Location:" + e.latlng.toString())
                .openOn(map);
        }

        var map = L.map("map_div", {
            center: [15.642588, 0],
            zoom: 2,
            maxZoom: 18,
            minZoom: 1,
        });
        var osm = L.tileLayer.chinaProvider('TianDiTu.Normal.Map', {
            maxZoom: 12,
            attribution: '',
            id: "mapbox.satellite",

        });
        osm.addTo(map);
        map.on('click', onMapClick);
        $.ajax({
            type: "get",
            url: "/directory_json/cruise-svr",
            dataType: "json",
            success: function (msg) {
                var data = msg.results
                $.each(data, function (infoIndex, info) {
                        var title_text = "<div style='font-size:12px;line-height:12px; padding: 10px 0 5px 0'><b>Place</b> : " +
                            info['place'] + "</div> " + "<div style='font-size:12px;line-height:12px;padding: 10px 0 13px 0''><b>latlng</b> : " + info['lat'] + ',' + info['lon'] + "</div>" + "" +
                            "<div style='font-size:12px;line-height:12px;'><b>Number:</b>  " + info['num'] + '</div>';
                        var igainfo = title_text;
                        L.circleMarker([info['lat'], info['lon']], {
                            color: '#f90',
                            fillColor: '#f00',
                            fill: '#f01234',
                            fillOpacity: 1.0,
                            radius: 5
                        }).addTo(map).bindPopup(igainfo);
                        {#
                            if (info['num'] < 3) {
                                L.circleMarker([info['lat'], info['lon']], geojson_mar_opt_2).addTo(map).bindPopup(igainfo);
                            } else if (info['num'] < 5 && info['num'] >= 3) {

                                L.circleMarker([info['lat'], info['lon']], geojson_mar_opt_4).addTo(map).bindPopup(igainfo);
                            } else if (info['num'] < 10 && info['num'] >= 5) {

                                L.circleMarker([info['lat'], info['lon']], geojson_mar_opt_5).addTo(map).bindPopup(igainfo);
                            } else if (info['num'] >= 10) {

                                L.circleMarker([info['lat'], info['lon']], geojson_mar_opt_7).addTo(map).bindPopup(igainfo);
                            }
                             #}
                    }
                )
            },
            error: function () {
            }
        });

    })
</script>
{% end %}

