{% extends "../theme/bage.html" %}
{% block head %}

{% end %}

{% block mainbody %}


<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2 mt">
                <h1 class="animation slideDown">Flexible, extensible web CMS framework built on Tornado and Peewee,
                    compatible with Python 3.7 and above. </h1>
                <p class="mt"><a href="/page/about_torcms" class="btn btn-cta btn-lg">LEARN MORE</a></p>
            </div>
        </div>

    </div>
</div>


<div class="container">

    <div class="row mt centered ">
        <div class="col-lg-4 col-lg-offset-4">
            <h3>About</h3>
            <hr>
        </div>
    </div>


    <div class="row mt">
        <div class="col-lg-4 col-md-4 col-xs-12 desc">

            <p>Status</p>
            <p class="lead">
                <span class="label label-default">build</span><span class="label label-success">passing</span>
            </p>
            <p class="lead">
                <span class="label label-default">pypi</span><span class="label label-warning">v0.8.5</span></p>
            <p class="lead">
                <span class="label label-default">python</span><span class="label label-primary">3.7 | 3.8 | 3.9</span>
            </p>

            <p class="lead">
                Checking torcms with pylint using default configuration (Under Debian 11.0), gets score greater than
                8.9.
            </p>


        </div>


        <div class="col-lg-4 col-md-4 col-xs-12 desc">

            <p>Introduction</p>
            <p class="lead">
                Flexible, extensible web CMS framework built on Tornado and Peewee, compatible with Python 3.7 and
                above. Using PostgreSQL with JSON extension as the database( postgresql-server >= 11.0 ).
                <br><br>
                pypi: The kernel of this CMS has been submit to pypi. https://pypi.python.org/pypi/torcms . Could be
                installed via:
                <br><br>
            <div class="well well-sm">
                pip3 install torcms
            </div>
            </p>

        </div>


        <div class="col-lg-4 col-md-4 col-xs-12 desc">

            <p>Features</p>
            <p class="lead">

            <li>Build on Tornado, only with Web features, which made it is simple to use.</li>
            <br>
            <li>Markdown editor, make your HTML clean and clear.</li>
            <br>
            {#                <li>Carefull desinged model for conents. Post, Info, Page, Wiki as default.</li><br>#}
            {#                <li>User roles for editing.</li><br>#}
            <li>Full text search with Whoosh.</li>
            <br>
            <li>PostgreSQL 9.4 above, with JSONB, which makes the framework extensible.</li>
            <br>
            <li>Using XLXS, could be parsed by openpyxl, to define the schema of the database.</li>
            <br>
            <li>Access database via Peewee.</li>
            <br>
            {#                <li>SASS sub-project for Style.</li><br>#}
            {#                <li>Last version of JQuery. And, Bootstrap as the default CSS framework.</li><br>#}

            </p>

        </div>

    </div>

</div>


<div id="grey">
    <div class="container">
        <div class="row mt">
            <div class="col-lg-4 col-lg-offset-4 centered">
                <h3>Different Stages</h3>
                <hr>
            </div>
        </div>
        <div class="row mt">
            <div class="col-lg-3">
                <p class="capitalize">1</p>
                <h4>Brief</h4>
                <p>Built for all levels of expertise, whether you need simple pages or complex ones, creating something
                    incredible with TorCMS is an effortless and intuitive process.</p>
            </div>
            <div class="col-lg-3">
                <p class="capitalize">2</p>
                <h4>Analysis</h4>
                <p>We’ve taken great care to ensure that TorCMS is fully retina-ready. So it’ll look good on any retina
                    display. </p>
            </div>
            <div class="col-lg-3">
                <p class="capitalize">3</p>
                <h4>Planning</h4>
                <p>TorCMS fits any device handsomely. We tested our theme in major devices and browsers. </p>
            </div>

            <div class="col-lg-3">
                <p class="capitalize">4</p>
                <h4>Execution</h4>
                <p>Good looking animations are an essential part of the new theme design trend.</p>
            </div>
        </div>

    </div>

</div>


<div id="cta01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our products & services are crafted with the utmost care to fulfill your needs.</h2>

            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="row mt">

        <div class="col-lg-4  si">
            <i class="fa fa-heart"></i>
            <h4>Tornado</h4>
            <p>
                Tornado is a Python web framework and asynchronous networking library, originally developed at
                FriendFeed.<br>
                By using non-blocking network I/O, Tornado can scale to tens of thousands of open
                connections, making it ideal for long polling, WebSockets, and other applications that require a
                long-lived connection to each user.
            </p>
        </div>
        <div class="col-lg-4  si">
            <i class="fa fa-cog"></i>
            <h4>Python</h4>
            <p>
                The Python interpreter is easy to extend and can use C or C + + (or other languages that can be called
                through C) to extend new functions and data types.<br>
                Python can also be used as an extender language
                in customizable software. Python's rich standard library provides source code or machine code suitable
                for various major system platforms.
            </p>
        </div>
        <div class="col-lg-4  si">
            <i class="fa fa-flag"></i>
            <h4>PostgreSQL</h4>
            <p>
                PostgreSQL (also known as Postgres) is a free object relational database server (database management
                system), which is distributed under a flexible BSD style license. <br>
                It provides an alternative to other
                open source database systems (such as MySQL and Firebird) and proprietary systems such as Oracle,
                Sybase, IBM's DB2 and Microsoft SQL server.
            </p>
        </div>
        <div class="col-lg-4  si">
            <i class="fa fa-eye"></i>
            <h4>Peewee</h4>
            <p>
                Peewee is a simple and small ORM. It has few (but expressive) concepts, making it easy to learn and
                intuitive to use.
            <ul class="index_ul">
                <li>a small, expressive ORM</li>
                <li>python 2.7+ and 3.4+ (developed with 3.6)</li>
                <li>supports sqlite, mysql, postgresql and cockroachdb</li>
                <li>tons of extensions</li>
            </ul>
            </p>
        </div>
        <div class="col-lg-4  si">
            <i class="fa fa-flask"></i>
            <h4>Bootstrap 3</h4>
            <p>
                Bootstrap is a concise, intuitive and powerful front-end development framework based on HTML, CSS and
                JavaScript, which makes web development faster.<br>
                Bootstrap provides elegant HTML and CSS specifications, which is written by the dynamic CSS language
                less.
            </p>
        </div>

        <div class="col-lg-4  si">
            <i class="fa fa-mobile"></i>
            <h4>SASS</h4>
            <p>
                Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
            <ul class="index_ul">
                <li>CSS Compatible</li>
                <li>Feature Rich</li>
                <li>Industry Approved</li>
                <li>Large Community</li>
                <li>Mature</li>
                <li>Frameworks</li>
            </ul>
            </p>
        </div>


    </div>

</div>


<div id="white">
    <div class="container">
        <div class="row mt centered ">
            <div class="col-lg-4 col-lg-offset-4">
                <h3>Our Latest Work</h3>
                <hr>
            </div>
        </div>

        <div class="row mt centered">
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="http://drr.ikcest.org" target="_blank">
                    <img width="350" src="/static/tass/img/portfolio/drr.jpg"
                         alt="Disaster Risk Reduction Knowledge Service"/>
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">Disaster Risk Reduction Knowledge Service</h4>
                        <p class="b-from-right b-animate b-delay03"> View</p>
                    </div>

                    <p> Disaster Risk Reduction Knowledge Service </p>
                </a>
            </div>
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="https://www.osgeo.cn" target="_blank">
                    <img width="350" src="/static/tass/img/portfolio/osgeo.jpg" alt="开源地理空间基金会中文分会"/>
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">开源地理空间基金会中文分会</h4>
                        <p class="b-from-right b-animate b-delay03"> View</p>
                    </div>
                    <p>开源地理空间基金会中文分会</p>
                </a>

            </div>
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="http://www.igadc.cn/" target="_blank">
                    <img width="350" src="/static/tass/img/portfolio/igadc.jpg" alt="东北亚资源环境大数据中心"/>
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">东北亚资源环境大数据中心</h4>
                        <p class="b-from-right b-animate b-delay03">View</p>
                    </div>
                    <p>东北亚资源环境大数据中心 </p>
                </a>

            </div>
        </div>

        <div class="row mt centered">
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="http://www.data.ac.cn/ " target="_blank">
                    <img width="350" src="/static/tass/img/portfolio/resform.jpg" alt="资源学科创新平台 "/>
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">资源学科创新平台 </h4>
                        <p class="b-from-right b-animate b-delay03">View</p>
                    </div>
                    <p>资源学科创新平台</p>
                </a>

            </div>
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="http://wdcrre.data.ac.cn/ " target="_blank">
                    <img width="350" src="/static/tass/img/portfolio/wdc-rre.jpg" alt=""/>
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">World Data Center for Renewable Resources and
                            Environment</h4>
                        <p class="b-from-right b-animate b-delay03">View</p>
                    </div>
                    <p>World Data Center for Renewable Resources and Environment</p>
                </a>

            </div>
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="http://ydyl.gislab.cn/ " target="_blank">
                    <img width="350" src="/static/tass/img/portfolio/ydyl.jpg" alt="OBOR 中蒙俄协同创新平台"/>
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">OBOR 中蒙俄协同创新平台</h4>
                        <p class="b-from-right b-animate b-delay03">View</p>
                    </div>
                    <p>OBOR 中蒙俄协同创新平台 </p>
                </a>

            </div>
        </div>

    </div>
</div>
{% end %}
