.singlemeta span.cmts a {
  &:link, &:visited {
    color: #bb0000;
  }
}

.fontbig {
  font-size: 150%;
  line-height: 160%;
}

.fontmid {
  font-size: 130%;
  line-height: 140%;
}

.fontsml {
  font-size: 14px;
  line-height: 24px;
}

.meta a.mfcurrent {
  font-weight: bold;
}

/* Single */

.single {
  padding: 0px 23px;
  width: 100%;
  line-height: 24px;

  h1, h2 {
    padding: 15px 0px 8px;
    font-size: 22px;
    color: #0b3b8c;
    text-align: center;
    border-bottom: 1px solid #e1e9f0;
  }

  .singlemeta {
    padding: 3px 0px 0px;
    text-align: center;
  }

  a {
    color: #006699;
    text-decoration: none;

    &:hover {
      color: #3399cc;
      text-decoration: underline;
    }
  }
}

.entry {
  margin-top: 20px;
  font-size: 13px;
  overflow: hidden;

  h2 {
    padding: 0;
    text-align: left;
    color: #222222;
    border: none;
  }

  p {
    margin-bottom: 15px;
    text-indent: 24px;
  }

  .summary {
    padding: 8px 5px 6px 10px;
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
  }

  img {
    margin-bottom: 10px;
    max-width: 620px;
  }

  ul, ol {
    margin: 10px 20px;
    margin-left: 40px;
    list-style: disc;
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }

  a {
    color: #006699;
    text-decoration: none;

    &:hover {
      color: #3399cc;
      text-decoration: underline;
    }
  }
}

.aligncenter {
  text-align: center;
}

.alignleft {
  float: left;
  padding-right: 10px;
}

.alignright {
  float: right;
  padding-left: 10px;
}

.alignnone {
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.aligncenter {
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
  display: block;
}

/* Related Content */

.relatedrandom {
  float: left;
  padding: 15px 0px 15px;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;

  h3 {
    margin-bottom: 10px;
    padding: 2px 0px 0px 10px;
    font-size: 13px;
    border-bottom: 1px solid #dddddd;
    background: #e0e0e0 url(../images/sprite.png) no-repeat right -178px;
  }

  ul {
    float: left;
    margin: 0px 0px;
    padding: 5px 0px 10px 10px;
    *padding: 5px 0px 0px 10px;

    li {
      float: left;
      margin: 0px 10px 0px 0px;
      padding: 2px 0 4px 12px;
      width: 280px;
      line-height: 18px;
      background: url(../images/icon.png) no-repeat -496px -206px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.rltimg {
      padding-left: 19px;

      li {
        margin: 0px 0px 10px 0px;
        padding: 2px 0px 4px 0px;
        width: 145px;
        text-align: center;
        background: none;

        img {
          padding: 2px 2px;
          width: 125px;
          height: 100px;
          border: 1px solid #e0e0e0;
        }

        h4 {
          width: 125px;
          height: 36px;
          font-size: 13px;
          font-weight: normal;
          white-space: normal;
          overflow: hidden;
        }
      }
    }
  }
}

.related, .random {
  float: left;
  width: 618px;
  border: 1px solid #dddddd;
  border-top: 1px solid #a3d1f0;
  overflow: hidden;
}

.related {
  margin-bottom: 10px;
}

/* Error404 */

// .error
//   float: left
//   width: 978px
//   height: 300px
//   border: 1px solid #dddddd
//   border-top: 2px solid #badaa1
//   overflow: hidden

.errorinfo {
  padding: 20px 280px;

  h4 {
    height: 32px;
    line-height: 32px;
    font-size: 28px;
    text-indent: -9999px;
    background: url(../images/404.gif) no-repeat center 0;
  }

  span {
    margin-bottom: 25px;
    display: block;
  }

  ol {
    padding: 0px 20px;

    li {
      margin: 8px 0px;
      list-style: decimal;
    }
  }
}

.errorsearch {
  float: left;
  margin-top: 10px;
  width: 370px;
  border: 1px solid #cccccc;

  .searchInput {
    padding-left: 5px;
    width: 300px;
  }

  .searchBtn {
    color: #006600;
    font-weight: bold;
    text-indent: 0;
    border-left: 1px solid #e0e0e0;
    background: url(../images/sprite.png) no-repeat -10px -181px;
  }
}

/* Post Function */

.postmeta {
  padding: 10px 0px 15px;
  line-height: 24px;
  color: #454545;
  position: relative;
}

.wpyouvote {
  position: absolute;
  top: 40px;
  right: 20px;
  _right: 50px;
}

.post_postvote {
  width: 60px !important;
  height: 60px !important;
  overflow: hidden;
}

.post_votewidget {
  width: 60px !important;
  height: 60px;
  text-align: center;
  background: url(../images/digg.png) no-repeat 0 -140px !important;
}

.post_votecount {
  padding: 5px 0 0 !important;
  width: 60px !important;
  background: none;
  position: relative;
  z-index: 100;
}

.post_votebuttoncontainer {
  margin-top: -35px;

  img {
    display: none;
  }
}

.post_votebutton {
  width: 60px !important;
  height: 60px !important;
  line-height: 90px !important;
  font-size: 12px !important;
  background: none !important;
  display: block;

  a {
    &:link, &:visited {
      width: 60px !important;
      height: 60px;
      background: url(../images/digg.png) no-repeat 0 0;
      display: block;
    }

    &:hover {
      background: url(../images/digg.png) no-repeat 0 -70px;
    }
  }
}

.posttool {
  float: right;
  padding: 6px 0px 8px;
  width: 100%;
  line-height: 20px;
  *line-height: 24px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f7f7f7;

  a {
    float: right;
    padding: 0px 15px 0px 21px;
    color: #454545;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    display: block;

    &:hover {
      color: #bb0000;
      text-decoration: underline;
    }

    &.copylink {
      background-position: (-483px) -540px;
    }

    &.subscribe {
      background-position: (-483px) -589px;
    }

    &.share {
      background-position: (-483px) -565px;
    }

    &.print {
      background-position: (-483px) -613px;
    }
  }
}

/* Pagenavi */

.pagenavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
  vertical-align: middle;

  a {
    &:link, &:visited {
      margin: 0 2px;
      padding: 4px 8px;
      text-decoration: none;
      border: 1px solid #d5d5d5;
      background-color: #f0f4f5;
      display: inline-table;
    }

    &:hover, &:active {
      border: 1px solid #99ccee;
      color: #003366;
      background-color: #e3f2fc;
    }

    &.extend {
      padding: 4px 8px;
      color: #222222;

      &:hover {
        color: #003366 !important;
      }
    }

    &.current {
      &:link, &:visited, &:hover {
        border: 1px solid #0066ff;
        font-weight: bold;
        color: #00376d !important;
        background-color: #c5d5e4;
      }
    }
  }

  span {
    padding-left: 10px;
    color: #666666;
  }

  ul li {
    display: inline;
  }
}

.postnavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
}

.previous_post, .next_post {
  width: 300px;
  height: 24px;
  overflow: hidden;
}

.previous_post {
  float: left;
  text-align: left;
}

.next_post {
  float: right;
  text-align: right;
}

.postnavi a {
  &:link, &:visited {
    color: #003366;
    text-decoration: none;
  }

  &:hover {
    color: #bb0000;
    text-decoration: underline;
  }
}

/* Post Comment */

.postcomment {
  margin-bottom: 15px;
  overflow: hidden;
}

#addcomment, #comments {
  margin: 10px 0px 15px;
  padding: 10px 12px;
  font-size: 14px;
  border-top: 2px solid #a3d1f0;
  color: #00376d;
  background: url(../images/sprite.png) repeat-x 0 7px;
}

#addcomment strong, #comments strong {
  padding: 0px 4px;
  color: #bb0000;
}

#addcomment span, #comments span {
  float: right;
  *margin-top: -28px;
  *padding-right: 15px;
  font-size: 13px;
  font-weight: normal;
  color: #666666;
}

.commentlist {
  padding: 0px 20px;

  li {
    margin-bottom: 10px;
    padding: 10px 0px 20px;
    width: 100%;
    border-bottom: 1px solid #badaa1;
    min-height: 32px;
    height: auto !important;
    display: block;
    position: relative;

    ul {
      margin: 15px 0px;

      li {
        padding: 10px 10px 20px;
        width: 96%;
        border: 1px dotted #999999;
        background-color: #f3faf1;
      }
    }

    p {
      line-height: 20px;
      color: #454545;
    }

    em {
      line-height: 16px;
      font-style: normal;
      color: #787878;
    }

    cite {
      line-height: 16px;
      font-style: normal;
      font-weight: bold;
    }

    .avatar {
      padding: 1px;
      border: 1px solid #dddddd;
    }
  }
}

.comment_text {
  padding: 5px 0px 0px 40px;
}

.comment_text2 {
  padding: 5px 40px 0px 0px;
}

.cd-wrapper {
  margin-right: 0px !important;
}

/* Digg Comments */

.comment_avatar {
  float: left;
  width: 38px;
}

.comment_time {
  line-height: 18px;
  color: #999999;
}

.commentlist li {
  .comment_floor {
    color: #dddddd;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 6px;
    right: 0;

    em {
      font-style: normal;
      color: #bbbbbb;
      font-size: 18px;
    }
  }

  ul li .comment_avatar {
    left: 10px;
  }
}

.reply {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.commentlist li ul li .reply {
  right: 10px;
}

#cancel-comment-reply {
  float: right;
}

.reply a, #cancel-comment-reply a {
  color: #003366;
}

.reply a:hover, #cancel-comment-reply a:hover {
  color: #bb0000;
}

#moidfy_info {
  text-decoration: underline;
  font-size: 12px;
  color: #666666;
  cursor: help;
}

.welcome_author {
  color: #787878;

  a {
    color: #666666;
    text-decoration: underline;

    &:hover {
      color: #bb0000;
    }
  }
}

#infotips {
  padding-left: 10px;
}

.hidform {
  padding-bottom: 15px;
  width: 93%;
  height: 220px;
  border: 1px solid #cccccc;
  background-color: white;
  position: absolute !important;
  top: 110px;
  left: 20px;
  display: none;

  h4 {
    margin-bottom: 20px;
    padding: 5px 0px 6px;
    font-size: 14px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;

    strong {
      padding: 5px 12px 6px;
      background-color: #e5e8e8;
    }

    a {
      float: right;
      *margin-top: -24px;
      width: 45px;
      height: 18px;
      text-indent: -9999px;
      background: url(../images/button.png) no-repeat 0 -82px;
      display: block;

      &:hover {
        background-position: (-62px) -82px;
      }
    }
  }
}

#submit_modify, #logincmt, #register {
  width: 100px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: black;
  background: url(../images/button.png) no-repeat 0 -38px;
  border: none;
  cursor: pointer;
}

a.btn_closelayer {
  margin-left: 78px;
  text-indent: 0;
  text-decoration: none;
  display: block;
}

.txtlong {
  padding: 5px 5px;
  width: 45%;
  color: #454545;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa #dddddd #dddddd #aaaaaa;
}

.sbbtn {
  padding: 5px 5px;
  width: 45%;
}

#userform, .hidform {
  position: relative;
}

#userform label, .hidform label {
  float: left;
  width: 78px;
  height: 26px;
  line-height: 26px;
  text-align: right;
  display: block;
}

.foravatar {
  position: absolute;
  top: 0px;
  right: 22px;
  _right: 42px;
  padding: 2px 2px;
  width: 68px;
  text-align: center;
  line-height: 22px;
  border: 1px solid #dddddd;

  img {
    padding-bottom: 2px;
    border-bottom: 1px solid #dddddd;
  }
}

.memberinfo {
  padding: 0px 20px 10px;
  height: 32px;
  line-height: 16px;
  color: #999999;

  img {
    float: left;
    margin-right: 6px;
    padding: 1px;
    border: 1px solid #dddddd;
  }
}

#respond {
  width: 100%;
  position: relative;

  p {
    padding: 5px 25px;

    &.statement {
      color: #ff3300;
    }
  }

  #userform p {
    padding: 5px 25px 8px;
  }

  em {
    color: #ff0242;
  }

  span {
    color: #999999;
  }

  .memberinfo span {
    color: #0066ff;
  }
}

.wp_smilies {
  padding: 10px 20px 0px;
}

#author, #email, #url {
  padding: 5px 5px;
  width: 45%;
  color: #454545;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa #dddddd #dddddd #aaaaaa;
}

#comment {
  padding: 5px 5px;
  width: 45%;
  color: #454545;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa #dddddd #dddddd #aaaaaa;
  width: 98%;
  _width: 95%;
  height: 150px;
  font-size: 12px;
  overflow-y: scroll;
}

#submit {
  float: right;
  margin: 5px 0px 0px 5px;
  width: 90px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #f3c287;
  text-indent: 5px;
  text-align: center;
  border: none;
  background: url(../images/button.png) no-repeat 0 0;
  cursor: pointer;
}

.cmthtml {
  margin: 0px 10px;
  padding: 5px 10px;
  border: 1px dashed #d0dee3;
  color: #454545;
  background-color: #f3f5fa;

  small {
    font-size: 12px;
    line-height: 16px;
  }
}

.input_submit {
  height: 50px;
}

.repeattip {
  float: right;
  padding-top: 12px;
}

/* Comment Navigation */

.comment_navi {
  float: right;
  margin: 10px 15px 10px 0px;
  text-align: center;

  span.cpt {
    padding: 3px 6px 2px;
    background-color: #e3e3e3;
    border-bottom: 1px solid #d5d5d5;
  }

  a {
    padding: 3px 3px 2px;

    &:hover {
      color: #ff0242;
    }
  }

  .current {
    font-weight: bold;
    color: #ff0242;
  }
}

/* FriendLink */

.friendlink {
  float: left;
  width: 978px;
  border: 1px solid #dfdfe3;
  overflow: hidden;
}

.allfriendlink {
  margin-top: 10px;
}

.friendlink {
  h3 {
    height: 29px;
    line-height: 29px;
    font-size: 13px;
    text-indent: 12px;
    color: #454545;
    border-bottom: 1px solid #dfdfe3;
    background: url(../images/sprite.png) repeat-x 0 0px;

    span {
      float: right;
      *margin-top: -30px;
      padding-right: 10px;
      font-size: 12px;
      font-weight: normal;
      color: #b4c8e0;
    }
  }

  ul {
    float: left;
    padding: 8px 8px;
    width: 962px;

    li {
      float: left;
      margin: 3px 3px;
      line-height: 18px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
    }

    h4 {
      display: none;
    }

    li img {
      border: 1px solid #dddddd;
    }
  }
}

.flink {
  margin: 0px 0px !important;
  list-style: none;

  li {
    float: left;
    margin-bottom: 5px;
    list-style: none !important;

    h4 {
      margin-bottom: 5px;
      padding-left: 12px;
      font-size: 13px;
      line-height: 28px;
      list-style: none;
      background-color: #f3f3f3;
      border-bottom: 1px solid #eeeeee;
    }

    ul {
      float: left;
      margin: 0px 0px;
      width: 650px;

      li {
        float: left;
        padding: 0px 5px;
        list-style: none;
        white-space: nowrap;

        img {
          margin-bottom: 0px;
          border: 1px solid #dddddd;
        }
      }
    }
  }
}

/* Footer */

.footpage {
  margin-bottom: 15px;
  padding: 7px 10px 6px;
  text-align: center;
  border: 1px solid #dfdfe3;
  background: url(../images/sprite.png) repeat-x 0 0px;

  li {
    width: 1px;
    padding: 0px 8px 0px 12px;
    background: url(../images/sprite.png) no-repeat 0 -182px;
    display: inline;
    word-break: keep;
    white-space: nowrap;

    &.nb {
      background: none;
    }
  }
}

/* SiteAD */

.ad_pageheaderbanner, .ad_logobanner, .ad_topfullbanner, .ad_pagefooterbanner, .ad_leftbanner {
  float: left;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

.ad_pageheaderbanner {
  margin-bottom: 10px;
  width: 980px;
}

.ad_logobanner {
  width: 600px;
  height: 60px;
}

.ad_topfullbanner {
  margin-top: 10px;
  width: 980px;
}

.ad_pagefooterbanner {
  margin: 10px 0px;
  width: 980px;
}

.ad_leftbanner {
  margin-bottom: 10px;
  width: 718px;
}

.ad_single {
  margin-bottom: 10px;
  vertical-align: top;
}

.ad_singlebtm {
  margin: 15px 0px !important;
  text-align: center;
}

.ad_singleleft {
  float: left;
  margin-bottom: 5px;
  padding-right: 15px;
}

.ad_singleright {
  float: right;
  margin-bottom: 5px;
  padding-left: 10px;
}

.ad_pageheaderbanner img, .ad_logobanner img, .ad_topfullbanner img, .ad_pagefooterbanner img, .ad_leftbanner img, .ad_single img {
  vertical-align: top;
}

#ad_coupleleft {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 120px;
  text-align: center;
}

#ad_coupleright {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 120px;
  text-align: center;
}

/* ViewPost */

.viewpost {
  float: left;
  margin-bottom: 10px;
  width: 666px;
  border: 1px solid #dddddd;
  border-top: none;
  overflow: hidden;

  h2 {
    float: left;
    margin-bottom: 10px;
    padding-left: 12px;
    width: 654px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    border-top: 2px solid #a3d1f0;
    border-bottom: 1px solid #e1e9f0;
    background: #f3f3f3 url(../images/sprite.png) no-repeat right -174px;
  }

  .viewlist {
    float: left;
    margin: 10px 15px;
    _margin: 10px 8px;
    width: 686px;
  }
}

.viewlist {
  li {
    float: left;
    width: 636px;
  }

  .viewpostviews {
    float: left;
    padding: 5px 5px;
    width: 53px;
    height: 42px;
    text-align: center;
    background: url(../images/views.png) no-repeat center 0px;
    overflow: hidden;

    em {
      width: 53px;
      height: 30px;
      font-style: normal;
      display: block;
      overflow: hidden;
    }

    strong {
      font-weight: normal;
      line-height: 14px;
      *line-height: 16px;
      color: #0091f0;
    }
  }

  .postentry {
    float: right;
    width: 560px;

    h3 {
      float: left;
      width: 560px;
      _margin-top: 0px;
    }

    .singlepostexcerpt {
      float: left;
      width: 560px;
    }
  }
}

.sns {
  margin-bottom: 10px;
  padding: 12px 8px 8px 12px;
  width: 280px;
  line-height: 24px;
  border: 1px solid #b5d2ff;
  overflow: hidden;
}

#list {
  width: 96%;
  margin: 0 auto;

  dt {
    width: 24%;
    height: 30px;
    background: #eeeeee;
    float: left;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    margin: 3px 0;
  }

  dd {
    width: 24%;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    margin: 3px 0;
  }
}

.panel-footer {
  padding: 10px;

  a {
    color: white;
  }
}

.anniu a {
  color: white;
}

#xxck {
  width: 96%;
  margin: 0 auto;

  dt {
    height: 30px;
    background: #dddddd;
    line-height: 30px;
    font-weight: bold;
    float: left;
    width: 15%;
    margin: 3px 0;
    text-align: center;
  }

  dd {
    width: 83%;
    height: 30px;
    float: left;
    line-height: 30px;
    background: #eeeeee;
    text-align: center;
    margin: 3px 0;
    text-align: left;
    padding-left: 10px;
  }
}

#lb {
  width: 96%;
  margin: 0 auto;

  li {
    border-bottom: 1px #d3d3d3 dashed;
    marign: 10px 0;
    padding: 5px;
    line-height: 30px;
  }

  a {
    font-size: 1.3em;
    color: dodgerblue;
    padding-left: 10px;
  }

  span {
    color: gray;
    padding: 10px 5px;
    margin: 2px 10px 2px 5px;
  }
}

.w96 {
  width: 96%;
  margin: 0 auto;
  line-height: 22px;
}

.sm {
  padding-bottom: 20px;
}

.gcx {
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
}

.ywlb {
  line-height: 22px;

  h3 {
    margin-bottom: 10px;
  }
}

.binfo {
  margin-top: 10px;
}

/*首页图片 */
/* line 1, ../sass/inc/_indexgoods.sass */

.indexGoods {
  height: 140px;
  margin-bottom: 10px;

  .scrollBox .list li {
    float: left;
    display: inline;
    width: 162px;
    margin-right: 10px;
    overflow: hidden;

    img {
      width: 162px;
      height: 120px;
    }

    span {
      width: 162px;
      height: 20px;
      line-height: 20px;
      display: block;
      text-align: center;
      overflow: hidden;
    }
  }
}

/* line 18, ../sass/inc/_indexgoods.sass */

/* line 27, ../sass/inc/_indexgoods.sass */

/* line 30, ../sass/inc/_indexgoods.sass */

/* Header */

.header {
  float: left;
  margin-bottom: 10px;
  width: 980px;
}

/* Logo Banner */

.toplb {
  float: left;
  width: 980px;
  overflow: hidden;
}

.logo {
  float: left;
  text-indent: -9999px;

  a {
    &:link, &:visited, &:hover {
      width: 450px;
      height: 60px;
      background: url(../images/osgeo_logo.png) no-repeat 0 0;
      display: block;
    }
  }
}

.toptxt {
  margin-top: 15px;
  display: inline-block;
  padding-right: 5px;
  width: 320px;
  height: 60px;
  line-height: 20px;
  text-align: right;
  overflow: hidden;

  a {
    color: #4b4b4b;
    text-decoration: underline;

    &:hover {
      color: #bb0000;
    }
  }
}

#osgeo_ad {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

/* Pagenavi */

.pagenavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
  vertical-align: middle;

  a {
    &:link, &:visited {
      margin: 0 2px;
      padding: 4px 8px;
      text-decoration: none;
      border: 1px solid #d5d5d5;
      background-color: #f0f4f5;
      display: inline-table;
    }

    &:hover, &:active {
      border: 1px solid #99ccee;
      color: #003366;
      background-color: #e3f2fc;
    }

    &.extend {
      padding: 4px 8px;
      color: #222222;

      &:hover {
        color: #003366 !important;
      }
    }

    &.current {
      &:link, &:visited, &:hover {
        border: 1px solid #0066ff;
        font-weight: bold;
        color: #00376d !important;
        background-color: #c5d5e4;
      }
    }
  }

  span {
    padding-left: 10px;
    color: #666666;
  }

  ul li {
    display: inline;
  }
}

.postnavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
}

.previous_post, .next_post {
  width: 300px;
  height: 24px;
  overflow: hidden;
}

.previous_post {
  float: left;
  text-align: left;
}

.next_post {
  float: right;
  text-align: right;
}

.postnavi a {
  &:link, &:visited {
    color: #003366;
    text-decoration: none;
  }

  &:hover {
    color: #bb0000;
    text-decoration: underline;
  }
}

/* line 18, ../sass/inc/_tags.sass */

.kwd_cat {
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  display: inline;
  color: #ffffff;
}

/* line 25, ../sass/inc/_tags.sass */

.kwd_cat a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
  padding: 0px 3px 0px 3px;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */

.kwd_cat a:hover {
  color: #eeeeee;
}

/* line 4, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */

.kwd_cat a:hover {
  text-decoration: underline;
}

/* line 33, ../sass/inc/_tags.sass */

.kwd_cat a.tag1 {
  background-color: #88b9b9;
}

/* line 35, ../sass/inc/_tags.sass */

.kwd_cat a.tag2 {
  background-color: #de958f;
}

/* line 38, ../sass/inc/_tags.sass */

.kwd_cat a.tag3 {
  background-color: #a9c365;
}

/* line 40, ../sass/inc/_tags.sass */

.kwd_cat a.tag4 {
  background-color: #99b3dd;
}

/* line 40, ../sass/inc/_tags.sass */

.kwd_cat a.tag5 {
  background-color: #3E7087;
}

.bor_bottom {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.panel-title .more {
  float: right;
  padding-right: 10px;
}

.d_nav {
  color: #666;
  font-size: 13px;

  a {
    color: #006699;
  }
}

.infoselect span:hover, .pagination li:hover {
  cursor: pointer;
}

.line-height25 {
  line-height: 30px;
}

.pakage-cat li {
  width: 200px;
  margin-right: 60px;
  float: left;
  text-align: center;
  list-style-type: none;

  i {
    width: 120px;
    height: 120px;
    display: block;
    background: url(../images/icon-pakage.png) no-repeat 0 0;
    margin: 0 auto;
  }

  .cat-name {
    line-height: 30px;
    padding: 13px 0;
    font-size: 24px;
  }

  .cat-des {
    line-height: 24px;
    color: #999;
    padding-bottom: 20px;
  }

  a {
    width: 118px;
    height: 38px;
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    display: block;
    margin: 0 auto;
    line-height: 38px;
  }

  &.economic i {
    background-position: 0 0;
  }

  &.standard i {
    background-position: 0 -140px;
  }

  &.marketing i {
    background-position: 0 -280px;
  }

  &.high-end i {
    background-position: 0 -420px;
  }

  &.economic a:hover {
    background: #f76e00;
    color: #fff;
  }

  &.standard a:hover {
    background: #9bcc00;
    color: #fff;
  }

  &.marketing a:hover {
    background: #0088cb;
    color: #fff;
  }

  &.high-end a:hover {
    background: #0dc9be;
    color: #fff;
  }
}

body {
  line-height: 24px;
}

.red {
  color: #f00;
  font-weight: bold;
}

.color_1 {
  color: #666666;

  a {
    color: #036;
  }
}

.fr {
  float: right;
}

.padr10 {
  padding-right: 10px;
}

.text_right {
  text-align: right;
}

.tabfix {
  h4 {
    color: #0492dc;
  }
}

blockquote {
  font-size: 14px;
}

.hden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

.result {
  color: #000;
}
