{% extends "admin.html" %}
{% block head %}
<script type="text/javascript">
    function js_show_page(url_str) {
        $('#showCnt').load(url_str);
    }
    jQuery().ready(function () {
        $("#user_navigation").accordion();
        js_show_page('/user_j/info');
    });

</script>
{% end %}
{% block zhuti %}
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div id="user_navigation">
        <ul class="nav menu">
            <li class="active"><a onclick="js_show_page('/user_j/info')"> <span class="glyphicon glyphicon-user"></span>
                用户信息</a></li>
            <li><a onclick="js_show_page('/user_j/info')"><span class="glyphicon glyphicon-cog"></span>用户状态</a></li>
            <!--<li><a onclick="js_show_page('/user_j/changelang')"><span class="glyphicon glyphicon-stats"></span>设置语言</a>
            </li>-->
            <!--<li><a onclick="js_show_page('/user_j/changepass')"><span class="glyphicon glyphicon-pencil"></span>修改密码</a>-->
            <!--</li>-->
            <!--<li><a onclick="js_show_page('/user_j/changeinfo')"><span-->
                    <!--class="glyphicon glyphicon-pencil"></span>修改个人信息</a>-->
            <!--</li>-->

            <li><a onclick="js_show_page('/user_j/j_regist')"><span class="glyphicon glyphicon glyphicon-user"></span>创建用户</a> </li>
            <li><a onclick="js_show_page('/user_j/find/')"><span class="glyphicon glyphicon glyphicon-user"></span>查看所有用户</a> </li>

{#            <li><a onclick="js_show_page('/log_j/')"><span class="glyphicon glyphicon glyphicon-paperclip"></span>日志列表</a> </li>#}

            <!--
            <li><a onclick="js_show_page('/user/logout')"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>
            -->
            <li role="presentation" class="divider"></li>
            <li class="parent">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span>
                    <span data-toggle="collapse" href="#sub-item-1" class="icon">分类管理<em
                            class="glyphicon glyphicon-s glyphicon-plus pull-right"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-1">
                    {% for kind in router_post %}

                    <li>
                        <a onclick="js_show_page('/category_j/{{kind}}/list')"><span
                                class="glyphicon glyphicon-share-alt"></span>{{router_post[kind]}}</a>
                    </li>
                    {% end %}

                </ul>
            </li>
            <li class="parent">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span>
                    <span data-toggle="collapse" href="#sub-item-2" class="icon"> 单页管理
                        <em class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em>
                    </span>
                </a>
                <ul class="children collapse" id="sub-item-2">
                    <li>
                        <a onclick="js_show_page('/page_j/list/2')">
                            <span class="glyphicon glyphicon-share-alt"></span>所有单页
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span>
                    <span data-toggle="collapse" href="#sub-item-3" class="icon"> WIKI管理
                        <em class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em>
                    </span>
                </a>
                <ul class="children collapse" id="sub-item-3">
                    <li>
                        <a onclick="js_show_page('/page_j/list/1')">
                            <span class="glyphicon glyphicon-share-alt"></span>所有单页
                        </a>
                    </li>
                </ul>
            </li>

            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span>
                    <span data-toggle="collapse" href="#sub-item-4" class="icon"> Document管理
                        <em class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em>
                    </span>
                </a>
                <ul class="children collapse" id="sub-item-4">
                    <!--<li><a onclick="js_show_page('/post_j/add_document')"><span
                            class="glyphicon glyphicon-share-alt"></span>添加信息</a></li>-->
                    <li><a onclick="js_show_page('/post_j/recent/1')">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        所有信息
                    </a>
                        <!-- <li><a onclick="js_show_page('/post_j/recent_none')"><span class="glyphicon glyphicon-share-alt"></span>待翻译文档</a>
                         </li>-->

                </ul>
            </li>
            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span>
                    <span data-toggle="collapse" href="#sub-item-5" class="icon"> Info管理
                        <em class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em>
                    </span>
                </a>
                <ul class="children collapse" id="sub-item-5">
                    <!--<li><a onclick="js_show_page('/post_j/add_document')"><span
                            class="glyphicon glyphicon-share-alt"></span>添加信息</a></li>-->
                    <li>
                        <a onclick="js_show_page('/post_j/recent/9')">
                            <span class="glyphicon glyphicon-share-alt"></span>所有信息
                        </a>
                    </li>

                    <!-- <li><a onclick="js_show_page('/post_j/recent_none')"><span class="glyphicon glyphicon-share-alt"></span>待翻译文档</a>
                     </li>-->
                </ul>
            </li>


            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span>
                    <span data-toggle="collapse" href="#sub-item-8" class="icon"> 链接管理
                        <em class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em>
                    </span>
                </a>
                <ul class="children collapse" id="sub-item-8">
                    <li>
                        <a onclick="js_show_page('/link_j/list')">
                            <span class="glyphicon glyphicon-share-alt"></span>所有管理
                        </a>
                    </li>
                </ul>
            </li>
             <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span> <span data-toggle="collapse" href="#sub-item-9"
                                                                         class="icon"> 评论管理<em
                        class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-9">
                    <li><a onclick="js_show_page('/reply/list/')"><span
                            class="glyphicon glyphicon-share-alt"></span>所有管理</a></li>

                </ul>
            </li>
             <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span> <span data-toggle="collapse" href="#sub-item-10"
                                                                         class="icon"> 实体下载管理<em
                        class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-10">
                   <li><a href="/entity/" target="_blank">
                        <span class="glyphicon glyphicon-share-alt"></span>所有实体列表
                    </a></li>
                    <li><a href="/entity_download/" target="_blank">
                        <span class="glyphicon glyphicon-share-alt"></span>实体下载记录
                    </a></li>

                </ul>
            </li>
            <li class="parent ">
                <a href="#" title="统计信息">
                    <span class="glyphicon glyphicon-list"></span> <span data-toggle="collapse" href="#sub-item-11"
                                                                         class="icon"> 统计信息<em
                        class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-11">
                    <li><a href="/comment/" target="_blank" title="有评论的信息列表">
                        <span class="glyphicon glyphicon-share-alt"></span>有评论的信息列表
                    </a></li>
                     <li><a href="/classify/" target="_blank" title="各分类下信息数量统计">
                        <span class="glyphicon glyphicon-share-alt"></span>各分类下信息数量统计
                    </a></li>
                    <li><a href="/user/list" target="_blank" title="用户注册量统计 (近3个月)">
                        <span class="glyphicon glyphicon-share-alt"></span>用户注册量统计 (近3个月)
                    </a></li>
                     <li><a href="/nullify_info/" target="_blank" title="无效的信息列表">
                        <span class="glyphicon glyphicon-share-alt"></span>无效的信息列表
                    </a></li>



                </ul>
            </li>


        </ul>
        <div class="attribution"></div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <span id="showCnt"></span>
</div>
{% end %}
