<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TorCMS 后台管理</title>
    <meta http-equiv="Cache-control" content="no-cache">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="">
    <meta name="description" content="TorCMS 后台管理">
    <link href="{{ static_url('css/admin-css/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/admin-css/css/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/admin-css/css/styles.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/admin-css/css/admin.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ static_url('css/admin-css/js/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ static_url('css/admin-css/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ static_url('css/admin-css/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('css/admin-css/js/chart.min.js') }}"></script>
    <script src="{{ static_url('css/admin-css/js/chart-data.js') }}"></script>
    <script src="{{ static_url('css/admin-css/js/easypiechart.js') }}"></script>
    <script src="{{ static_url('css/admin-css/js/easypiechart-data.js') }}"></script>
    <script src="{{ static_url('css/admin-css/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ static_url('jslib/jquery-ui/jquery-ui.min.js') }}"></script>
    <script>
        $('#calendar').datepicker({});

        !function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
    {% block head %}
    {% end %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/"><span>TorCMS </span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="/"><span class="glyphicon glyphicon-share-alt"></span> 返回首页 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block zhuti %}{% end %}
</body>
</html>
