{% extends "../theme/bage.html" %}
{% block head %}
<title>{{ postinfo.title }} </title>
<meta name="keywords" content="{{ postinfo.title }}">
<meta name="description" content="{% module generate_abstract(postinfo.cnt_html) %},{{ postinfo.title }}">

<script type="text/javascript"
        src="{{ static_url('syntaxhighlighter_3.0.83/scripts/shCore.js') }}"></script>
<script type="text/javascript"
        src="{{ static_url('syntaxhighlighter_3.0.83/scripts/shBrushPython.js') }}"></script>
<link type="text/css" rel="stylesheet"
      href="{{ static_url('syntaxhighlighter_3.0.83/styles/shCoreDefault.css') }}"/>
<script type="text/javascript">SyntaxHighlighter.all(); </script>
<style>
    div.syntaxhighlighter .container:before, div.syntaxhighlighter .container:after {
        content: none;
    }
</style>
<link rel="stylesheet" href="{{ static_url('f2elib/bootstrap-star-rating-master/css/star-rating.css') }}"
      type="text/css" media="all">
<script type="text/javascript"
        src="{{ static_url('f2elib/bootstrap-star-rating-master/js/star-rating.js') }}"></script>
<style type="text/css">
    #map {
        width: 100%;
        height: 640px;
    }
</style>
{% end %}
{% block typebody %}
<script>
    var post_uid = "{{ postinfo.uid }}";
    var login = {{ kwd['login'] }};
</script>
<ol class="breadcrumb">
    <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
    <li>{% module the_category(postinfo.uid) %}</li>
    <li class="active"><a href="/topic/{{ postinfo.uid }}" title="{{ postinfo.title }}">{{ postinfo.title }}</a></li>
</ol>

<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="listinfo_title">{{ postinfo.title }}</h3>
        <span>{{ datetime.datetime.fromtimestamp(postinfo.time_update).strftime('%Y-%m-%d') }}</span>
        <span>{{ _('Author') }}: {{ postinfo.user_name }}</span>
        <span>{{ _('Browse') }}: {{ postinfo.view_count }} </span>
        {% if userinfo %}
        {% module collect(userinfo.uid, postinfo.uid, en=True) %}
        {% end %}

    </div>
    <div class="panel-body">
        {% if postinfo.logo %}
        <img src="{{ postinfo.logo }}" class="img-thumbnail">
        <br>
        <br>
        {% end %}

        {% module reply_panel(postinfo.uid, userinfo, en=True) %}

        <div class="postmeta">

            <strong>{{ _('Article link') }}:</strong>
            <a href="{% module site_url() %}/{{ kwd['router'] }}/{{ postinfo.uid }}"
               class="underline"> {{ postinfo.title }}</a>
            <br/>
            <strong>{{ _('Copyright') }}:</strong> {{ _('Non special statement are original articles, reproduced please indicate the  source') }}

        </div>
    </div>

</div>
{% end %}
