
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-envelope"></span> 分类列表
            </div>
            <div class="panel-body" id="addinfo">



                {% set ii = 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>UID</td>
                        <td>分类名</td>
                        <td>Slug</td>
                        <td>PID</td>
                        <td>排序</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for x in view %}


                    <form class="form-horizontal" id="form_post">
                        <tr id="del_category_{{ ii }}" {% if x.pid == '0000' %} style="background-color: #E1E1E1" {% end %}>
                        <td>
                            {{ x.uid }}
                        </td>
                        <td>
                            <input id="name_{{ ii }}" name="name" type="text" class="form-control"
                                   value="{{ x.name }}">
                        </td>
                        <td>
                            <input id="slug_{{ ii }}" type="text" name="slug" value="{{ x.slug }}"
                                   class="form-control">
                        </td>
                        <td>
                            <input id="pid_{{ ii }}" type="text" name="slug" value="{{ x.pid }}"
                                   class="form-control">
                        </td>
                        <td>
                            <input id="order_{{ ii }}" type="text" name="order" value="{{ x.order }}"
                                   class="form-control">
                        </td>

                        </tr>
                    </form>

                    {% set ii = ii + 1 %}
                    {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


