<div class="row">
    <div class="col-md-10">
        <div class="panel panel-black">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-envelope"></span>{{ kwd['router'] }} 分类列表
            </div>
            <div class="panel-body" id="addinfo">


                <Br>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td><b style="color: #FF0000">{{ kwd['kind'] }}</b></td>

                        <td>UID</td>
                        <td>Slug</td>
                        <td>Title</td>
                        <td>Order</td>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    {% for x in view %}


                    {% if x.pid == '0000' %}

                    <tr style="background-color: #E1E1E1">
                        <td>
                            <b>{{ str(x.uid)[:2] }}</b>
                        </td>

                        <td>
                            {{ x.uid }}
                        </td>
                        <td>
                            {{ x.slug }}
                        </td>
                        <td>
                            {{ x.name }}
                        </td>


                        <td>
                            {{ x.order }}
                        </td>

                    </tr>

                    {% else %}
                    <tr>
                        <td>

                        </td>

                        <td>
                            {{ x.uid }}
                        </td>
                        <td>
                            {{ x.slug }}
                        </td>
                        <td>
                            {{ x.name }}
                        </td>


                        <td>
                            {{ x.order }}
                        </td>

                    </tr>
                    {% end %}


                    {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


