
<ul class="pagination">
    {% if kwd['page_home'] %}
    <li>
        <a class="{0}" href="/check/pend_review/1?state={{ state }}&kind={{ kwd['kind'] }}" title="Home">{{ _('Home') }} </a>
    </li>
    {% end %}

    {% if kwd['page_pre'] %}
    <li>
        <a class="{0}" href="/check/pend_review/{{ page_current - 1 }}?state={{ state }}&kind={{ kwd['kind'] }}" title="Previous page">{{ _('Previous page') }}</a>
    </li>
    {% end %}
    {% set cur_num = page_current
    if cur_num > 5:
        cur_num = cur_num - 4
    else:
        cur_num = 1
    if pager_num > 10 and cur_num < pager_num - 10:
        show_num = cur_num + 10
    else:
        show_num = pager_num + 1
    %}
    {% for page_index in range(cur_num, show_num ) %}
    <li class="{% if page_current == page_index %}active{% end %}">
        <a href="/check/pend_review/{{ page_index }}?state={{ state }}&kind={{ kwd['kind'] }}" title="{{ page_index }}">{{ page_index }}</a></li>
    {% end %}



    {% if kwd['page_next'] %}
    <li>
        <a class="{0}" href="/check/pend_review/{{ page_current +1 }}?state={{ state }}&kind={{ kwd['kind'] }}" title="Next page">{{ _('Next page') }}</a>
    </li>
    {% end %}

    {% if kwd['page_end'] %}
    <li>
        <a class="{0}" href="/check/pend_review/{{ pager_num }}?state={{ state }}&kind={{ kwd['kind'] }}" title="End"> {{ _('End') }}</a>
    </li>
    {% end %}
</ul>
