<script>
    function tjstate() {

        var url = "/api/post/submit_state/{{postinfo.uid}}";

        var recstate = document.getElementById("recstate");


        $.ajax({
            type: 'POST',
            url: url,
            success: function (rs) {
                var m = eval("(" + rs + ")");

                var btn_arr = ''
                for (var act in m.act_arr) {
                    btn_arr += '<a class="btn btn-warning btn-xs"  onclick="tjaction(' +
                        m.act_arr[act]['act_uid'] + ','+m.request_id+')">' +m.act_arr[act]['act_name'] + '</a>&nbsp'
                }
                recstate.innerHTML = btn_arr
            },
            error: function (err) {
                alert('Submission failed');
            }
        });

    }

 function tjaction(act_id,request_id) {

        var url = "/api/post/submit_action";

        var recstate = document.getElementById("recstate");
        var action_data = new FormData();

        action_data.append("state_id", state_id);
        action_data.append("request_id", request_id);
        action_data.append("user_id", "{{userinfo.uid}}");

        action_data.append("post_id", "{{postinfo.uid}}");
        action_data.append("act_id", act_id);

        $.ajax({
            type: 'POST',
            url: url,
            data: action_data,
            timeout: 1e3,
            processData: false,
            contentType: false,
            success: function (rs) {
                var m = eval("(" + rs + ")");
                alert(m);

            },
            error: function (err) {
                alert('Submission failed');
            }
        });

    }
</script>

<div class="col-sm-12">

    {% if userinfo %}
    {% if action_arr %}
    {% for action in action_arr %}
    <a class="btn btn-warning btn-sm" onclick="tjaction('{{ action['act_uid'] }}')">{{ action['act_name'] }}</a>
    {% end %}
    {% else %}

    <div id="recstate" class="col-sm-7">

        {% if userinfo.user_name == postinfo.user_name %}

        <a href="/{{ kwd.get('router') }}/_edit/{{ postinfo.uid }}" class="btn btn-warning btn-xs">{{ _('Edit') }}</a>
        <a class="btn btn-danger btn-xs"
           onclick="tjstate()">{{ _("Submit for review") }}</a>

        {% else %}
        {% if postinfo.state[1] == '0' %}
        <strong>{{ _('Audit status') }}:</strong> <span>{{ _("Waiting for review") }} </span>

        {% end %}
        {% end %}


    </div>


    {% end %}
    {% end %}
</div>