
    {% extends "../../ext_excel/tpl_list.html" %}
    {% block header %}
    {{ header_text }}
    {% end %}
    {% block infoselect %}
    <div class="infoselect"> <li class="list-group-item">
    <div class="row"><div class="col-sm-3">标本状态</div><div class="col-sm-9">
     <span class="label label-default"  name='zt' onclick='change(this);' value=''>{{_('All')}}</span>
    
        <span  class="label label-default" name='zt' onclick='change(this);' value='1'>
        有花无果</span>
        <span  class="label label-default" name='zt' onclick='change(this);' value='2'>
        无花有果</span></div></div></li> </div>
    {% end %}

    {% block infonav %}
    {% end %}

    {% block infolist %}
    <div class="list_house">
    <ul class="list-group">
    <span id="resultSpan"></span>

    </ul>
    </div>
    {% end %}
    {% block footer %}
    <p>{{ footer_text }}</p>
    {% end %}