{{% extends "../../../theme/view_js.html" %}}

{{% block headinfo %}}

{{%  if 1== 2 %}}
<title>{{ calc_info.title }}</title>
<meta name="keywords" content="{{ calc_info.keywords }}"/>
<meta name="description" content="{{ calc_info.desc }}"/>
{{%  end  %}}


<script>
        function change(select_id){{
            var alist = [{0}],
            uu = $("#" + select_id).val();
            for (var al  in alist)
            {{

                 if ( select_id == alist[al])
                {{

                    continue;
                }}
                else {{
                    $('#' + alist[al]).val(uu);
                }}


            }}
        }}
    </script>


{{% end %}}


{{% block content %}}



<form class="form-horizontal" role="form">

        {1}


</form>



{{% end %}}



