server {
    # To browser.
    listen 6796;
    # TorCMS port.
    location /api/ {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection $http_upgrade;
      proxy_pass http://127.0.0.1:3333/api/;
    }
    # Amis port.
    location / {
      proxy_pass http://127.0.0.1:3000;
    }
}

server {
    # To browser.
    listen 6798;
    # TorCMS port.
    location / {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection $http_upgrade;
      proxy_pass http://127.0.0.1:3333/;
    }
}