{% extends parent_template %}
{% block head %}
    <title>Literature catagories</title>

{% endblock %}
{% block mainbody %}

    <div class="wrapper">
        <div class="row mt-3">
 <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">
                    {{ _('Literatures Catagories') }}
                </li>
            </ul>
        </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <h3>Literature Catagories</h3>
                <div class="row">
                    <div class="col-sm-3">
                        {% include "catalog_of.html" with Category=Category %}
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}