{% extends parent_template %}

{% block head %}
    <title>{{ cat_name }} List</title>
{% endblock %}
{% block mainbody %}
    <div class="row mt-3">


            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="/literature_category/index/"> {{ _('Literatures') }}</a>
                </li>
                <li class="breadcrumb-item active">{{ cat_name }}</li>
            </ul>

    </div>
    <div class="row">
        <div class="col-sm-9">

                <div class="card-header">{{ cat_name }}</div>
                  <div class="panel panel-primary">
                    <ul class="list-group">

                        {% for dat in data %}
                            <li class="list-group-item">

                                <div class="row ">

                                    {% if dat.logo != "" %}
                                        <div class="col-sm-4">
                                            <img src="/{{ dat.logo }}" class="img-thumbnail"
                                                 style="border: 1px solid #ddd"
                                                 alt="{{ dat.title }}"/>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="listinfo_title">

                                                <a href="{% url 'literature:data_view' dat.id %}"
                                                   title="{{ dat.title }}"> {{ dat.title }} </a>
                                            </div>

                                            <div class="listinfo_content padt10"> {{ dat.get_html_content| striptags |  truncatechars:130 }}</div>

                                            <div class="padt10">
                                                {% for label in dat.label.all %}
                                                    <a href="{% url 'literature_label:label_datalist' label.id %}"
                                                       class="btn btn-xs btn-primary">
                                                        {{ label }}
                                                    </a> &nbsp;&nbsp;
                                                {% endfor %}
                                            </div>

                                            <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>


                                        </div>
                                    {% else %}
                                        <div class="col-sm-12">
                                            <div class="listinfo_title">
                                                <a href="{% url 'literature:data_view' dat.id %}"
                                                   title="{{ dat.title }}"> {{ dat.title }} </a>
                                            </div>

                                            <div class="padt10">
                                                {% for label in dat.label.all %}
                                                    <a href="{% url 'literature_label:label_datalist' label.id %}"
                                                       class="btn btn-xs btn-primary">
                                                        {{ label }}
                                                    </a> &nbsp;&nbsp;
                                                {% endfor %}
                                            </div>

                                            <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>

                                            <div class="listinfo_content padt10"> {{ dat.get_html_content| striptags |  truncatechars:130 }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>

                        {% endfor %}


                        {# 分页链接 #}
                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if data.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ data.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                {% endif %}

                                {% for i in data.paginator.page_range %}
                                    {% if data.number == i %}
                                        <li class="page-item active"><span class="page-link"> {{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if data.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ data.next_page_number }}">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}

                    </ul>

            </div>
        </div>
        <div class="col-sm-3">
            {% include "yj_catalog_of.html" with Category=Category order=False link_url='literature_category' data_name='literature' %}
        </div>
    </div>
{% endblock %}