<script>
    function del_info(reply_id, id_num) {

        id_num = id_num.toString();


        var AjaxUrl = "/post/p/delete/" + reply_id;


        $.getJSON(AjaxUrl, function (Json) {

            $("#del_info_" + id_num).html('');


        });


    }
</script>


<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span> 信息列表</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>

                        <th>标题</th>
                        <th>分类</th>
                        <th>时间</th>
                        <th>操作</th>


                    </tr>
                    </thead>

                    {% set ii = 0 %}


                    {% for x in postrecs %}

                    <tr id="del_info_{{ ii }}">
                        <td><a href="/post/{{ x.uid }}.html" title="{{x.title}}">{{x.title}}</a>
                        </td>
                        <td>
                            {% if kwd['with_catalog'] %}
                            <span class="post_catalog">{% module post_catalogs(x.uid) %}</span>
                            {% end %}
                        </td>
                        <td>
                            {% if kwd['with_date'] %}
                            <em class="date">{{ str(x.date)[:-15]}}</em>
                            {% end %}
                        </td>
                        <td>
                            <a href="/post/modify/{{ x.uid }}" class="btn btn-default btn-md">修改</a>


                            <a onclick="del_info('{{ x.uid }}', {{ ii }} );" class="btn btn-default btn-md">删除</a>
                        </td>

                    </tr>
                    {% set ii = ii + 1 %}
                    {% end %}


                </table>
            </div>

        </div>
    </div>


</div>
