{% extends "../../../theme/view_js.html" %}


{% block content %}
    <form class="form-horizontal" role="form" method="post" action="" id="calc_form">
        <fieldset>
            {% if 1== 2 %}
            <legend>xxxx</legend>
            {% end %}
            zzzz

            <div  class="form-group">
                 <div class="col-sm-offset-2 col-sm-3">
                <a id="run_btn" class="form-control btn btn-primary">进行计算</a>
                     </div>
            </div>


            <hr class="i2o">
            {#
            <h4>计算结果：</h4>
            #}

            rrrr


        </fieldset>
    </form>




{% end %}
