{% extends "../../theme/bage.html" %}
{% block head %}
{% block head %}
<title> {{ _('Score List') }}</title>
<meta name="description"
      content="{{ _('Score List') }}">
<meta name="keywords"
      content="{{ _('Score List') }}">
{% end %}
{% end %}
{% block typebody %}
<div class="mtop">
    <ul class="breadcrumb">
        <li><a href="/">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Score List') }}</li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="news-title">{{ _('Score List') }}</h1></div>
    <div class="panel-body">
        {% for x in postinfo %}
        <li class="list-group-item">

            <span style="color:green;"><b>[ {{router_post[x.kind]}} ]</b></span>

            <a href="/post/{{x.uid}}" title="{{ x.title }}"> {{ x.title }} </a>
            <!--<span style="color:red;"><b>( {{x.rating}} )</b></span>-->
            <button  class="btn btn-xs btn-primary">{{x.rating}} </button>

        </li>
        {% end %}
    </div>
</div>
<div class="col-sm-12">
    <div class="row">
        {% module ext_score_pager( kwd['current_page']) %}
    </div>
</div>
{% end %}

