{% extends "../torcms_metadata/tpl_view.html" %}
    {% block header %}
    <h1>{{ header_text }}</h1>
    {% end %}

    {% block extrainfo %}

    <div id="iga_view_rec_box">
    {% if postinfo.extinfo.get('pycsw_title_alternate') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Title alternate')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_title_alternate','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_parentidentifier') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Parent identifier')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_parentidentifier','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_topicategory') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Topicategory')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_topicategory','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_language') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Language')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_language','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_type') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Type')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_type','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_format') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Format')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_format','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_links') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Links')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">
    <a href="{{ postinfo.extinfo.get('pycsw_links','') }}">{{ postinfo.extinfo.get('pycsw_links','') }}</a>
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_time_begin') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Time begin')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_time_begin','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_time_end') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Time end')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_time_end','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_creator') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Creator ')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_creator','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_publisher') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Publisher')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_publisher','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_contributor') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Contributor')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_contributor','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_organization') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Organization')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_organization','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_operateson') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Operateson')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_operateson','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_anytext') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Anytext')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_anytext','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_typename') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Typename')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_typename','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_classification') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Classification')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_classification','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_schema') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Schema')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_schema','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_mdsource') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Mdsource')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_mdsource','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_insert_date') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Insert date')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_insert_date','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_resourcelanguage') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Resource language')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_resourcelanguage','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_keywordstype') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Keywords type')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_keywordstype','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_relation') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Relation')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_relation','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_securityconstraints') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Security constraints')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_securityconstraints','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_accessconstraints') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Access constraints')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_accessconstraints','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_otherconstraints') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Other constraints')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_otherconstraints','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_date') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Date')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_date','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_date_revision') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Date revision')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_date_revision','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_date_creation') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Date creation')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_date_creation','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_date_publication') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Date publication')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_date_publication','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_date_modified') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Date modified')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_date_modified','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_source') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Source')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_source','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_crs') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Crs')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_crs','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_geodescode') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Geodescode')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_geodescode','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_denominator') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Denominator')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_denominator','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_distancevalue') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Distance value')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_distancevalue','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_distanceuom') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Distanceuom')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_distanceuom','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_wkt_geometry') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Wkt geometry')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_wkt_geometry','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_servicetype') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Service type')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_servicetype','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_servicetypeversion') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Service type version')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_servicetypeversion','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_operation') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Operation')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_operation','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_couplingtype') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Coupling type')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_couplingtype','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_operatesonidentifier') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Operator identifier')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_operatesonidentifier','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_operatesoname') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Operator name')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_operatesoname','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_degree') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Degree')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_degree','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_conditionapplyingtoaccessanduse') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Condition applying to access and use')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_conditionapplyingtoaccessanduse','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_lineage') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Lineage')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_lineage','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_responsiblepartyrole') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Responsible party role')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_responsiblepartyrole','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_specificationtitle') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Specification title')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_specificationtitle','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_specificationdate') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Specification date')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_specificationdate','') }} 
     </span></div></div>{% end %}
    {% if postinfo.extinfo.get('pycsw_specificationdatetype') %}<div class="row">
    <div class="col-sm-4"><span class="des"><strong>{{_('Specification date type')}}</strong></span></div>
    <div class="col-sm-8">
    <span class="val">{{ postinfo.extinfo.get('pycsw_specificationdatetype','') }} 
     </span></div></div>{% end %}
    
    </div>

    {% end %}

    {% block footer %}
    <p>{{ footer_text }}</p>
    {% end %}