{% if order != False %}

{% for category in Category %}


{% if category.id|slice:"2:" == "00"%}


</ul>
</div>

</div>

<div class="col-sm-3">
    <div class="card">

        <div class="card-header">


            {{ category.name }}

        </div>
        <ul class="list-group">
            {% else %}


            <li class="list-group-item">
                <a href="{% url 'category:category_datalist' category.id %}">
                    {{ category.name }}
                </a>
                ({{ category.data.all|length }})
            </li>


            {% endif %}

            {% endfor %}

            {% else %}

            <div class="card">
            {% for category in Category %}



                {% if category.id|slice:"2:" == "00"%}

 </ul>
                <div class="card-header">


                    {{ category.name }}({{ category.data.all|length }})

                </div>
                <ul class="list-group">
                    {% else %}


                    <li class="list-group-item">
                        <a href="{% url 'category:category_datalist' category.id %}">
                            {{ category.name }}
                        </a>
                        ({{ category.data.all|length }})
                    </li>


                {% endif %}


            {% endfor %}

            </div>

            {% endif %}
