<script>
    function rel_del(reply_id, id_num) {

        id_num = id_num.toString();
        var AjaxUrl = "/reply_j/delete/" + reply_id;
        $.getJSON(AjaxUrl, function (Json) {
            $("#del_info_" + id_num).html('');
        });

    }
</script>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-envelope"></span> 评论列表 (<span
                    style="color: #f00;"> {{ infos.count() }} </span>)
                <a onclick="js_show_page('/reply_j/_add')" class="btn btn-default">提问</a>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>

                        <th>问题描述</th>
                        <th>近期回答</th>
                        <th>所属领域</th>
                        <th>提问时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>

                    {% set ii = 0 %}


                    {% for x in infos %}

                    <tr id="del_info_{{ ii }}">

                        <td style="width: 35%">
                        <textarea class="form-control">
                            {{ x.cnt_md }}
                        </textarea>

                        </td>
                        <td style="width: 35%">

                            {{ x.cnt_md }}


                        </td>
                        <td>
                            {% if x.extinfo.get('ext_field') == '1' %}
                            土肥
                            {% elif x.extinfo.get('ext_field') == '2' %}
                            植保
                            {% else %}
                            育种
                            {% end %}
                        </td>
                        <td>
                            {{ str(x.date)[:-7] }}
                        </td>
                        <td>
                            <a onclick="js_show_page('/reply_j/get/{{ x.uid }}')" target="_blank">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                查看
                            </a>
{#                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                            <a onclick="rel_del('{{ x.uid }}', {{ ii }} );" class="trash" target="_blank">#}
{#                                <span class="glyphicon glyphicon-trash"></span>#}
{#                                删除#}
{#                            </a>#}
                            <button class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#reply_demo{{x.uid}}"><span
                                    class="glyphicon glyphicon-share-alt"></span>&nbsp;{{ _('Reply') }}
                            </button>
                        </td>
                    </tr>
                    {% set ii = ii + 1 %}
                    {% end %}


                </table>

            </div>

        </div>
        {% module admin_reply_pager(kwd['current_page']) %}
    </div>

    <div id="reply_demo{{x.uid}}" class="collapse comment">
        <form method="post" class="form-horizontal" id="comment_form">
            <div class="form-group">
                <div class="col-sm-10">
                    {% if userinfo %}
                    <textarea rows="5" name="cnt_comment{{x.uid}}" id="cnt_comment{{x.uid}}" class="form-control"></textarea>
                    {% else %}
                    <textarea rows="5" name="cnt_comment{{x.uid}}" id="cnt_comment{{x.uid}}" class="form-control" readonly></textarea>
                    {% end %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <a id="btn_submit_comment{{x.uid}}" onclick="comment_it('{{x.uid}}','{{x.uid}}','cnt_comment{{x.uid}}','btn_submit_comment{{x.uid}}');"
                       class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#reply_demo{{x.uid}}">
                        {{ _('Submit') }}
                    </a>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#reply_demo{{x.uid}}">Cancel Reply</button>
                </div>
            </div>
        </form>
    </div>
    <div style="padding-left: 50px" id="reply_comment{{x.uid}}"></div>
</div>
