
    {% extends "../torcms_metadata/tpl_edit.html" %}

    {% block header %}
    <h1>{{ header_text }}</h1>
    {% end %}

    {% block extrainfo %}

    <div id="iga_edit_rec_box">
    
 
<input id='pycsw_identifier' name="pycsw_identifier"
value="{{ postinfo.extinfo.get('pycsw_identifier','') }}"
type="hidden"  class="form-control">  

 
<input id='pycsw_title' name="pycsw_title"
value="{{ postinfo.extinfo.get('pycsw_title','') }}"
type="hidden"  class="form-control">  

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_title_alternate">
{{_('Title alternate')}}
</label>
<div class="col-sm-9">
<input id='pycsw_title_alternate' name="pycsw_title_alternate"
value="{{ postinfo.extinfo.get('pycsw_title_alternate','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_parentidentifier">
{{_('Parent identifier')}}
</label>
<div class="col-sm-9">
<input id='pycsw_parentidentifier' name="pycsw_parentidentifier"
value="{{ postinfo.extinfo.get('pycsw_parentidentifier','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_topicategory">
{{_('Topicategory')}}
</label>
<div class="col-sm-9">
<input id='pycsw_topicategory' name="pycsw_topicategory"
value="{{ postinfo.extinfo.get('pycsw_topicategory','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_language">
{{_('Language')}}
</label>
<div class="col-sm-9">
<input id='pycsw_language' name="pycsw_language"
value="{{ postinfo.extinfo.get('pycsw_language','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_type">
{{_('Type')}}
</label>
<div class="col-sm-9">
<input id='pycsw_type' name="pycsw_type"
value="{{ postinfo.extinfo.get('pycsw_type','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_format">
{{_('Format')}}
</label>
<div class="col-sm-9">
<input id='pycsw_format' name="pycsw_format"
value="{{ postinfo.extinfo.get('pycsw_format','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 
<input id='pycsw_abstract' name="pycsw_abstract"
value="{{ postinfo.extinfo.get('pycsw_abstract','') }}"
type="hidden"  class="form-control">  

 
<input id='pycsw_keywords' name="pycsw_keywords"
value="{{ postinfo.extinfo.get('pycsw_keywords','') }}"
type="hidden"  class="form-control">  

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_links">
{{_('Links')}}
</label>
<div class="col-sm-9">
<input id='pycsw_links' name="pycsw_links"
value="{{ postinfo.extinfo.get('pycsw_links','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_time_begin">
{{_('Time begin')}}
</label>
<div class="col-sm-9">
<input id='pycsw_time_begin' name="pycsw_time_begin"
value="{{ postinfo.extinfo.get('pycsw_time_begin','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_time_end">
{{_('Time end')}}
</label>
<div class="col-sm-9">
<input id='pycsw_time_end' name="pycsw_time_end"
value="{{ postinfo.extinfo.get('pycsw_time_end','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_creator">
{{_('Creator ')}}
</label>
<div class="col-sm-9">
<input id='pycsw_creator' name="pycsw_creator"
value="{{ postinfo.extinfo.get('pycsw_creator','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_publisher">
{{_('Publisher')}}
</label>
<div class="col-sm-9">
<input id='pycsw_publisher' name="pycsw_publisher"
value="{{ postinfo.extinfo.get('pycsw_publisher','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_contributor">
{{_('Contributor')}}
</label>
<div class="col-sm-9">
<input id='pycsw_contributor' name="pycsw_contributor"
value="{{ postinfo.extinfo.get('pycsw_contributor','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_organization">
{{_('Organization')}}
</label>
<div class="col-sm-9">
<input id='pycsw_organization' name="pycsw_organization"
value="{{ postinfo.extinfo.get('pycsw_organization','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_operateson">
{{_('Operateson')}}
</label>
<div class="col-sm-9">
<input id='pycsw_operateson' name="pycsw_operateson"
value="{{ postinfo.extinfo.get('pycsw_operateson','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_anytext">
{{_('Anytext')}}
</label>
<div class="col-sm-9">
<input id='pycsw_anytext' name="pycsw_anytext"
value="{{ postinfo.extinfo.get('pycsw_anytext','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_typename">
{{_('Typename')}}
</label>
<div class="col-sm-9">
<input id='pycsw_typename' name="pycsw_typename"
value="{{ postinfo.extinfo.get('pycsw_typename','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_classification">
{{_('Classification')}}
</label>
<div class="col-sm-9">
<input id='pycsw_classification' name="pycsw_classification"
value="{{ postinfo.extinfo.get('pycsw_classification','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_schema">
{{_('Schema')}}
</label>
<div class="col-sm-9">
<input id='pycsw_schema' name="pycsw_schema"
value="{{ postinfo.extinfo.get('pycsw_schema','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_mdsource">
{{_('Mdsource')}}
</label>
<div class="col-sm-9">
<input id='pycsw_mdsource' name="pycsw_mdsource"
value="{{ postinfo.extinfo.get('pycsw_mdsource','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_insert_date">
{{_('Insert date')}}
</label>
<div class="col-sm-9">
<input id='pycsw_insert_date' name="pycsw_insert_date"
value="{{ postinfo.extinfo.get('pycsw_insert_date','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_resourcelanguage">
{{_('Resource language')}}
</label>
<div class="col-sm-9">
<input id='pycsw_resourcelanguage' name="pycsw_resourcelanguage"
value="{{ postinfo.extinfo.get('pycsw_resourcelanguage','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_keywordstype">
{{_('Keywords type')}}
</label>
<div class="col-sm-9">
<input id='pycsw_keywordstype' name="pycsw_keywordstype"
value="{{ postinfo.extinfo.get('pycsw_keywordstype','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_relation">
{{_('Relation')}}
</label>
<div class="col-sm-9">
<input id='pycsw_relation' name="pycsw_relation"
value="{{ postinfo.extinfo.get('pycsw_relation','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_securityconstraints">
{{_('Security constraints')}}
</label>
<div class="col-sm-9">
<input id='pycsw_securityconstraints' name="pycsw_securityconstraints"
value="{{ postinfo.extinfo.get('pycsw_securityconstraints','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_accessconstraints">
{{_('Access constraints')}}
</label>
<div class="col-sm-9">
<input id='pycsw_accessconstraints' name="pycsw_accessconstraints"
value="{{ postinfo.extinfo.get('pycsw_accessconstraints','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_otherconstraints">
{{_('Other constraints')}}
</label>
<div class="col-sm-9">
<input id='pycsw_otherconstraints' name="pycsw_otherconstraints"
value="{{ postinfo.extinfo.get('pycsw_otherconstraints','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_date">
{{_('Date')}}
</label>
<div class="col-sm-9">
<input id='pycsw_date' name="pycsw_date"
value="{{ postinfo.extinfo.get('pycsw_date','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_date_revision">
{{_('Date revision')}}
</label>
<div class="col-sm-9">
<input id='pycsw_date_revision' name="pycsw_date_revision"
value="{{ postinfo.extinfo.get('pycsw_date_revision','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_date_creation">
{{_('Date creation')}}
</label>
<div class="col-sm-9">
<input id='pycsw_date_creation' name="pycsw_date_creation"
value="{{ postinfo.extinfo.get('pycsw_date_creation','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_date_publication">
{{_('Date publication')}}
</label>
<div class="col-sm-9">
<input id='pycsw_date_publication' name="pycsw_date_publication"
value="{{ postinfo.extinfo.get('pycsw_date_publication','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_date_modified">
{{_('Date modified')}}
</label>
<div class="col-sm-9">
<input id='pycsw_date_modified' name="pycsw_date_modified"
value="{{ postinfo.extinfo.get('pycsw_date_modified','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_source">
{{_('Source')}}
</label>
<div class="col-sm-9">
<input id='pycsw_source' name="pycsw_source"
value="{{ postinfo.extinfo.get('pycsw_source','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_crs">
{{_('Crs')}}
</label>
<div class="col-sm-9">
<input id='pycsw_crs' name="pycsw_crs"
value="{{ postinfo.extinfo.get('pycsw_crs','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_geodescode">
{{_('Geodescode')}}
</label>
<div class="col-sm-9">
<input id='pycsw_geodescode' name="pycsw_geodescode"
value="{{ postinfo.extinfo.get('pycsw_geodescode','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_denominator">
{{_('Denominator')}}
</label>
<div class="col-sm-9">
<input id='pycsw_denominator' name="pycsw_denominator"
value="{{ postinfo.extinfo.get('pycsw_denominator','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_distancevalue">
{{_('Distance value')}}
</label>
<div class="col-sm-9">
<input id='pycsw_distancevalue' name="pycsw_distancevalue"
value="{{ postinfo.extinfo.get('pycsw_distancevalue','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_distanceuom">
{{_('Distanceuom')}}
</label>
<div class="col-sm-9">
<input id='pycsw_distanceuom' name="pycsw_distanceuom"
value="{{ postinfo.extinfo.get('pycsw_distanceuom','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_wkt_geometry">
{{_('Wkt geometry')}}
</label>
<div class="col-sm-9">
<input id='pycsw_wkt_geometry' name="pycsw_wkt_geometry"
value="{{ postinfo.extinfo.get('pycsw_wkt_geometry','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_servicetype">
{{_('Service type')}}
</label>
<div class="col-sm-9">
<input id='pycsw_servicetype' name="pycsw_servicetype"
value="{{ postinfo.extinfo.get('pycsw_servicetype','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_servicetypeversion">
{{_('Service type version')}}
</label>
<div class="col-sm-9">
<input id='pycsw_servicetypeversion' name="pycsw_servicetypeversion"
value="{{ postinfo.extinfo.get('pycsw_servicetypeversion','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_operation">
{{_('Operation')}}
</label>
<div class="col-sm-9">
<input id='pycsw_operation' name="pycsw_operation"
value="{{ postinfo.extinfo.get('pycsw_operation','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_couplingtype">
{{_('Coupling type')}}
</label>
<div class="col-sm-9">
<input id='pycsw_couplingtype' name="pycsw_couplingtype"
value="{{ postinfo.extinfo.get('pycsw_couplingtype','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_operatesonidentifier">
{{_('Operator identifier')}}
</label>
<div class="col-sm-9">
<input id='pycsw_operatesonidentifier' name="pycsw_operatesonidentifier"
value="{{ postinfo.extinfo.get('pycsw_operatesonidentifier','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_operatesoname">
{{_('Operator name')}}
</label>
<div class="col-sm-9">
<input id='pycsw_operatesoname' name="pycsw_operatesoname"
value="{{ postinfo.extinfo.get('pycsw_operatesoname','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_degree">
{{_('Degree')}}
</label>
<div class="col-sm-9">
<input id='pycsw_degree' name="pycsw_degree"
value="{{ postinfo.extinfo.get('pycsw_degree','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_conditionapplyingtoaccessanduse">
{{_('Condition applying to access and use')}}
</label>
<div class="col-sm-9">
<input id='pycsw_conditionapplyingtoaccessanduse' name="pycsw_conditionapplyingtoaccessanduse"
value="{{ postinfo.extinfo.get('pycsw_conditionapplyingtoaccessanduse','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_lineage">
{{_('Lineage')}}
</label>
<div class="col-sm-9">
<input id='pycsw_lineage' name="pycsw_lineage"
value="{{ postinfo.extinfo.get('pycsw_lineage','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_responsiblepartyrole">
{{_('Responsible party role')}}
</label>
<div class="col-sm-9">
<input id='pycsw_responsiblepartyrole' name="pycsw_responsiblepartyrole"
value="{{ postinfo.extinfo.get('pycsw_responsiblepartyrole','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_specificationtitle">
{{_('Specification title')}}
</label>
<div class="col-sm-9">
<input id='pycsw_specificationtitle' name="pycsw_specificationtitle"
value="{{ postinfo.extinfo.get('pycsw_specificationtitle','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_specificationdate">
{{_('Specification date')}}
</label>
<div class="col-sm-9">
<input id='pycsw_specificationdate' name="pycsw_specificationdate"
value="{{ postinfo.extinfo.get('pycsw_specificationdate','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>

 <div class="form-group">
<label  class="col-sm-2 control-label"  for="pycsw_specificationdatetype">
{{_('Specification date type')}}
</label>
<div class="col-sm-9">
<input id='pycsw_specificationdatetype' name="pycsw_specificationdatetype"
value="{{ postinfo.extinfo.get('pycsw_specificationdatetype','') }}"
type="text"  class="form-control"> </div> 
<div class="col-sm-1"></div>
</div>
<legend>{{ _('Extra Metadata fields') }}</legend>
    </div>
    {% end %}
    {% block footer %}
    <p>{{ footer_text }}</p>
    {% end %}