<div class="row">
    <div class="col-sm-12">

        <div class="card-header">Maps
            <a style="font-size: 12px;float: right" href="{% url 'yaoumapcategory:map_index' %}">More</a>
        </div>

        <div class="card-body">
            <ul class="list-group">


                {% for dat_info in data %}

                {% for dat in dat_info %}


                <li class="list-group-item" style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">

                    <a href="{% url 'qgismap:map_view' mapid=dat.id category='yaou' %}">
                        <span class="fa fa-map-marker"></span>
                        {{ dat.en_title }}
                    </a>

                </li>
                {% endfor %}

                {% endfor %}
            </ul>

        </div>
    </div>

</div>


<div style="clear:both;"></div>






