<div class="row">
    <div class="col-sm-12">

            <div class="card-header">Literatures
                 <a style="font-size: 12px;float: right" href="{% url 'literature_category:literature_category_index' %}">More</a>
            </div>
  <div class="card-body">

            <ul class="list-group">
                {% for dat in data %}
                   {% if dat.logo != '' %}
                <li class="list-group-item">

                    <div class="row">
                        <div class="col-sm-3">
                            <img src="/media/{{ dat.logo }}" alt="/static/img/{{ dat.logo }}"
                                         class="img-thumbnail">
                        </div>
                        <div class="col-sm-9">
               <a href="{% url 'literature:data_view' dataid=dat.id %}">
                                    <span class="fa fa-file-text"></span> {{ dat.title }}
                        </a>
                        </div>
                    </div>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>

</div>


<div style="clear:both;"></div>






