<div class="card">
    {% for category in Category %}


    <li class="list-group-item">
        {% if cat_name == 'anso' %}
        <a href="{% url 'ansomapcategory:category_datalist' category.id %}">
            {{ category.name }}
        </a>
        ({{ category.ansodata.all|length }})
        {% endif %}
        {% if cat_name == 'yaou' %}
        <a href="{% url 'yaoumapcategory:category_datalist' category.id %}">
            {{ category.name }}
        </a>
        ({{ category.yaoudata.all|length }})
        {% endif %}
        {% if cat_name == 'zhongba' %}
        <a href="{% url 'zhongbamapcategory:category_datalist' category.id %}">
            {{ category.name }}
        </a>
        ({{ category.zhongbadata.all|length }})
        {% endif %}

        {% if cat_name == 'zhongmeng' %}
        <a href="{% url 'zhongmengmapcategory:category_datalist' category.id %}">
            {{ category.name }}
        </a>
        ({{ category.zhongmengdata.all|length }})
        {% endif %}
        {% if cat_name == 'qgis' %}
        <a href="{% url 'qgismapcategory:category_datalist' category.id %}">
            {{ category.name }}
        </a>
        ({{ category.qgismapdata.all|length }})
        {% endif %}
        {% if cat_name == 'heitu' %}
        <a href="{% url 'heitumapcategory:category_datalist' category.id %}">
            {{ category.name }}
        </a>
        ({{ category.heitudata.all|length }})

        {% endif %}

    </li>


    {% endfor %}

</div>

