{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Eurasian Continental Knowledge Resources Portal') }}</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://r.osgeo.cn/jquery/jquery-3.6.x.min.js"></script>
    <script src="https://r.osgeo.cn/bootstrap-3.4.x/js/bootstrap.min.js"></script>
    <script src="https://r.osgeo.cn/jquery-validate_1.15.0/jquery.validate.min.js"></script>
    <script src="https://r.osgeo.cn/magnific-popup_1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://r.osgeo.cn/leaflet-1.9.x/leaflet.js"></script>
    <script src="https://r.osgeo.cn/leaflet/leaflet.ChineseTmsProviders.js"></script>
    <link rel="stylesheet" href="https://r.osgeo.cn/bootstrap-3.4.x/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://r.osgeo.cn/leaflet-1.9.x/leaflet.css">
    <link rel="stylesheet" href="https://cms.igadc.cn/wagtail_documents/7/wds.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% block head %}
    {% endblock %}
</head>

<body>
<div id="content_home">
    <header id="masthead" class="site-header" role="banner">
        <div class="row">
            <a href="/" title="Home">
                <img src="https://cms.igadc.cn/images/edclogo.original.png" id="site-logo" alt="logo_img"
                     class="index_logo"></a></div>
    </header>
    <div id="wrapper_nav" class="hit">

        <div class="row">
            <div class="container-fluid" id="nava">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">News
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-toggle" href="/list/news_archive" title="News Archive">News
                                    Archive</a>
                                </li>
                                <li><a href="/list/blog" title="WDS Blog">WDS Blog</a></li>
                                <li class="divider"></li>
                                <li><a href="/list/newsletters" title="Newsletters">Newsletters</a></li>
                                <li><a href="/list/wds_related" title="WDS-related">WDS-related</a></li>
                            </ul>
                        </li>
                        <li><a href="/csw/" title="Catalog Service">Catalog Service</a></li>
                        <li><a href="/metadata/" title="MetaData">MetaData</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Events
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/list/wds_events" title="WDS Events">WDS Events </a></li>
                                <li><a href="/list/wds_members" title="WDS Members Events">WDS Members Events </a></li>
                                <li class="divider"></li>
                                <li><a href="/list/wds_related_events" title="WDS-related Events">WDS-related
                                    Events </a>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" title="Community">Community
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-toggle" href="/page/membership" title="Membership">Membership</a>
                                </li>
                                <li><a href="/page/working_groups" title="Working Groups">Working Groups</a></li>
                                <li class="divider"></li>
                                <li><a href="/page/webinars" title="Webinars">Webinars</a></li>
                                <li><a href="/page/wds_members_forum" title="WDS Members Forum">WDS Members Forum</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/page/scidatacon_conference" title="SciDataCon Conference">SciDataCon
                                    Conference</a></li>
                                <li><a href="/page/data_stewardship_award" title="Data Stewardship Award">Data
                                    Stewardship Award</a></li>
                                <li class="divider"></li>
                                <li><a href="/page/promotion" title="Promotion">Promotion</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" title="Data And Services">Data And
                                Services
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-toggle" href="/page/portal" title="Data PorTal">Data PorTal</a>
                                </li>
                                <li><a href="/page/policy" title="Data Policy">Data Policy</a></li>
                                <li class="divider"></li>
                                <li><a href="/page/certification" title="WDS Certification">WDS Certification</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-toggle" href="/page/introduction.html" title="About"> About</a></li>

                    </ul>


                </div>
            </div>
        </div>


    </div>
</div>
<div class="site-content">
    {% block mainbody %}
    {% endblock %}
</div>

<footer id="footer-top" class="site-footer" role="contentinfo">
    <div class="row">
        <div class="col-sm-12" align="center" style="background: #fff">
            <div class=" col-sm-3">
                <a href="http://www.icsu.org/" target="_blank" title="www.icsu.org">
                    <img src="https://cms.igadc.cn/images/logo_x2_icsu.original.png"
                         width="300" alt="www.icsu.org"
                         class="img-thumbnail"/></a>
            </div>
            <div class="col-sm-6" align="center">
                <hr noshade="noshade" width="90%">
                <p>Copyright © 2016-2017 WDS & RRE Copyright</p>
                <p><a href="https://beian.miit.gov.cn/" target="_blank" title="京ICP备17036244号">京ICP备17036244号</a></p>
                <p>Powered by <a href="https://github.com/bukun/TorCMS" target="_blank" title="TorCMS">TorCMS</a></p>
                <br>
            </div>
            <div class="col-sm-3">
                <h4 style="color:#0d3349;">Technical Support </h4>
                <ul>
                    <li style="color: #555">
                        <a href="https://www.gislite.com/" target="_blank" title="GISlite">
                            GISlite</a></li>
                    <li style="color: #555">World Data Center for Renewable Resourees and Enviornment,Beijing,China</li>
                    <a href="http://www.icsu-wds.org/" target="_blank" title="world1">
                        <img src="https://cms.igadc.cn/images/world.original.png"
                             width="300" class="img-thumbnail" alt="world1"/></a>
                    <br> <br>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>

<script type="text/javascript">
    var urlstr = location.href;

    var urlstatus = false;
    $("#nava a").each(function () {
        if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != '') {
            $(this).addClass('current');
            urlstatus = true;
        } else {
            $(this).removeClass('current');
        }
    });
    $(".dropdown-menu a").each(function () {
        if ($(this).hasClass('current')) {
            $(this).parents('ul').siblings('a').eq(0).addClass('current');
            urlstatus = true;
        }
    });
    if (!urlstatus) {
        $("#nava a").eq(0).addClass('current');
    }
</script>
</body>

{% block ending %}
{% endblock %}

</html>



 