<script src="{{ static_url('f2elib/jquery/jquery-3.6.min.js') }}"></script>
<script src="{{ static_url('f2elib/bootstrap-3.4/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('f2elib/jquery-validate_1.15.0/jquery.validate.min.js') }}"></script>
<script src="{{ static_url('f2elib/magnific-popup_1.1.0/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ static_url('f2elib/leaflet-1.9/leaflet.js') }}"></script>
<script src="{{ static_url('f2elib/leaflet/leaflet.ChineseTmsProviders.js') }}"></script>

<link rel="stylesheet" href="{{ static_url('f2elib/bootstrap-3.4/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ static_url('f2elib/leaflet-1.9/leaflet.css') }}">

