<script src="https://r.osgeo.cn/jquery/jquery-3.7.x.min.js"></script>
<script src="https://r.osgeo.cn/bootstrap-5.3.x/js/bootstrap.min.js"></script>
<script src="https://r.osgeo.cn/jquery-validate_1.15.0/jquery.validate.min.js"></script>
<script src="https://r.osgeo.cn/magnific-popup_1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://r.osgeo.cn/leaflet-1.9.x/leaflet.js"></script>
<script src="https://r.osgeo.cn/leaflet/leaflet.ChineseTmsProviders.js"></script>
<link rel="stylesheet" href="https://r.osgeo.cn/bootstrap-5.3.x/css/bootstrap.min.css">
<link rel="stylesheet" href="https://r.osgeo.cn/leaflet-1.9.x/leaflet.css">