<script src="{{ static_url('f2elib/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ static_url('f2elib/bootstrap_3.3.7/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('f2elib/jquery-validate_1.15.0/jquery.validate.min.js') }}"></script>
<script src="{{ static_url('f2elib/magnific-popup_1.1.0/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ static_url('f2elib/leaflet_1.3.1/leaflet.js') }}"></script>
<script src="{{ static_url('f2elib/leaflet/leaflet.ChineseTmsProviders.js') }}"></script>

<link rel="stylesheet" href="{{ static_url('f2elib/bootstrap_3.3.7/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ static_url('f2elib/leaflet_1.3.1/leaflet.css') }}">

