<script>
    function category_del(reply_id, id_num) {
        id_num = id_num.toString();
        var AjaxUrl = "/user/p/delete_user/" + reply_id;
        $.getJSON(AjaxUrl, function (Json) {
            $("#del_category_" + id_num).html('');
        });
    }
    function update_category(update_id, id_num) {
        id_num = id_num.toString();
        var role = $("#role" + id_num).val();
        $.post("/user/p/changerole/" + update_id, {role: role}, function (result) {
            alert("更新成功");
            $("#del_category").html('');
        });
    }
</script>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span> 用户列表</div>
            <div class="panel-body">
                <ul class="todo-list">
                    {% set ii = 0 %}
                    {% for x in view %}
                    <li id="del_category_{{ ii }}" class="todo-list-item">
                        <div class="action-buttons">
                            <form class="form-horizontal">
                                用户名：{{x.user_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                                当前权限：<input value="{{ x.role }}" type="text" id="role{{ ii }}"
                                            name="role">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a onclick="update_category('{{x.user_name}}', {{ ii }} );"><span
                                        class="glyphicon glyphicon-pencil"></span>修改</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="trash" onclick="category_del('{{ x.uid }}', {{ ii }} );"><span
                                        class="glyphicon glyphicon-trash"></span>删除</a>
                            </form>
                        </div>
                    </li>
                    {% set ii = ii + 1 %}
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>

