{% extends "../../../templates/theme/_maplet.html" %}
{% block head %}
<title>{{ _('Map painter, GIS online editor, WebGIS editor, online map data editing') }}</title>
<meta name="keywords"
      content="{{ _('Map painter, map editor, GIS online editor, WebGIS editor, online map, GeoJSON editor, GeoJSON verification') }}">
<meta name="description"
      content="{{ _('Map drawing board, based on cloud GIS technology, to achieve the map online browsing, stack operation.') }}">
{% end %}
{% block mainbody %}
<h1 class="hden">{{ _('Map painter, GIS online editor, WebGIS editor, online map data editing') }}</h1>
<div class=" marketing">
    <div class="row-fluid home-tab-fluid">
        <div class="row-fluid tabbedmain hidden-phone" id="tabselector">
            <ul class="nav nav-tabs nav-justified">
                <li class="span4 active main-selector main-tabs">
                    <a href="#tab1" data-toggle="tab" class="home-tab-a">
						<span class="tabfix">
                            <h4>
                                {{ _('Map painter, GeoJSON online editor') }}
                            </h4>
							<p>{{ _('On line drawing tool based on GeoJson') }}
                                <span class="label label-danger">{{ _('Free download and upload！') }}</span>
                            </p>
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="#indexcontent">
        <div class="tab-pane active fade in" id="tab1">
            <div class="row-fluid">
                <div class="container">

                        <br>

                        <div class="row featurette" style="background-color:#F7F7F7">
                            <div class="col-sm-4">
                                <br>

                                <p class="lead">
                                    <a href="/geojson/draw" class="btn btn-lg btn-primary"
                                       style="margin-top: 50px;margin-left:100px;" target="_blank" title="Create map">{{ _('Create map') }}</a>
                                </p>
                            </div>
                            <div class="col-sm-8">
                                {% if userinfo %}
                                <br>

                                <div class="panel panel-black">
                                    <div class="panel-heading">
                                        {{ _('My recent data') }}
                                    </div>
                                    <ul class="list-group">
                                        {% for gson in json_arr %}
                                        <li class="list-group-item"><a href="/geojson/{{gson.uid}}" title="{{gson.uid}}">{{gson.uid}}</a> </li>
                                        {% end %}
                                    </ul>
                                </div>
                                {% else %}
                                <br>

                                <p class="lead">
                                    Map painter, is a multi technology means under the comprehensive support of the
                                    atlas
                                    information system (Atlas Information System),

                                    AIS is an online version of the traditional Thematic Atlas, through data
                                    visualization
                                    and data spatialization and other technical means,

                                    The design of a Web Thematic Atlas system integrating data and software,

                                    Can also be widely understood as a cloud computing tool is suitable for all types of
                                    users to use geographic information to be able to view online, edit the various
                                    information reflected by the traditional atlas.<br>

                                </p>
                                {% end %}
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
{% end %}
{% block flinks%}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ _('Links') }}</b></div>
        <div class="panel-body flink">
            {% module link_list(15) %}
        </div>
    </div>
</div>
{% end %}
