{% extends "../theme/bage.html" %}
{% block headinfo %}
<style type="text/css">
        table.diff {font-family:Courier; border:medium;width:99%;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
{% module use_f2e('codemirror') %}
{% end %}
{% block typebody %}
<ol class="breadcrumb">
    <li>Current location: <a href="{% module site_url() %}">Home</a></li>
    <li>{% module the_category(postinfo.uid) %}</li>
    <li class="active">{{ postinfo.title }}</li>
</ol>
<div class="panel panel-black">
    <div class="panel-heading">
        <h2>{{ postinfo.title }}</h2>
        <span>{{ str(postinfo.date)[:10] }}</span>

        <span>Browse: {{ postinfo.view_count }} </span>
        <span class="cmts"><a class="btn btn-xm btn-primary" href="/post/{{ postinfo.uid }}">View</a></span>
    </div>
    <div class="panel-body">
        <form method="post" class="form-horizontal" role="form" id="form_post">
            <fieldset>
                <div class="form-group">
                    <label for="cnt_md" class="col-sm-1 control-label">内容</label>

                    <div class="col-sm-10">
            <textarea rows=26 id="cnt_md" name="cnt_md" cols="80" class="form-control">
                {% raw unescape(postinfo.cnt_md) %}
            </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub1" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input id="sub1" type="submit" class="btn btn-primary" value="Update data"/>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="bg-warning">Text editors use MarkDown syntax.
            <a href="http://www.maplet.org/page/markdown.html">MarkDown syntax description</a></div>
    </div>
</div>
{% end %}


