{% extends "../theme/bage.html" %}
{% block typebody %}
<div class="panel panel-black">
    <div class="panel-heading">{{ _('Modify') }} - {{ postinfo.title }}</div>
    <div class="panel-body">
        <form method="post" class="form-horizontal" id="form_post" role="form">
            <fieldset>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">{{ _('Title') }}</label>

                    <div class="col-sm-10">
                        <input type="text" id="title" name="title" value="{{ postinfo.title }}"
                               class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">KIND</label>

                    <div class="col-sm-10">
                        <select onchange="g_load_kindcat()" class="form-control" name="kcat" id="kcat">
                            <option>Please Select</option>
                            {% for k, v in sig_dic.items() %}
                            <option value="{{k}}">{{v}}
                            </option>
                            {% end %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pcat0" class="col-sm-2 control-label">{{ _('Category') }}</label>

                    <div class="col-sm-3">
                        <select name="pcat0" id="pcat0" class="form-control" onchange="g_load_infocat(0)">
                            <option value="">{{ _('Please Select') }}</option>
                            <option> </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select name="gcat0" id="gcat0" class="form-control">
                            <option value="">{{ _('Please Select') }}</option>
                            <option value=""> </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub1" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input id="sub1" type="submit" value="Update data" class="btn btn-danger">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub1" class="col-sm-2 control-label">{{ _('Content') }}</label>

                    <div class="col-sm-10">
                    <textarea class="form-control" style="width: 99%;" rows="6" readonly>
                        {% raw unescape(postinfo.cnt_md) %}
                    </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub1" class="col-sm-2 control-label">json</label>

                    <div class="col-sm-10">
                    <textarea class="form-control" style="width: 99%;" rows="8" readonly>
                        {% raw json_cnt %}
                    </textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% end %}


