[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=pycsw
Comment=pycsw catalog server
Exec=xdg-open http://localhost/pycsw/tests/index.html
Icon=/var/www/html/pycsw/docs/_static/pycsw-logo.png
Terminal=false
StartupNotify=false
Categories=Education;Geography;
