{% extends "../torcms_maplet/map_full_overlay.html" %}
{% block head %}
<title>{{ _('Map') }}, {{ _('Sketchpad') }}, {{ _('map overlay') }}</title>
<meta name="description" content="{{ _('Map') }}, {{ _('Sketchpad') }}, {{ _('map overlay') }}">
<meta name="keywords" content="{{ _('Map') }}, {{ _('Sketchpad') }}, {{ _('map overlay') }}">
<style>
    html, body, #map {
        width: 100%;
        height: 100%;
    }
</style>

<SCRIPT>
    var vlon = {{ kwd['lon']}};
    var vlat = {{ kwd['lat']}};
    var vzoom_current = {{ kwd['zoom_current'] }};
    var vzoom_max = {{ kwd['zoom_max']}};
    var vzoom_min = {{ kwd['zoom_min']}};

</script>
{% end %}

{% block mainbody %}
<span id="pycode"></span>
<input id="app_ctrl" value="{{ app_str }}" style="display: none;">
<div id="map" class="map" tabindex="0"></div>

<script src="{{ static_url('maplet/overlay.js') }}"></script>
{% end %}
