<div class="comment">

    <div class="col-sm-12">
        <div class="reply_title"><div style="width: 30px;height: 30px" class="pull-left">{% module user_profile_by_id(reply.user_id) %}</div>&nbsp;&nbsp; <strong>{{ username }}</strong>
        <span class="pull-right">  <span class="glyphicon glyphicon glyphicon-time"></span>
                &nbsp;&nbsp;{{ str(date).split('.')[0] }}</span>
        </div>
        <div class="reply_cnt">
            <div class="listinfo_content" id="wiki_cnt">
                {% raw unescape(reply.cnt_html) %}
            </div>

        </div>
    </div>
</div>

