<div class="panel-heading">
    {% if 'glyph' in kwd and kwd['glyph'] != '' %}
    <span class="{{ kwd['glyph'] }}"></span>
    {% else %}
    {% end %} {{ pcatinfo.name }}
<span class="headspan"><a style="color: #2795db;font-size: 12px" href="/filter/{{ pcatinfo.uid }}">More</a></span>
</div>
<ul class="list-group">
    {% for rec in recs %}
    <li class="list-group-item">
        <img src="{{ static_url('tass/images/a_bg.gif') }}" class="img-thumbnail">&nbsp&nbsp
        <a href="/list/{{ rec.slug }}"> {{ rec.name }}
            <span style="font-size:0.8em;background-color:#00adef;color:#fff;padding:1px;">
                ({{ rec.count }})
            </span>
        </a>
    </li>
    {% end %}
</ul>
