<script>
    function del_info(reply_id, id_num) {

        id_num = id_num.toString();


        var AjaxUrl = "/post/p/delete/" + reply_id;


        $.getJSON(AjaxUrl, function (Json) {

            $("#del_info_" + id_num).html('');


        });


    }
</script>


<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span> 信息列表</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>

                        <th>标题</th>
                        <th>分类</th>
                        <th>时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>

                    {% set ii = 0 %}

                    <ul>

                    {% for x in view_all %}
                            {% module post_link_lang_none(x.post_id, 'en_US') %}
                            {% module post_link_lang_none(x.post_id, 'zh_CN') %}
                    {% end %}

                        </ul>


                </table>
            </div>

        </div>
    </div>


</div>
