<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bukun">
    <meta name="Copyright" content="maplet.org">
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    {% module use_f2e('f2elib') %}
    {% block head %}{% end %}
</head>
<body>
{% block zhuti %}{% end %}
</body>
</html>
