{% extends "base_view.html" %}
{% block head %}
<title>地图画板 地图叠加</title>
{% block headinfo %}
{% end %}
{% end %}
{% block zhuti %}
<div class="panel panel-black">
    <div class="panel-heading">
        <H1>在线叠加地图</H1>

        <div class="container" style="width: auto;">
            <div class="row">
                <div class="col-md-10">
                    {% for x in app_arr %}
                    <a class="btn btn-info btn-xs" href="/map/{{ x.uid }}"><span class="badge">{{x.uid}}</span>
                        {{ x.title[:12] }}
                    </a>
                    {% end %}
                </div>
                <div class="col-md-2" style="text-align: right;">
                    <a class="btn btn-info btn-xs" href="/map/overlay/{{ app_str }}?fullscreen=1" target="_blank">
                        <span class="glyphicon glyphicon-fullscreen"></span> 全屏</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {% block content %}
        {% end %}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                地图叠加链接： <a href="http://www.maplet.org/map/overlay/{{ app_str }}">
                http://www.maplet.org/map/overlay/{{ app_str }}
            </a>
            </div>
            <div class="col-md-6 ">
                <div class="widget_baidu_share"> {% module baidu_share() %}</div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block right %}
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            最近使用
        </h3>
    </div>
    <ul class="list-group">
        {% if userinfo is None %}
        {% module app_recent_used( 'm', 10) %}
        {% else %}
        {% module app_user_recent(userinfo.user_name, 'm', 6) %}
        {% end %}
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="panel-title">
            使用最多
        </h3>
    </div>
    <ul class="list-group">
        {% if userinfo is None %}
        {% module app_most_used('m', 10) %}
        {% else %}
        {% module app_user_most(userinfo.user_name,'m', 6) %}
        {% end %}
    </ul>
</div>
{% end %}
