{% extends "bage.html" %}
{% block typebody %}
{% module use_f2e('codemirror') %}
<div class="row">
    <div class="col-sm-9">
        {% block content %}
        {% end %}
    </div>
    <div class="col-sm-3">
        <div class="sidebar">
            <div class="panel panel-black">
                <div class="panel-heading">
                    Most attention
                </div>
                <ul class="list-group" id="mostall">
                    {% module post_most_view(5, with_date = False, with_catalog= False) %}
                </ul>
            </div>
            <div class="panel panel-black">
                <div class="panel-heading">
                    Recent articles
                </div>
                <ul class="list-group">
                    {% module post_recent(5, with_date = False, with_catalog= False) %}
                </ul>
            </div>
        </div>

        <div class="panel panel-black">
            <div class="panel-heading">
                <h3 class="panel-title"> Classified catalogue</h3>
            </div>
            <ul class="list-group list-font">
                {% module category_menu() %}
            </ul>
        </div>
    </div>
</div>
{% end %}
