{% extends "../theme/bage.html" %}


{% block typebody %}
<div class="container">
    <div class="mtop">
        <ul class="breadcrumb">
            <li>Current location:</li>
            <li><a href="/" title="Home">{{ _('Home') }}</a></li>
            <li class="active">{{ _('Search result') }}</li>
        </ul>
    </div>
    <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-black">
                 {% module post_catalog_of('k100',slug=True, order=True) %}
                </div>
            </div>
        </div>
</div>
<br>


{% end %}
