{% extends "../theme/base_edit.html" %}
{% block head %}
<title>添加文档 开源地理空间基金会中文分会,OSGeo中文分会,OSGeo中国中心,开放地理空间实验室</title>
<meta name="keywords" content="添加文档,GIS,地理信息系统,开源GIS,OSGeo,OpenLayers,MapServer,GDAL,GIS教程,WebGIS">
<meta name="description" content="添加文档,开源地理空间基金会中文分会实验室，关注开源GIS，开放数据">
{% end %}
{% block edit %}
<h1 class="hden">添加文档</h1>
<div class="mtop">
    <ul class="breadcrumb">
        <li><a href="/" title="首页">首页 </a></li>
        <li><a href="/post/" title="文档">文档</a></li>
        <li class="active">添加文档</li>
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading">
        添加文档
    </div>
    <div class="panel-body">
        <form method="post" class="form-horizontal" role="form" id="form_post">
            <input type=hidden name=uid value="{{ kwd['uid'] }}">
            <input type=hidden id="keywords" name="keywords">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">标题</label>

                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="title" name="title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tags">标签</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="tags" name="tags" type="text"/>
                    </div>
                </div>
                {% for ii in range(0,5) %}
                <div class="form-group">
                    {% if ii == 0 %}
                    <label for="pcat0" class="col-sm-2 control-label">分类</label>
                    {% else %}
                    <label for="pcatx" class="col-sm-2 control-label"></label>
                    {% end %}
                    <div class="col-sm-3">
                        <select name="pcat{{ii}}" id="pcat{{ii}}" class="form-control"
                                onchange="g_load_postcat({{ii}})">
                            <option value="">请选择</option>
                            {% for taginfo in tag_infos %}
                            {% if taginfo.uid.endswith('00') %}
                            <option value="{{ taginfo.uid }}">{{ taginfo.name }}
                            </option>
                            {% else %}
                            {% end %}
                            {% end %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select name="gcat{{ii}}" id="gcat{{ii}}" class="form-control">

                        </select>
                    </div>
                </div>
                {% end %}




                <div class="form-group">
                    <label class="col-sm-2 control-label" for="logo">图片</label>

                    <div class="col-sm-10">

                        <input type="text" id="logo" name="logo" class="form-control" readonly/>

                        <br>

                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"  title="上传图片">
                            上传图片
                        </a>


                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="cnt_md">内容 </label>

                    <div class="col-sm-10">
                        <textarea rows=26 id="cnt_md" name="cnt_md" cols="80" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="sub1"></label>

                    <div class="col-sm-10">
                        <input id="sub1" type="submit" class="btn btn-primary" value="添加数据"/>
                    </div>
                </div>
            </fieldset>
        </form>
          {% module upload_pic() %}
    </div>
</div>
{% end %}
