{% extends "../theme/base_view.html" %}
{% block head %}
<title>{{ _('Tutorials') }} - {% module site_title() %}</title>
<meta name="keywords" content="{{ _('Tutorials') }} - {% module site_title() %}">
<meta name="description" content="{{ _('Tutorials') }} - {% module site_title() %}">


{% end %}
{% block zhuti %}
<ol class="breadcrumb">
    <li><a href="/">{{ _('Home') }}</a></li>

    <li class="active">
        <a href="/tutorial/">{{ _('Tutorials') }}</a>
        {% module category_by_slug(kwd['cat_slug'])%}
    </li>
</ol>
<div class="panel panel-black">
    <div class="panel-heading">{{ kwd['cat_name'] }}</div>
    <div class="panel-body">
        {% module show_page(page_id=catinfo.uid,userinfo = userinfo,count=10000)%}
    </div>
</div>

{% end %}
{% block right%}

{% module secondary_category_list(catid = catinfo.uid,userinfo = userinfo) %}
{% end %}