{% extends "../theme/bage.html" %}

{% block headinfo %}
<title>{{ _('Tutorials') }}</title>
<meta name="keywords" content="{{ _('Tutorials') }}">
<meta name="description" content="{{ _('Tutorials') }}">
{% end %}

{% block typebody %}
<ol class="breadcrumb">
    <li><a href="/">{{ _('Home') }}</a></li>
    <li class="active"> {{ _('Tutorials') }}</li>

</ol>
<div class="row">
    <div class="col-sm-12">

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-black">
                    {% module post_catalog_of('k100',slug=True) %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-black">
                    {% module post_catalog_of('k200',slug=True) %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-black">
                    {% module post_catalog_of('k300',slug=True) %}
                </div>
            </div>



            <div class="col-sm-4">
                <div class="panel panel-black">
                    {% module post_catalog_of('k800',slug=True) %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-black">
                    {% module post_catalog_of('kh00',slug=True) %}
                </div>
            </div>

        </div>
    </div>

</div>
<br>
{% end %}

