{% set ii = 1 %}
{% for postinfo in post_infos %}
<li class="list-group-item list-group-hover" {% if ii % 2 !=0 %} style="background-color: #eee;" {% end %}>
    {% set ii = ii + 1 %}
    <div class="row">
        {% if postinfo.logo != '' %}
        <div class="col-sm-3">
            <a href="/{{ kwd['router'] }}/{{ postinfo.uid }}">
                <img src="{{ postinfo.logo }}" class="img-thumbnail">
            </a>
        </div>
        <div class="col-sm-9">
            {% else %}
            <div class="col-sm-12">
                {% end %}
                <div class="listinfo_title" style="font-weight: bold">
                    <strong> <a href="/{{ kwd['router'] }}/{{ postinfo.uid }}">
                        {{ postinfo.title }}
                    </a></strong>

                </div>
                <br>
                <div>
                    {{ str(postinfo.date)[0:10] }}
                </div>
                <br>
                <div class="listinfo_content" style="width: 99%;overflow: hidden;margin: 5px 15px 20px 0px;">
                    {% module generate_abstract(postinfo.cnt_html)[:120] %}
                </div>

                <div class="listinfo_extra">
                    {% module post_labels(post_uid = postinfo.uid) %}
                </div>
            </div>
        </div>
</li>
{% end %}




