{% extends "./tmplinfo.html" %}
{% block headinfo %}
<script type="text/javascript">
    var obj = {};
    function change(span) {
        $('span[name="' + $(span).attr('name') + '"]').each(function () {
            if (this.checked && this != span) {
                this.className = "label label-default";
                this.checked = false;
            }
        });
        obj[$(span).attr('name')] = $(span).attr('value');
        span.className = "label label-primary";

        span.checked = true;
        tt = span.value;
        select();
    }
    function select() {

        // 选择之后，将条件放到 url 中，
        var html_condition = window.location.href + '/con';
        var html_pagination = window.location.href + '/num';
        for (var ii in obj) {
            if (obj[ii] != '') {
                html_condition += '/' + ii + '/' + obj[ii];
                html_pagination += '/' + ii + '/' + obj[ii];
            }
        }


        $.get(html_condition, function (result) {
            $("#resultSpan").html(result);
        });

        // $('#resultSpan').load(html_condition);
        $('#resultFenye').load(html_pagination);
    }
     function select_order(option) {

        // 选择之后，将条件放到 url 中，
        var html_condition = window.location.href  + '/con';
        var html_pagination = window.location.href  + '/num';
        for (var ii in obj) {
            if (obj[ii] != '') {
                html_condition += '/' + ii + '/' + obj[ii] ;
                html_pagination += '/' + ii + '/' + obj[ii] ;
            }
        }
        html_condition += '?sort=' + option;
        html_pagination += '?sort=' + option;
        $.get(html_condition, function (result) {
            $("#resultSpan").html(result);
        });

        // $('#resultSpan').load(html_condition);
        $('#resultFenye').load(html_pagination);
    }

    function keyword_del(key_name, id_num) {

        id_num = id_num.toString();

        var AjaxUrl = "/info_tag/remove/" + key_name;

        $.getJSON(AjaxUrl, function (Json) {

            $("#del_key_" + id_num).html('');

            select();
        });
    }


</script>
<script type="text/javascript">
    $(function () {
        select();
    });
</script>
{% end %}
{% block typebody %}
<div class="row">
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li>Current location：<a href="/">Home</a></li>
            <li><a href="/filter/{{pcatinfo.uid}}">{{pcatinfo.name}}</a></li>
            {% if catinfo %}
            <li><a href="/filter/{{catinfo.uid}}">{{catinfo.name}}</a></li>
            {% end %}
            {% if userinfo and( userinfo.role[2] >= '2') %}
            <li><a href="/publish/{{ widget_info['parentid'] }}" class="btn btn-primary btn-sm">Published
                {{ widget_info['catname'] }} Data</a></li>
            {% end %}
        </ol>
        <div class="row">
        <div class="col-sm-12">
            <a onclick="select_order('time_create')" class="btn btn-primary">创建时间</a>
            <a onclick="select_order('time_update')" class="btn btn-primary">更新时间</a>

            <a onclick="select_order('access_1d')" class="btn btn-primary">24小时阅读量</a>
            <a onclick="select_order('access_7d')" class="btn btn-primary">一周阅读量</a>
            <a onclick="select_order('access_30d')" class="btn btn-primary">一个月阅读量</a>
            <a onclick="select_order('view_count')" class="btn btn-primary">总阅读量</a>
        </div>
        </div><br>
        <ul class="list-group">
            {% block infolist %}
            {% end %}
        </ul>
        <div class="clear"></div>
        <div class="iga_pagination">
            <span id="resultFenye"></span>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-sm-12">
                {% module baidu_share() %}
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-4">

             <div class="alert alert-warning">Filter：
            {% set ii = 0 %}
            {% for x in condition_arr %}
            <span id="del_key_{{ ii }}">
                <a href="/info_tag/{{ x }}">{{ x }}</a>
                <a onclick="keyword_del('{{ x }}', {{ ii }} );">
                <span style="color: red; cursor: pointer">x</span>
                </a>
            </span>
            {% set ii = ii + 1 %}
            {% end %}
        </div>
            <ul class="list-group">
                {% block infoselect %} {% end %}
            </ul>

        <div class="panel panel-black">
            <div class="panel-heading">
                <span class="title colorme">
                    {% for taginfo in cat_enum %}
                {% if taginfo.uid.endswith('00') %}
               {{ taginfo.name }}
                {% end %}
                {% end %}
                </span>
            </div>
            <ul class="list-group">
                {% for taginfo in cat_enum %}
                {% if not taginfo.uid.endswith('00') %}
                <li class="list-group-item"><a href="/filter/{{ taginfo.uid }}">{{ taginfo.name }}</a></li>
                {% end %}
                {% end %}
            </ul>
        </div>
        <div class="panel panel-black">
            <div class="panel-heading">
                <span class="title colorme"> Recent documents </span>
            </div>
            <ul class="list-group">
                {% module post_recent(8, with_date = False, with_catalog= False,) %}
            </ul>
        </div>
    </div>
</div>
{% end %}
