{% extends "./tmplinfo.html" %}
{% block headinfo %}
<link rel="stylesheet" href="{{ static_url('f2elib/bootstrap-star-rating-master/css/star-rating.css')}}" type="text/css"
      media="all">
<script type="text/javascript" src="{{ static_url('f2elib/bootstrap-star-rating-master/js/star-rating.js') }}"></script>
{% end %}
{% block typebody %}

<script>
    var post_uid = "{{ postinfo.uid }}";
    var login = {{kwd['login']}};
</script>
<div class="row">
    <div class="col-sm-9">
        <ol class="breadcrumb" style="display: block;overflow: hidden; text-overflow:ellipsis; white-space: nowrap;line-height: 38px">
            <li>Current location：<a href="/">Home</a></li>
            <li><a href="/filter/{{pcatinfo.uid}}">{{pcatinfo.name}}</a></li>
            {% if catinfo %}
            <li><a href="/filter/{{catinfo.uid}}">{{catinfo.name}}</a></li>
            {% end %}
            {% if postinfo %}
            <li><a href="/{{kwd['router']}}/{{ postinfo.uid }}" > {{ postinfo.title }}</a></li>
            {% end %}
        </ol>
        <div class="panel panel-black">
            <div class="panel-heading listinfo_title">
             {{ postinfo.title }}
            </div>
        <div class="panel-body">
                    <div class="row">
                        {% if postinfo.logo != ''%}
                        <div class="col-sm-12 bor_bottom ">
                            <div class="col-sm-6 ">
                                <img src="{{ postinfo.logo }}" class="img-thumbnail">
                            </div>
                            <div class="col-sm-6">

                {% if userinfo %}
                {% module collect(userinfo.uid, postinfo.uid) %}
                {% end %}

                                 {% module widget_editor(kwd['router'], postinfo.uid, userinfo,review=True,url='filter') %}
                                <br>
                            <br>
                                <p><strong>Tag:</strong> <span class="post_label">
                     {% module post_labels(postinfo = postinfo) %}
                </span></p>
                              <span class="split">  {{ _('Author') }} : {{ postinfo.user_name }} </span>&nbsp;

                                <p><strong>Release time：</strong> {{ str(postinfo.date)[:10] }}</p>
                                <p><strong>Browsing times：</strong> {% raw postinfo.view_count %}</p>


                                {% if postinfo.extinfo.get('tag__file_download') %}
                               <p style="float:right;">
                                   <a class="btn btn-danger btn-sm"
                                onclick="entity_down('{{postinfo.uid}}')" target="_blank">
                                       <span class="glyphicon glyphicon-download-alt"> </span>
                                   Download Dataset</a></p>
                                {% else %}
                                {% end %}

                                {% if postinfo.extinfo.get('ext_pdf') %}
                                <p>    <a class="btn btn-info btn-sm"
                                href="{{postinfo.extinfo.get('ext_pdf','')}}" target="_blank">
                                   <span class="glyphicon glyphicon-new-window"> </span>
                                    View Document</a></p>
                                 {% else %}
                                {% end %}

                            </div>

                        </div>
                        <div class="col-sm-12 bor_bottom"><p>
                                {% block extrainfo %} {% end %}</p></div>
                        {% else %}
                        <div class="col-sm-12 bor_bottom">
                             {% if userinfo %}
                {% module collect(userinfo.uid, postinfo.uid) %}
                {% end %}
        {% module widget_editor(kwd['router'], postinfo.uid, userinfo,review=True,url='filter') %}
                            <br>
                            <br>
                            <p><strong>Tag:</strong> <span class="post_label">
                     {% module post_labels(postinfo = postinfo) %}
                </span>&nbsp;&nbsp;
                                <strong>Release time：</strong>
                                {{ str(postinfo.date)[:10] }} &nbsp;&nbsp;&nbsp;&nbsp;<strong>Browsing times：</strong>
                                {% raw postinfo.view_count %}&nbsp;&nbsp;&nbsp;&nbsp;

                            </p>
                              {% if postinfo.extinfo.get('tag__file_download') %}
                               <p style="float:right;">
                                   <a class="btn btn-danger btn-sm"
                                 onclick="entity_down('{{postinfo.uid}}')"  target="_blank">
                                       <span class="glyphicon glyphicon-download-alt"> </span>
                                   Download Dataset</a></p>
                                {% else %}
                                {% end %}

                                {% if postinfo.extinfo.get('ext_pdf') %}
                                <p>    <a class="btn btn-info btn-sm"
                                href="{{postinfo.extinfo.get('ext_pdf','')}}" target="_blank">
                                   <span class="glyphicon glyphicon-new-window"> </span>
                                    View Document</a></p>
                                 {% else %}
                                {% end %}
                            <p>
                                {% block extrainfo %} {% end %}</p>
                        </div>

                        {% end %}
                        <div class="col-sm-12">
                            <div class="entry">
                                <div class="listinfo_content">
                                    {% raw unescape(postinfo.cnt_html) %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="panel-footer">
        <div class="row">
            <div class="col-md-9" style="display: block;overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">
                Article link： <a href="/{{kwd['router']}}/{{ postinfo.uid }}"
                                 style="color: #003366;">
                {{ postinfo.title }}</a>
            </div>
            <div class="col-md-3">
                <div class="widget_baidu_share"> {% module baidu_share() %}</div>
            </div>
        </div>
    </div>
        </div>
    </div>
    <div class="col-sm-3">
           <div class="panel panel-black">
            <div class="panel-heading">
                <b> {{ _('Information evaluation') }}</b>
            </div>
            <div class="panel-body" style="font-size: x-small">
                {% module star_rating(postinfo, userinfo) %}
            </div>
        </div>
          <div class="panel panel-black">
                <div class="panel-heading">
                    Most attention
                </div>
                <ul class="list-group" id="mostall">
                    {% module post_most_view(5, with_date = False, with_catalog= False,kind='9') %}
                </ul>
            </div>
            <div class="panel panel-black">
                <div class="panel-heading">
                    Recent articles
                </div>
                <ul class="list-group">
                    {% module post_recent(5, with_date = False, with_catalog= False,kind='9') %}
                </ul>
            </div>

        <div class="panel panel-black">
            <div class="panel-heading"> {% for taginfo in cat_enum %}
                {% if taginfo.uid.endswith('00') %}
                {{ taginfo.name }}
                {% end %}
                {% end %}
            </div>
            <ul class="list-group">
                {% for taginfo in cat_enum %}
                {% if not taginfo.uid.endswith('00') %}
                <li class="list-group-item"><a href="/list/{{ taginfo.uid }}">{{ taginfo.name }}</a></li>
                {% end %}
                {% end %}
            </ul>
        </div>
    </div>


</div>

{% end %}



