{% extends "../tmpl_9/tmplinfo.html" %}
{% block headinfo %}

{% end %}
{% block typebody %}


<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>Current location：<a href="/">Home</a></li>
            <li><a href="/ext_excel/index">ext</a></li>

        </ol>
        <ul class="list-group">
            {% block infolist %}
            {% end %}
        </ul>
        <div class="clear"></div>
        <div class="iga_pagination">
            <span id="resultFenye"></span>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-sm-12">
                {% module baidu_share() %}
            </div>
        </div>
        <br>
    </div>

</div>


{% end %}
