{% extends "../theme/bage.html" %}
{% block headinfo %}

{% end %}
{% block typebody %}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
           <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
            <li><a href="/ext_excel/index">ext</a></li>
        </ol>

        <table class="table table-hover">

            {% set s = 1 %}
            {% for all in result %}
            {% if s == 1%}
            <tr>


                {%set ii = 1%}
                {% for x in all %}
                {% if ii < 6 %}
                <td>

                    {{ x }}

                </td>
                {% set ii = ii + 1 %}
                {% end %}
                {% end %}
            </tr>
            {% end %}
            <tr>


                {%set ii = 1%}
                {% for x in all %}
                {% if ii < 6 %}
                <td>
                    <a href="/ext_excel/{{all['id']}}">
                        {{ all[x] }}
                    </a>
                </td>
                {% set ii = ii + 1 %}
                {% end %}
                {% end %}
            </tr>
            {% set s = s + 1 %}
            {% end %}

        </table>


        <div class="clear"></div>
        <div class="row">
            <div class="col-sm-12">
                {% module baidu_share() %}
            </div>
        </div>
        <br>
    </div>

</div>
{% end %}
