{% extends "../theme/bage.html" %}
{% block typebody %}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
            <li><a href="/ext_excel/list">ext</a></li>
        </ol>
        <div class="panel panel-black">
            <div class="panel-heading listinfo_title">
                {{kwd['uid']}}
            </div>
            <div class="panel-body">

                <table class="table table-hover">


                    {% for x in result %}

                    {% for y in x %}

                    <tr>
                        <td>
                            {{y}}
                        </td>
                        <td>{{x[y]}}</td>
                    </tr>
                    {% end %}
                    {% end %}
                </table>
            </div>


        </div>
    </div>

</div>

{% end %}



