{% extends "../theme/tmpldoc.html" %}
{% block head %}

{% end %}
{% block content %}
<style>
    .pad10 {
        padding: 10px 0
    }
</style>
<ol class="breadcrumb">
    <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
    <li><a href="/{{ router }}/" title="{{ post_type }}">{{ post_type }}</a></li>
    <li class="active">{{ kwd['cat_name'] }}</li>
</ol>
<div class="panel panel-black">
    <div class="panel-heading">{{ kwd['cat_name'] }}</div>
    <div class="panel-body">
        {% for x in infos %}
        <div class="row">

            {% if x.logo != "" %}
            <div class="col-sm-4">
                <img src="{{ x.logo }}" class="img-thumbnail"/>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <div class="listinfo_title"><a href="/{{ router }}/{{ x.uid }}"> {{ x.title }} </a></div>
                    <div class="pad10">
                        {{ str(x.date)[0:10] }}
                    </div>
                    <div class="listinfo_content">{% module generate_abstract(x.cnt_html)[:215] %}</div>
                    <div class="listinfo_extra  pad10">

                        {% module post_labels(post_uid = x.uid) %}

                    </div>

                </div>
            </div>
            {% else %}
            <div class="col-sm-12">
                <div class="listinfo_title"><a href="/{{ router }}/{{ x.uid }}"> {{ x.title }} </a></div>
                <div class="pad10">
                    {{ str(x.date)[0:10] }}
                </div>
                <div class="listinfo_content ">{% module generate_abstract(x.cnt_html)[:215] %}</div>

                <div class="listinfo_extra pad10">

                    {% module post_labels(post_uid = x.uid) %}

                </div>

            </div>

            {% end %}
        </div>
        <div class="bor"></div>
        {% end %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% module catalog_pager( kwd['cat_slug'], kwd['current_page'] , tag = kwd['tag']) %}
    </div>
</div>
{% end %}
