{% extends "../theme/bage.html" %}
{% block typebody %}
 <ol class="breadcrumb">
            <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
            <li>{{ kwd['tag_name'] }}</li>
        </ol>
<div class="panel panel-black">
    <div class="panel-heading">
        <h3>{{ kwd['tag_name'] }}</h3>
    </div>
    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item"><a href="/{{kwd['router']}}/{{ rec.uid }}">{{ rec.title }}</a></li>
        {% end %}
    </ul>
    <div class="panel-footer">
        <ul class="pagination">

            {% module label_pager(kwd['kind'], kwd['tag_slug'], kwd['current_page'] ) %}
        </ul>
    </div>
</div>
{% end %}
