{% extends "../theme/tmpldoc.html" %}
{% block content %}
<ol class="breadcrumb">
    <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
    <li><a href="/post/recent"> {{ _('Document list') }}</a></li>
</ol>
<div class="panel panel-black">
    <div class="panel-heading">{{ _('Document list') }}</div>
    <ul class="list-group">
        {% for postinfo in postrecs %}
        <li class="list-group-item">
            <a href="/post/{{postinfo.uid}}" title="{{postinfo.title}}">
                {{ postinfo.title }}
            </a>
            <span>{{ datetime.datetime.fromtimestamp(postinfo.time_update).strftime('%Y-%m-%d %H:%M:%S') }}</span>
        </li>
        {% end %}
    </ul>
    <div class="clear"></div>
    <div>
        <ul class="pagination">
            {% raw kwd['pager'] %}
        </ul>
    </div>
</div>
{% end %}
