{% extends "../../theme/bage.html" %}
{% block typebody %}

<div class="mtop">
    <ul class="breadcrumb">
        <li>Current location：<a href="/">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Manage Log') }}</li>
    </ul>
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><b> {% module user_name_by_id(kwd['user_id']) %} - 访问列表 </b></div>
    <div class="panel-body">


        <table class="table table-bordered">
            <tr>
                <td>序号</td>
                <td>当前URL</td>
                <td>上一URL</td>
                <td>停留时间</td>
                <td>开始时间</td>
                <td>结束时间</td>


            </tr>

            {% set ii = 1 %}
            {% for x in infos %}
            <tr>
                <td>{{ ii }}</td>
                <td>{{ x.current_url }}</td>
                <td>{{ x.refer_url }}</td>
                <td> {{ x.time }}</td>
                <td> {{  datetime.datetime.fromtimestamp(x.time_create / 1000).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td> {{  datetime.datetime.fromtimestamp(x.time_out / 1000).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                 
            </tr>
            {% set ii = ii + 1%}
            {% end %}
        </table>

        {% module log_pager(kwd['user_id'],kwd['current_page'] ) %}
    </div>
</div>
{% end %}
