{% extends "../../theme/bage.html" %}
{% block typebody %}

<div class="mtop">
    <ul class="breadcrumb">
        <li>Current location：<a href="/">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Manage Log') }}</li>
    </ul>
</div>


<div class="panel panel-primary">
    <div class="panel-heading"><b> 登陆访问用户列表 </b></div>
    <div class="panel-body">
        <ul>
            {% for uu in user_list %}
            {% if uu.user_id %}
            <li style="float: left; padding: 10px ">
                 <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;
                <a href="/log/{{uu.user_id}}/">{% module user_name_by_id(uu.user_id) %}</a>
            </li>
            {% end %}
            {% end %}
        </ul>

    </div>
</div>


{% set ii = 1 %}
<div class="panel panel-primary">
    <div class="panel-heading"><b> 未登录用户访问记录(近期) </b></div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <td>序号</td>
                <td>当前URL</td>
                <td>上一URL</td>
                <td>停留时间</td>
                <td>开始时间</td>
                <td>结束时间</td>
            </tr>
            {% for x in no_user_list %}
            <tr>
                <td>{{ ii }}</td>
                <td><a href="{{ x.current_url }}" target="_blank"> {{ x.current_url }}</a></td>
                <td><a href="{{ x.refer_url }}" target="_blank"> {{ x.refer_url }}</a></td>
                <td>{{ x.time }}</td>
                <td> {{ datetime.datetime.fromtimestamp(x.time_create / 1000).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td> {{ datetime.datetime.fromtimestamp(x.time_out / 1000).strftime('%Y-%m-%d %H:%M:%S') }}</td>


            </tr>
            {% set ii = ii + 1 %}
            {% end %}

        </table>

    </div>
</div>


{% end %}
