{% autoescape None %}
{% extends "../theme/tmpleaf.html" %}
{% block head %}
<meta name="keywords" content="{{ postinfo.keywords }} ">
<meta name="description" content="{% module generate_description(postinfo.cnt_html) %}">
<script>
    $.get('/post_j/count_plus/{{postinfo.uid}}');
</script>

{% end %}
{% block content %}
<ol class="breadcrumb">
    <li>Current location: <a href="{% module site_url() %}">Home</a></li>
    <li>{% module the_category(postinfo.uid, order=True) %}</li>
    <li class="active">{{ postinfo.title }}</li>
</ol>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>{{ postinfo.title }}</h2>
        <span>{{ str(postinfo.date)[:10] }}</span>
        <span>Author: <a href="http://www.osgeo.cn/">OSGeo中国中心</a></span>
        <span>Browse: {{ postinfo.view_count }} 次</span>
        {% module widget_editor('post', postinfo.uid, userinfo) %}
    </div>
    <div class="panel-body">
        <div class="entry">
            <p class="summary"><strong>Abstract</strong>: {% module generate_abstract(postinfo.cnt_html) %} </p>

            <div class="entrycontent">
                {% raw unescape(postinfo.cnt_html) %}
            </div>
        </div>
        <div class="postmeta">
            <div class="wpyouvote"></div>
            <div class="clear"></div>
            <br>
            <strong>Article link:</strong>
            <a href="{% module site_url() %}/post/{{postinfo.uid}}" class="underline"> {{ postinfo.title }}</a>
            <br/>
            <strong>Copyright:</strong> Non special statement are original articles, reproduced please indicate the
            source： <a href="http://osgeo.cn" class="underline">OSGeo中国中心</a><br>
        </div>
    </div>
    <p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>

    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6">
                <div class="btn btn-primary">{% module previous_post_link(postinfo.uid) %}</div>
                <div class="btn btn-primary">{% module next_post_link(postinfo.uid) %}</div>
            </div>
            <div class="col-sm-6">
                {% module baidu_share() %}
            </div>
        </div>
    </div>
</div>
{% end %}


