{% autoescape None %}
{% extends "../theme/tmpldoc.html" %}
{% block head %}
<meta name="keywords" content="{{ postinfo.keywords }} ">
{#<meta name="description" content="{% module generate_abstract(postinfo.cnt_html) %}">#}

{% end %}
{% block content %}

<ol class="breadcrumb">
   <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
    <li>{% module the_category(postinfo.uid) %}</li>
    <li class="active">{{ _('Text') }}</li>
</ol>
<div class="panel panel-black">
    <div class="panel-heading">
        <h3 class="listinfo_title" style="line-height: 35px">{{ postinfo.title }}</h3>
        <span class="split">  {{ _('Author') }} : {{ postinfo.user_name }} </span>&nbsp;
        <span>{{ datetime.datetime.fromtimestamp(postinfo.time_create).strftime('%Y-%m-%d %H:%M:%S')}}</span>
        <span>{{ _('Browse') }}: {{ postinfo.view_count }} </span>
        {% if userinfo %}
        {% module collect(userinfo.uid, postinfo.uid, en=True) %}
        {% end %}
        {% module widget_editor(kwd['router'], postinfo.uid, userinfo) %}
    </div>
    <div class="panel-body">

        {% module post_state(postinfo = postinfo,userinfo = userinfo,kind = postinfo.kind,authority='1')%}
        <div class="entry">
            <div class="bor_bottom">
                <b>{{ _('Category') }} :</b> <span class="post_cat">{% module post_catalogs(postinfo.uid,'1') %}</span>
            </div>
            <p class="summary"><strong>{{ _('Abstract') }}</strong>: {% module generate_abstract(postinfo.cnt_html) %} </p>

            <div class="entrycontent">
                {% raw unescape(postinfo.cnt_html) %}
            </div>
            <div class="bor_bottom">
                <b>{{ _('Label') }} :</b>
        <span class="post_label">
             {% module post_labels(post_uid = postinfo.uid) %}
        </span>
            </div>
            <div class="listinfo_content">
                {% module reply_panel(postinfo.uid, userinfo, en=True) %}
            </div>
        </div>

        <div class="postmeta">
            <div class="wpyouvote"></div>
            <div class="clear"></div>
            <br>
            <strong>{{ _('Article link') }}:</strong>
            <a href="{% module site_url() %}/{{kwd['router']}}/{{postinfo.uid}}" class="underline"> {{ postinfo.title }}</a>
            <br/>
            <strong>{{ _('Copyright') }}:</strong> {{ _('Non special statement are original articles, reproduced please indicate the  source') }}
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6">
                <div class="btn btn-primary">{% module previous_post_link(postinfo.uid) %}</div>
                <div class="btn btn-primary">{% module next_post_link(postinfo.uid) %}</div>
            </div>
            <div class="col-sm-6">
                {% module baidu_share() %}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-black">
    <div class="panel-heading"><h3 class="panel-title">{{ _('Related') }}</h3></div>
    <ul class="list-group" style="overflow: hidden;">
        {% for x in relations %}
        <li class="list-group-item" style="overflow: hidden;">
            <a href="/{{kwd['router']}}/{{ x.post_id }}">
               {{ x.post_title }}
                {% if x.post_id[0] == 'v' %}<span class="badge" style="color:yellow">v</span>{% end %}
            </a>
        </li>
        {% end %}

    </ul>
</div>
{% end %}


