{% extends parent_template %}

{% block head %}
<title>{{ cat_name }} List</title>
{% endblock %}
{% block mainbody %}
<div class="col-sm-9">
    <div class="card">
        <div class="card-header">{{ cat_name }}</div>
        {% if data %}
        <div class="panel-body">
            <div class="row">
                {% for dat in data %}
                <li class="list-group-item">

                    <div class="row ">

                        {% if dat.logo != None%}
                        <div class="col-sm-4">
                            <img src="{{ dat.logo }}" class="img-thumbnail" style="border: 1px solid #ddd"
                                 alt="{{ dat.en_title }}"/>
                        </div>
                        <div class="col-sm-8">

                            <div class="listinfo_title">

                                <a href="{% url 'qgismap:map_view' mapid=dat.id category='bigscreen' %}"
                                   title="{{ dat.en_title }}"> {{ dat.en_title }} </a>
                            </div>

                            <br>
                            <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>
                            <br>
                            <div class="listinfo_content padt10">
                                {{ dat.get_en_html_content | striptags |  truncatechars:130 }}
                            </div>

                        </div>
                        {% else %}

                        <div class="col-sm-12">


                            <div class="listinfo_title">
                                <a href="{% url 'qgismap:map_view' mapid=dat.id category='bigscreen' %}"
                                   title="{{ dat.en_title }}"> {{ dat.en_title }} </a>
                            </div>

                            <br>
                            <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>
                            <br>
                            <div class="listinfo_content padt10">
                                {{ dat.get_en_html_content | striptags |  truncatechars:130 }}
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </li>

                {% endfor %}


                 <br>
            <div class="row">
            <div class="col-sm-12">
                       {% include "page.html"  with  data=data %}
            </div>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="col-sm-3">
    <div class="card-header">
        {{ _('Map category') }}
    </div>
    {% include "map_catalog_of.html" with Category=Category cat_name='bigscreen' %}
</div>
{% endblock %}