<div class="row">
    <div class="col-sm-12">


        <div class="card-body">


            {% for dat in data %}
            {% if dat.logo != '' %}
            <div class="col-sm-4">
                <div class="issues_callout" style="border: 0px">

                    <a href="{% url 'document:doc_view' pk=dat.id %}">
                        <img width="100%" id="mainls" src="/media/{{ dat.logo }}" alt="/media/{{ dat.logo }}"
                             class="img-thumbnail">

                        <h3>{{ dat.title }}</h3>

                    </a>


                </div>

            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>


<div style="clear:both;"></div>









