{% extends "../theme/bage.html" %}
{% block typebody %}
<div class="mtop">
    <ul class="breadcrumb">
        <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Modify personal information') }}</li>
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading"><b> {{ _('Modify personal information') }} </b></div>
    <div class="panel-body">
        <form class="form-horizontal" action="/user/changeinfo" method="post" id="form_changeinfo">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="rawpass">{{ _('Original Password') }}</label>

                <div class="col-sm-10">
                    <input type="password" name="rawpass" id="rawpass" class="form-control"
                           placeholder="Please enter the original password"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user_email">{{ _('Email') }}</label>

                <div class="col-sm-10">
                    <input type="text" name="user_email" id="user_email" class="form-control"
                           value="{{userinfo.user_email}}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="ext_mobile">{{ _('Mobile') }}</label>

                <div class="col-sm-10">
                    <input type="text" name="def_mobile" id="ext_mobile" class="form-control"
                           value="{{ userinfo.extinfo.get('def_mobile','')}}"
                           placeholder="Please enter a new Mobile."/>
                </div>
            </div>
<div class="form-group">
                <label class="col-sm-2 control-label">{{ _('Gender') }}</label>

                <div class="col-sm-10">
                    <select name="def_gender" id="def_gender" class="form-control">
                        <option value="Male" {% if userinfo.extinfo.get('def_gender','') == "Male"%} selected {% end %}>{{ _('Male') }}</option>
                        <option value="Female" {% if userinfo.extinfo.get('def_gender','') == "Female"%} selected {% end %}>{{ _('Female') }}</option>
                        <option value="Secrecy" {% if userinfo.extinfo.get('def_gender','') == "Secrecy"%} selected {% end %}>{{ _('Secrecy') }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ _('Profile') }}</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="def_profile" id="def_profile"
                           value="{{ userinfo.extinfo.get('def_profile','') }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="up"></label>

                <div class="col-sm-10">
                        <span id="up"><a href="/entity/_add" target="_blank" class="pure-button" role="button">
                            {{ _('Upload profile photos') }}</a></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>

                </div>
            </div>
        </form>
    </div>
</div>
{% end %}

