{% extends "../theme/bage.html" %}
{% block typebody %}
<div class="mtop">
    <ul class="breadcrumb">
       <li>{{ _('Current location') }}: <a href="{% module site_url() %}">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Login failed') }}</li>
    </ul>
</div>
<div class="panel panel-black">
    <div class="panel-heading"><b> {{ _('Login failed') }} </b></div>
    <div class="panel-body">
        <div class="alert alert-danger">{{ _(kwd.get('info')) }}</div>
        <Br>
        {% if kwd.get('code') != '2' %}
        <div style="text-align: center;">
            <a href="/user/login" class="btn btn-warning " style="text-align: center;">{{ _('Reenter') }}</a>
        </div>
        {% end %}
    </div>
</div>
{% end %}

