{% extends "heitu_base.html" %}

{% block head %}
<title>{{ cat_name }} List</title>
{% endblock %}
{% block mainbody %}
<div class="col-sm-9">
    <div class="card">
        <div class="card-header">{{ cat_name }}</div>
        {% if data %}
        <div class="panel-body">

            {% for dat in data %}
            <li class="list-group-item">

                <div class="row ">

                    {% if dat.logo != "" %}
                    <div class="col-sm-4">
                        <img src="{{ dat.logo }}" class="img-thumbnail" style="border: 1px solid #ddd"
                             alt="{{ dat.title }}"/>
                    </div>
                    <div class="col-sm-8">

                            <div class="listinfo_title">
                                
                                <a href="{% url 'qgismap:map_view' mapid=dat.id category='heitu' %}" title="{{ dat.title }}"> {{ dat.title }} </a>
                            </div>
                            <br>


                            <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>
                            <br>
                            <div class="listinfo_content padt10">  {{ dat.cnt_md |  truncatechars:130}}</div>

                    </div>
                    {% else %}
                    <div class="col-sm-12">
                        <div class="listinfo_title">
                            <a href="{% url 'qgismap:map_view' mapid=dat.id category='heitu' %}" title="{{ dat.title }}"> {{ dat.title }} </a>
                        </div>

                        <br>
                        <div class="padt10"> {{ dat.create_time | date:"Y-m-j" }}</div>
                        <br>
                        <div class="listinfo_content padt10"> {{ dat.cnt_md | truncatechars:130}}</div>
                    </div>
                    {% endif %}
                </div>
            </li>

            {% endfor %}


            {# 分页链接 #}
            {% if is_paginated %}
            <ul class="pagination">
                {% if data.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}

                {% for i in data.paginator.page_range %}
                {% if data.number == i %}
                <li class="page-item active"><span class="page-link"> {{ i }} <span
                        class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if data.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ data.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}

        </div>

        {% endif %}
    </div>
</div>
<div class="col-sm-3">
    <div class="card-header">
        {{_('Map category')}}
    </div>
     {% include "map_catalog_of.html" with Category=Category cat_name='heitu' %}
</div>
{% endblock %}